[2020-07-09 11:34] franky47 opened #1 "[Feature Request] Add organization stats"
Most of my open-source work is moved to dedicated organizations ([47ng](https://github.com/47ng), [FortySevenEffects](https://github.com/FortySevenEffects), [Chiffre](https://github.com/chiffre_io)), for scoping and to avoid cluttering my personal repos.

I'd be happy to contribute a feature to include aggregated organization stats.

API ideas:
[code]

[2020-07-09 11:46] franky47 opened #2 "[Feature Request] JSON output"
At the moment, requests are made every time someone visits a user's profile, which will quickly go over your free limits on Vercel.

Since those stats don't really require a real-time update, they could be updated periodically and cached. Because the username/username repository is (for now) only used for profile READMEs, one way to do this could be to use GitHub Actions in cron mode and update th

[2020-07-09 11:56] anuraghazra commented on #1
@franky47 great idea! okay i will look into it. and try to add org support. meanwhile you can also contribute if you want.

[2020-07-09 11:58] anuraghazra commented on #2
Yes this is a possibility but i don't want to do this because i want it to be simple as pasting a URL into markdown thats why i avoided github actions and cron job stuffs.

Yes caching is an issue, i'll try to add a request cacher with vercel. let me see what i can do

[2020-07-09 12:00] franky47 commented on #2
It makes sense, I agree that simplicity is paramount.

[2020-07-09 12:00] #2 closed

[2020-07-10 05:37] ucalyptus opened #9 "[Bug] Repo type Jupyter Notebook blends with the number of stars"
Check this picture. Not just Jupyter, any language with that length of string would superimpose with the stars feature.
![Screenshot from 2020-07-10 11-06-52](https://user-images.githubusercontent.com/36279638/87120174-7a8df880-c29d-11ea-8114-34f54b334692.png)

[2020-07-10 05:37] ucalyptus commented on #9
cc: @anuraghazra

[2020-07-10 05:39] anuraghazra commented on #9
@ucalyptus thanks for reporting the bug. Its because of the text's length is large no problem I'll fix it asap. Thanks!

[2020-07-10 05:50] ucalyptus opened #10 "[Bug] One of my repo doesn't render"
This link leads to the screenshot https://github-readme-stats.anuraghazra1.vercel.app/api/pin/?username=ucalyptus&repo=keras-notify
Check that https://github.com/ucalyptus/keras-notify exists
cc: @anuraghazra

![Screenshot from 2020-07-10 11-18-54](https://user-images.githubusercontent.com/36279638/87120898-3bf93d80-c29f-11ea-9b86-e05eb3c182c5.png)

[2020-07-10 06:01] anuraghazra commented on #10
Thanks for reporting the bug @ucalyptus this happened because your repo does not have a description i'll fix this now.

[2020-07-10 06:05] anuraghazra commented on #10
Hello @ucalyptus it should be fixed in a moment.

BTW sorry i accidentally added the preview links in the docs and you are using that use this link ->

[code]

[2020-07-10 06:07] #10 closed

[2020-07-10 07:15] #9 closed

[2020-07-10 07:17] anuraghazra commented on #9
@ucalyptus should be fixed now

[![Fixed](https://github-readme-stats.vercel.app/api/pin/?username=ucalyptus&repo=HybridSN-Pytorch)](https://github.com/anuraghazra/github-readme-stats)

[2020-07-10 07:19] ucalyptus commented on #9
Absolutely. Thank you

[2020-07-10 07:31] forkbabu opened #13 "[Feature Request] Pin gists the way we pin repos"

[2020-07-10 07:39] anshumanv opened #14 "Bug: Wrong commit count"
Hey 👋

Cool project, is there a limitation to the number of commits/PRs it can fetch?

They seem to be off by quite a lot for instance -

![image](https://user-images.githubusercontent.com/21009455/87129089-6acae000-c2ae-11ea-8edc-b46abce403a2.png)

In normal GitHub search -
![image](https://user-images.githubusercontent.com/21009455/87129136-7d451980-c2ae-11ea-8033-2674ad204b62.png)

[2020-07-10 08:16] anuraghazra commented on #14
Hmm it should be fine.. it fetches the data from Github GraphQL api so it can't be invalid. although it is possible that you contributed to github organizations and i think those are not counted. #1

![Stat](https://github-readme-stats.vercel.app/api?username=anshumanv)

[2020-07-10 08:21] anshumanv commented on #14
Ah okay, very strange because PRs count is close to correct but commit count is still far off even if you exclude org commits.

[2020-07-10 08:39] anuraghazra commented on #14
@anshumanv i think i got it. the issue is that github only returns last years contribution commits

[code]

I can set from and to variables in the query but github does not allow more than one year's contributions to be shown at once

I have to find a way to fix this. do you have any ideas on this?

[2020-07-10 08:42] anuraghazra commented on #13
Thanks @forkbabu i'll see what i can do :D

[2020-07-10 09:04] anuraghazra commented on #14
@anshumanv what i did is that looped through all the years and fetched the commits individually and seems kinda close.

![github-readme-issue](https://user-images.githubusercontent.com/35374649/87137317-51c82c00-c2ba-11ea-926d-29daf764c8dc.PNG)

[2020-07-10 09:07] anshumanv commented on #14
Yes, this is the basic brute force solution but I think you'll run into API rate limit after a while if you do this for every user.

[2020-07-10 09:07] anshumanv commented on #14
Maybe you can give an option for users to use their own tokens?

[2020-07-10 09:13] anuraghazra commented on #14
No i don't think i can hit the rate limit because it's already authenticated by the server... i auth token in env.

[2020-07-10 09:15] anuraghazra commented on #14
Also i don't think i can give users an option to add their own tokens because that would be a huge security vulnrability if someone did like this `/api?username=abc&token=SECRET_TOKEN` because the url would be public

[2020-07-10 09:15] anshumanv commented on #14
Yep even that doesn't give you infinite requests 😄 , IIRC you get 5k req per hour which can work for now till this gets really popular.

[2020-07-10 09:16] anshumanv commented on #14
Yes, only option is for user to host their own app but that seems like an overkill for now

[2020-07-10 09:16] anshumanv commented on #14
And anyways tokens in request params will be deprecated in near future. You have to send it in body.

[2020-07-10 09:20] anuraghazra commented on #14
Just hope not everyone would have commits from 1980's like yours :laughing: your account will hit the api 42 times :laughing:

[2020-07-10 09:30] anshumanv commented on #14
Lol, that was when in my 1st year I committed using a messed up system clock, forgot to revert it 😥

Maybe I should take care of it real quick 😛

[2020-07-10 13:15] nombrekeff commented on #13
That would be a cool addition :)

[2020-07-10 13:26] anuraghazra commented on #13
@nombrekeff yup, although i don't know how do i handle the syntax highlighting because github-readme-stat returns SVG images and it has to be static. so i think i might have to write a whole syntax highlighter for svg elements..

also SVG texts are not really optimal in terms of alignment, it's a real pain to get things where we want.

[2020-07-10 13:37] nombrekeff commented on #13
Ohh, I see, definitely tricky... Didn't think about that... maybe just show the title and description and star count?

Even if you could highlight the code, you wouldn't want to show the full gist. I would imagine as it would take a lot of space.

[2020-07-10 13:37] anuraghazra commented on #13
yes true... maybe i can just show the gists stats

[2020-07-10 13:40] nombrekeff commented on #13
I haven't looked at the source code yet, but I will be taking a look at it this evening and will try and help you out a bit with this.

[2020-07-10 13:41] anuraghazra commented on #13
Sound good to me :D

[2020-07-10 13:50] AymanArif opened #18 "null for name AymanArif"
I am using Github Stats in this form:

[code]

**Output:**

![null](https://user-images.githubusercontent.com/13992816/87161498-3d982500-c2e2-11ea-8d87-31ea85fc6a88.png)
)

I think it could be because my name is in Camel-Case.

Appreciate any help. :smiley:

[2020-07-10 14:09] anuraghazra commented on #18
Well, i think you don't have a name
![noname](https://user-images.githubusercontent.com/35374649/87163460-05461600-c2e5-11ea-81b5-1b93a0085313.PNG)

Github API is returning null also.
![noname-gql](https://user-images.githubusercontent.com/35374649/87163491-142cc880-c2e5-11ea-82a2-bc6963c6947a.PNG)

[2020-07-10 14:36] AymanArif commented on #18
Hi @anuraghazra.
Is there onboarding to Github's GraphQL API? If so, can you share link to the documentation?

[2020-07-10 14:39] nombrekeff commented on #18
@AymanArif It seems like you only have your username set.

Maybe we could add an option where the user specifies if he wants the username or name to be rendered?

[2020-07-10 14:44] anuraghazra commented on #18
Do you mean any learning resources? well you don't need any documentation links because graphql is self documenting try it out https://developer.github.com/v4/explorer/

https://graphql.github.io/

[2020-07-10 14:44] anuraghazra commented on #18
Hmm yes that could be an option

[2020-07-10 15:05] anuraghazra commented on #18
Looks like it worked @AymanArif

![Ayman's GitHub stats](https://github-readme-stats.vercel.app/api?username=aymanarif&hide=["stars","prs"])

[2020-07-10 15:17] AymanArif commented on #18
Silly from my part. There was no username in GitHub settings. 😂

Anyway, thanks for replying swiftly.

[2020-07-10 15:17] #18 closed

[2020-07-11 07:53] abhisheknaiidu opened #20 "Showing .. after the repo description"
idk why it's showing .. after every repo description. It's looks wierd.

<img width="868" alt="Screenshot 2020-07-11 at 1 21 26 PM" src="https://user-images.githubusercontent.com/55599878/87219520-8818b080-c379-11ea-8b18-2735971773e9.png">

[2020-07-11 08:06] anuraghazra commented on #20
Well it's because i'm trimming the text if it's too long, but appending ".." after the text to indicate the text is trimmed.. i'll fix it :D thanks for reporting

[2020-07-11 08:21] abhisheknaiidu commented on #20
yea i got it, but i think it's better to trim text only if it crosses certain limit, not for shorter texts also 😅
BTW, Nice Work bro, really liked it 👍🏽

[2020-07-11 08:47] anuraghazra commented on #20
Yes the fix is already on its way. Thanks!

[2020-07-11 08:50] #20 closed

[2020-07-11 08:53] anuraghazra commented on #20
Thanks @abhisheknaiidu it should be fixed now

<a href="https://github.com/abhisheknaiidu/A-POP">
  <img align="left" src="https://github-readme-stats.vercel.app/api/pin/?username=abhisheknaiidu&repo=A-POP" />
</a>

<a href="https://github.com/abhisheknaiidu/IIITDMJ-GPA">
  <img align="left" src="https://github-readme-stats.vercel.app/api/pin/?username=abhisheknaiidu&repo=IIITDMJ-GPA" />
</a>

[2020-07-11 16:29] metaskills opened #23 "No License?"
I don't think I saw one here? Is this MIT?

[2020-07-11 16:43] anuraghazra commented on #23
Yes it's MIT, thanks for letting me know, i forgot to add it :D

[2020-07-11 16:44] #23 closed

[2020-07-11 17:20] MarcinK50 opened #25 "GitHub Dark Theme"
Hello!
I'm using the <a href="https://chrome.google.com/webstore/detail/github-dark-theme/odkdlljoangmamjilkamahebpkgpeacp" target="_blank">Github Dark Theme</a> extension and your add-ons don't look good. Can you fix it?

Greetings Marcin
![image](https://user-images.githubusercontent.com/55882206/87229794-823bc300-c3ab-11ea-8978-88346ec324d4.png)

[2020-07-11 17:24] anuraghazra commented on #25
@MarcinK50 thanks for reporting,  i see, i don't think there is anything i can do to fix it.

Only thing i can do is just remove the background color from that card but then the text will blend with the dark color.

Or i might give user's option to choose dark theme card with a url param `?theme=dark` but you have to do it manually then, there is no way i can do it automatically.

[2020-07-11 17:29] MarcinK50 commented on #25
Thanks for the quick reply! Tes, you can make a special url for dark mode

[2020-07-11 17:30] anuraghazra commented on #25
@MarcinK50 yup i will see what i can do :D

[2020-07-11 17:30] anuraghazra commented on #25
Meanwhile, you can also try to implement it too :D

[2020-07-11 19:35] anuraghazra commented on #25
@MarcinK50 I think you can make use of #27 to make the cards look good on darkmode 😄 after it gets merged.

[2020-07-11 19:43] metaskills opened #28 "Lambda Deploy"
I did a little work to deploy this to AWS Lambda. I rather like your setup so this is not really an issue and more of info sharing.

https://github.com/metaskills/github-readme-stats-lambda

[2020-07-11 19:44] metaskills commented on #1
I did that in my fork on AWS Lambda. For the `pin.j` I did:

[code]

[code]

[code]

You can see too that I added an `<a>` link to the repo name too.

[2020-07-11 19:49] anuraghazra commented on #28
Awesome work! Seems nice.

Although I don't have much experience on AWS so it looks complicated to me. 😅

Great work though. Is this deployed yet?

[2020-07-11 19:54] anuraghazra commented on #1
Will it actually show the stats including all the Orgs?

[2020-07-11 19:56] anuraghazra commented on #1
@metaskills  Also yes that link would work but will it work in github readmes? Hmmm i dont think soo because it is served as image not as raw html elements. 🤔

[2020-07-11 19:56] metaskills commented on #28
Yup, I have it running now building out my first metaskills/README.md

[2020-07-11 20:02] anuraghazra commented on #28
Yup looks good

![Lambdy](https://8zqkewwfb2.execute-api.us-east-1.amazonaws.com/prod/api/pin/?username=anuraghazra&repo=github-readme-stats)

[2020-07-11 20:03] metaskills commented on #1
Oh yea... good point. Without a <a> in your markdown, you can click it (views svg) then click it again. But easier to put the links in your markdown I suspect.

[2020-07-11 20:04] anuraghazra commented on #1
Yes just wrapping the markdown image inside a link is a good way.

[2020-07-11 20:06] anuraghazra commented on #28
Btw @metaskills if have any ideas of how to solve the issue of rate limiting then let me know because github api only allows 5k requests per hour so eventually if lot of people use it it'll hit the limit.

[2020-07-11 23:20] metaskills commented on #28
Well, on Lambda if I hit the rate limit, I would do some ClickOps and setup a CloudFront distribution but there a few ways to do that and some involve a custom domain name too. Then return a `public, max-age=` of some 10m or something. Or... the Lambda could write to /tmp or memory cache and return that for some time. Lot's of ways.

[2020-07-12 07:02] MarcinK50 commented on #25
Thanks!

[2020-07-12 07:58] anuraghazra commented on #28
Yup, i'll see what i can do, thanks for opening the isssue and your awesome lambda deployment :D closing this for now, feel free to open another one if you have any questions or queries :rocket:

[2020-07-12 07:59] #28 closed

[2020-07-12 09:02] anuraghazra commented on #25
Hey @MarcinK50 now you can make use of card customization feature to make it look good on darkmode! :partying_face:

[![Anurag's github stats](https://github-readme-stats.vercel.app/api?username=MarcinK50&show_icons=true&title_color=fff&icon_color=79ff97&text_color=9f9f9f&bg_color=151515)](https://github.com/anuraghazra/github-readme-stats)

[2020-07-12 09:04] anuraghazra commented on #25
I hope it solves your issue, feel free to open any issue if you have any question or found any bugs :D Thanks!

[2020-07-12 09:04] #25 closed

[2020-07-12 12:46] 1UC1F3R616 opened #30 "help with hosting"
I am new to vercel hosting,
When I clicked on deploy I got an error related to code not found,
I belive I did a mistake in setting the correct directory of code on vercel. Can you please be adding more info for self hosting.
- Thanks

[2020-07-12 12:49] anuraghazra commented on #30
After clicking the deploy button you should get this screen

![image](https://user-images.githubusercontent.com/35374649/87246603-153c3200-c46c-11ea-8cf5-cf040ff70a91.png)

[2020-07-12 12:54] 1UC1F3R616 commented on #30
@anuraghazra yes after here please

[2020-07-12 12:57] anuraghazra commented on #30
Then just click continue and select your account and again click continue, after that you have to create a personal access token from github to add it in the environment variables

[2020-07-12 12:58] 1UC1F3R616 commented on #30
@anuraghazra
![image](https://user-images.githubusercontent.com/41824020/87246853-7ca6b180-c46d-11ea-8e2e-58ff75b7c710.png)

[2020-07-12 12:59] anuraghazra commented on #30
yeah just select the personal account

[2020-07-12 13:05] 1UC1F3R616 commented on #30
![image](https://user-images.githubusercontent.com/41824020/87246937-40c01c00-c46e-11ea-8533-2117969e4436.png)
Continue from here

![image](https://user-images.githubusercontent.com/41824020/87246945-56cddc80-c46e-11ea-806f-50dfe46cab1e.png)
Environment variable set here any other change required? @anuraghazra

[2020-07-12 13:06] anuraghazra commented on #30
It should just work. try it

[2020-07-12 13:09] 1UC1F3R616 commented on #30
@anuraghazra
Below is the error that is coming
![image](https://user-images.githubusercontent.com/41824020/87247063-0014d280-c46f-11ea-995b-2472838572a7.png)

[2020-07-12 13:13] 1UC1F3R616 commented on #30
Tried after cleaning also but no benefit

[2020-07-12 13:13] #30 closed

[2020-07-12 13:15] anuraghazra commented on #30
Make sure your vercel account is connected to Github

[2020-07-12 13:15] 1UC1F3R616 commented on #30
It got deployed, recived a mail
I found that the repo that it created was empty so I cloned the code and added in it's created repo and then used a different name.
I am not sure if this is the reason that solved the issue. But maybe someone can try this in future.
Thankyou again

[2020-07-12 13:18] anuraghazra commented on #30
I see, well vercel should automatically clone the repo to your account if you have github integration enabled

[2020-07-12 13:21] 1UC1F3R616 commented on #30
Yes it's enabled without that it wasn't letting me go ahead.
Btwn this is a really nice project, thanks for this.
Issue is solved.

[2020-07-12 13:28] 1UC1F3R616 commented on #14
@anshumanv It's showing yearly commit for me I see not total from when I started
Is this a feture for future pr or I using some wrong parameter?

[2020-07-12 13:29] anuraghazra commented on #30
Great!

[2020-07-12 14:39] anuraghazra commented on #14
@1UC1F3R616 it is currently shows 1years total commit, its a limitation of github api. checkout #15 for more info

[2020-07-12 19:40] olets commented on #30
I had the same issue: Vercel created a new empty repo. I'm new to Vercel so don't know if this is a Vercel bug.

My solution was to fork this repo, then at https://vercel.com/import, "Import Git Repository" _not_ "Import Template"

Might even be better than using this repo as a template, because GitHub recognizes my repo as a fork. So your fork count goes up, and I get the convenient UI for seeing

[2020-07-13 03:01] 1UC1F3R616 commented on #30
Thanks @olets , This is perfect.

[2020-07-13 08:37] anuraghazra opened #34 "Improvement: Use SVG icons instead of ASCII icons to be consistent."
Currently we are using ASCII icons are they are not really great choice because different devices render them differently, also they have size & variation inconsistencies, and also some devices might not render them. see #33

That's why i think it's better to use SVG icons similar to how "Github Extra Pins" uses svg icons, but the problem is i can't figure out how to render the SVGs inside of <tsp

[2020-07-13 09:43] Kian-Merchant opened #36 "Name Kian-Merchant returning null"
When trying to use:
[code]

it returns this:
![Kian's github stats](https://github-readme-stats.vercel.app/api?username=kian-merchant&show_icons=true&hide_border=true)

____

am I doing something wrong? I think it might be my "-" in my name

[2020-07-13 09:45] anuraghazra commented on #36
Hi @Kian-Merchant thanks for opening the issues seems like you don't have a name set in your github profile.

Related to #18

[2020-07-13 10:27] #36 closed

[2020-07-13 10:27] Kian-Merchant commented on #36
Thanks for the reply, that works!

[2020-07-13 12:12] kingthorin opened #39 "Star Count Issue?"
Maybe I'm not understanding what "Total Stars" is supposed to represent but shouldn't these values match?

![image](https://user-images.githubusercontent.com/7570458/87303080-887f8b80-c4e0-11ea-8620-cca476fcd96d.png)

[2020-07-13 12:45] anuraghazra commented on #39
Those are two different values.

In the first image those are the repos that i starred, and on the second image it count how many stars i gained.

[2020-07-13 13:28] kingthorin commented on #39
Do you mean across a dev's repos? Or is there a way to actually give a github user stars? (That might be a newb question, but I honestly don't see user/account stars functionality anywhere, but could be overlooking it.)

Either way something still seems off. For example for myself it shows 1.4k stars, however, I have like one actual repo with one star and one fork with one star (dunno who would st

[2020-07-13 13:37] anuraghazra commented on #39
Okay i think it's also fetching the forked repo's stars, will fix it.

[2020-07-13 13:39] kingthorin commented on #39
I'll keep poking around and see if I can figure out what's going on.

[2020-07-13 13:43] anuraghazra commented on #39
Ahh i see got it. i think it's also fetching the repos you contributed to and counting those stars too.

[2020-07-13 13:44] anuraghazra commented on #39
The updated gql query should be like this to filter only the OWNER repos and also filtering forked repos

[code]

[2020-07-13 13:46] kingthorin commented on #39
That seems logical.

[2020-07-13 14:53] anuraghazra commented on #39
Well yes, after testing it out with the new query, you have total of 1 star @kingthorin

[2020-07-13 14:54] kingthorin commented on #39
Thanks that makes sense. Sad stat but that's not on you :wink:

[2020-07-13 14:55] anuraghazra commented on #39
although you still got S+ rank :smile:

[2020-07-13 14:59] anuraghazra opened #41 "Improvement: Improve ranking algorithm"
The ranking algorithm works ok but i have seen some users where they have relatively low stats but still got A, A++ ranks.

So the ranking algorithm is currently biased and unbalanced, if someone can create a better one feel free to contribute :smile:

file to look at: [calculateRank.js](https://github.com/anuraghazra/github-readme-stats/blob/master/src/calculateRank.js)

[2020-07-13 15:09] saurabhdaware opened #42 "Layout is little off in Ubuntu Firefox"
Hi, Layout is off in Firefox - Ubuntu.

![screenshot of README stats that show the total commits are shifted to right](https://user-images.githubusercontent.com/30949385/87320641-c87a5900-c548-11ea-8972-9071a2aab67e.png)

[2020-07-13 15:11] kingthorin commented on #39
Well I'm a heavy contributor and just started the single star public repo in the last few months. So it probably makes sense.... I'm also not really a stats junky, I just came across this with the news of profile READMEs 👍 Where do you see the S+ rank you mentioned?

[2020-07-13 15:12] anuraghazra commented on #42
Thanks for reporting the issue @saurabhdaware i'll try to fix it ASAP

[2020-07-13 15:13] anuraghazra commented on #39
Its a new feature, just deployed few mins ago.

[2020-07-13 15:24] deep5050 opened #43 "Profile visit counter"
Is it possible to track a profile visitors count?

[2020-07-13 15:39] anuraghazra commented on #43
It does not have this feature yet but you can use this instead.

https://visitor-badge.glitch.me/#docs

[2020-07-13 15:48] ABSphreak commented on #43
or https://hits.dwyl.com/

[2020-07-13 15:53] garvit-joshi commented on #41
The Values of ```OFFSET's``` is not good Enough.
[code]

[2020-07-13 16:00] anuraghazra commented on #41
So what's you potential suggestions to improve @garvit-joshi? :thinking: maybe we could normalize the values

[2020-07-13 16:09] garvit-joshi commented on #41
Yes @anuraghazra, Algorithm looks good, problem lies in values, I will notify you if I get a good solution.

[2020-07-13 16:10] TheAshwanik opened #44 "Is there a way to hide the ranking?"
Hi,
Is there a way to hide the ranking until the issue fixed or algo improved ?

[2020-07-13 16:11] TheAshwanik commented on #41
#44

[2020-07-13 16:11] anuraghazra commented on #44
yes you can `&hide_rank=true` query param

[2020-07-13 16:18] ABSphreak commented on #44
@anuraghazra now at this point, setting up something like [Gitter](https://gitter.im/) would be a better way to communicate about minor issues.

[2020-07-13 16:21] anuraghazra commented on #44
Thanks for the suggestion @ABSphreak maybe i'll consider that at some point :D

[2020-07-13 17:23] anuraghazra commented on #44
@TheAshwanik I hope it solved your issue feel free to open another one if you have any queries :D

[2020-07-13 17:23] #44 closed

[2020-07-13 17:25] TheAshwanik commented on #44
Thank you Anurag.. Cheers.
Its not an issue per se.. But I thought until the algo and offset (that you are discussing in  #41  ) have been standardized, this may be an option for some.

[2020-07-13 17:54] kingthorin commented on #42
I think this is a general Firefox issue, I experienced the same in 78.0.2 on WIn10 earlier today: ![image](https://user-images.githubusercontent.com/7570458/87310114-7e16bf00-c4eb-11ea-877f-f8fa595d71c3.png)

[2020-07-13 18:17] #42 closed

[2020-07-14 04:50] giansalex opened #46 "Images on Extra Pins"
![image](https://user-images.githubusercontent.com/14926587/87385414-9fb38d00-c563-11ea-9fd8-69d5100dca2a.png)

[2020-07-14 05:29] vinayaksh42 commented on #41
We can use the elo rating system. It will have a greater curve at the middle ranks and then eventually the top rank for a lesser number of people

[2020-07-14 06:03] garvit-joshi commented on #41
#47 Updated Algorithm.

[2020-07-14 07:21] anuraghazra commented on #41
@vinayaksh42 this seem reasonable, any ideas on how to implement it?

[2020-07-14 07:34] vinayaksh42 commented on #41
@anuraghazra we can setup a curve of rankings , for example if we have a range of ranking between 0-100.
The top rank can be between 91-100.
The next rank can have a bigger range (76-90).
It will ensure that less number of people are in the top tier and more people in the middle and average tier.

For calculating the score of users we can change the offset according to which factor in the score is

[2020-07-14 18:15] ApurvShah007 opened #51 "All stats card and repo features are down. Error cannot fetch user is shown on all cards including your readme #bug"

[2020-07-14 18:17] filiptronicek commented on #51
Same here, too.

[2020-07-14 18:17] filiptronicek commented on #51
Probably hit the API limit.... @ApurvShah007

[2020-07-14 18:19] ApurvShah007 commented on #51
@anuraghazra Is there any possible solution? I really like this feature and I am down to help fix this issue. @filiptronicek Thats probably what happened

[2020-07-14 18:19] anuraghazra commented on #51
Github API limit is hit. it should be up in some time

[2020-07-14 18:20] anuraghazra commented on #51
It's really a bummer that github api only allows 5k requests per hour. sorry guys i'll see what i can do to fix the issues.

[2020-07-14 18:21] ApurvShah007 commented on #51
@anuraghazra That is a bummer, how do you plan to fix it? Will it fix itself?

[2020-07-14 18:22] anuraghazra commented on #51
It will fix itself after a window of time, but i'm working on a proper fix so that it should not happen too often

[2020-07-14 18:22] filiptronicek commented on #51
But it is just a temporary solution, I think there is just one solution: delete the Vercel project, don't let anyone use it, and force everyone to use their self-hosted version with their own PAT.

[2020-07-14 18:23] anuraghazra commented on #51
Thats a option too @filiptronicek https://github.com/anuraghazra/github-readme-stats#deploy-on-your-own-vercel-instance

[2020-07-14 18:23] ApurvShah007 commented on #51
@filiptronicek I was about to suggest the same thing, I am pretty sure everyone can host their own requests making it self-sufficient.

[2020-07-14 18:25] filiptronicek commented on #51
I know, I host one myself, but I would make it mandatory, it isn't very wise to encourage people to use something, that doesn't work a lot of the time. This project just doesn't scale well, although it is an awesome tool!

[2020-07-14 18:27] anuraghazra commented on #51
Yup i agree. i might migrate to doing that, but i'm currently experimenting with caching and collaborating with @statically.io to see what would work best.

[2020-07-14 18:27] ApurvShah007 commented on #51
@filiptronicek  and @anuraghazra am I supposed to deploy it on the repo that exists or should I make a new one? I am kind of a boomer sorry.

[2020-07-14 18:28] anuraghazra commented on #51
you can fork this repo and click on the deploy button after that generate your github personal token and use put it on vercel

[2020-07-14 18:28] filiptronicek commented on #51
I suggest you fork the repo, and set up Vercel with that repo because then you can always update your own

[2020-07-14 18:34] filiptronicek commented on #51
Talking of the self-hosted version, any idea why I have an A++ ranking on the official site, but in my own instance, I have a ranking of just A+, nothing, that would anger me or something, but it still is weird. @anuraghazra

[2020-07-14 18:36] ApurvShah007 commented on #51
@filiptronicek do I allow it to install on all my repos?

[2020-07-14 18:37] filiptronicek commented on #51
Yes, I would suggest you do, for future usage, but if you don't plan on using it, just install it on the one fork @ApurvShah007

[2020-07-14 18:38] ApurvShah007 commented on #51
@filiptronicek Well I plan to have the GitHub readme stats card and feature a few repos on my profile readme. IDK what I should do

[2020-07-14 18:40] filiptronicek commented on #51
Just allow all repos then, will be easier @ApurvShah007

[2020-07-14 18:45] filiptronicek commented on #51
Another idea @anuraghazra, we could implement multiple PATs like this:
try request with PAT_1.... fail
try request with PAT_2....fail
try request with PAT_3....sucess

We could handle 50K request with just 10 tokens, every hour

[2020-07-14 18:46] ApurvShah007 commented on #51
Is it back up for everyone or did I set up my Vercel correctly?

[2020-07-14 18:47] filiptronicek commented on #51
It is back up @ApurvShah007

[2020-07-14 18:47] MirayXS opened #52 "Github Extra Pins | Doesn't work if a repository has no code language."
## Github Extra Pins | Doesn't work if a repository has no code language.

Title. I was trying to get the image for my repository (With no code language, it's only images and a readme) [[this]](https://github-readme-stats.vercel.app/api/pin/?username=MirayXS&repo=MirayAPI) but i don't get an image, yet i get a **Application Error**. You can see more info if you click on the link. I also tried with

[2020-07-14 18:48] anuraghazra commented on #51
Yup there is some issues with ranking system its currently biased, checkout #41 #49  rank for more info.

[2020-07-14 18:48] ApurvShah007 commented on #51
Ok I still want to set up mine properly. I let it install on all my repos and the project is up on Vercel

[2020-07-14 18:49] anuraghazra commented on #51
What are PATs?

Can we do that? like each github personal token would have its own 5k limit?

[2020-07-14 18:49] ApurvShah007 commented on #51
@filiptronicek @anuraghazra I feel like you should make a guide on how to set up the while thing.

[2020-07-14 18:50] filiptronicek commented on #51
PATs are personal access tokens, if we had more, we could do more requests

[2020-07-14 18:50] anuraghazra commented on #51
Yup i'll do it tomorrow got 3 same questions today.

[2020-07-14 18:51] filiptronicek commented on #51
I can do it today, and make a PR @anuraghazra

[2020-07-14 18:51] anuraghazra commented on #51
Oh personal access token, okay i was like "huh whats PAT!" Yes i can make more PATs but can you confirm if that works? i never tried it.

[2020-07-14 18:52] anuraghazra commented on #51
Of course, please :heart:

[2020-07-14 18:54] anuraghazra commented on #52
Thanks for reporting the bug @MirayXS i'll look into this tomorrow.

I think this is the reason why `?username=anuraghazra&repo=anuraghazra` does not work

[2020-07-14 18:55] MirayXS commented on #52
exactly, the other repository i tried before was my own repository like yours (the new github function for the profile-readme) it usually only has the README.md file so it doesn't have code language

[2020-07-14 18:56] filiptronicek commented on #51
Ok, so @anuraghazra
![github api docs](https://user-images.githubusercontent.com/29888641/87465076-68e97f80-c614-11ea-99f6-52fb9551a1ed.png)
We could just gather 10 users to get 10 different user PATs!

[2020-07-14 18:57] ApurvShah007 commented on #51
@filiptronicek I don't mind being one user if you ever need it.

[2020-07-14 19:08] garvit-joshi commented on #51
@filiptronicek @anuraghazra, count me in.

[2020-07-14 19:18] anuraghazra commented on #51
Sounds great 😃 @ApurvShah007 @garvit-joshi thanks for the support, I highly appreciate it.

Can you guys leave your Twitter so that I can contact you about this.

[2020-07-14 19:24] ApurvShah007 commented on #51
@anuraghazra I don't have a twitter we can do LinkedIn or Insta too if that works

[2020-07-14 19:25] anuraghazra commented on #51
@ApurvShah007 insta would work 😃

[2020-07-14 19:26] garvit-joshi commented on #51
[garvit__joshi](https://twitter.com/garvit__joshi)

[2020-07-14 19:26] ApurvShah007 commented on #51
https://www.instagram.com/apurvshah007/

[2020-07-14 19:34] filiptronicek commented on #51
@filiptronicek on Twitter @anuraghazra

[2020-07-14 19:38] ApurvShah007 commented on #51
@anuraghazra I followed you back in insta

[2020-07-14 19:42] filiptronicek commented on #51
#53

[2020-07-14 21:19] MicaelJarniac opened #55 "Off-centered user rank"
The user rating ("A", in this example) inside the progress circle is off-center, a bit off to the right of the circle's center.

![](https://i.imgur.com/l7joRW7.png)

Above is a static screenshot. Here's it live:

![](https://github-readme-stats.vercel.app/api?username=MicaelJarniac&show_icons=true&title_color=fff&icon_color=79ff97&text_color=9f9f9f&bg_color=151515)

The URL that generated it is `

[2020-07-14 21:32] MicaelJarniac opened #56 "Misaligned text and emojis"
Emojis seem to be inconsistently sized, and that causes text following it to not end up left-aligned as it should be. The emojis themselves also seem misaligned.

![](https://i.imgur.com/l7joRW7.png)

![](https://i.imgur.com/Un6NDxN.png)

I believe an "easy" solution (or workaround, I should say) for this would be to have the emojis and the actual text in different "layers", with the text layer fu

[2020-07-14 21:55] MicaelJarniac commented on #56
After posting this issue I noticed #33 seems to be fixing this exact thing.

[2020-07-15 00:30] MicaelJarniac opened #57 "Boolean query parameters incorrectly parsed"
The boolean query parameters, such as `show_icons`, `hide_border` and `hide_rank`, are being incorrectly parsed, as passing `false` to them has the same effect as if passing `true`:

---

### All `true`

With all the settings set to `true`, the behavior is as expected.

`https://github-readme-stats.vercel.app/api?username=MicaelJarniac&show_icons=true&hide_border=true&hide_rank=true`

![](https://

[2020-07-15 00:53] kingthorin commented on #39
So I don't mean to be a pest or anything but do you plan to deploy the fix for this soon'ish? 😀

[2020-07-15 04:07] infinity-plus commented on #55
Same issue with me too, on light mode instead

[2020-07-15 04:26] anuraghazra commented on #39
Yup don't worry I'll fix it but firstly I need to fix 2 things.

#51 (high priority)
#49 (medium priority)

Then this one otherwise it'll make the rating system more biased

[2020-07-15 04:29] infinity-plus commented on #51
Can we not add a clause that fetches new updates every 24 hours and use the image obtained for whole day? Just a suggestion, I'm noob.

[2020-07-15 04:33] anuraghazra commented on #51
@infinity-plus 24 hours Is a bit much, I think you would like the stats to be frequently updated. Currently I have 5min cache setup, so I'll fetch new data every 5min

[2020-07-15 04:36] infinity-plus commented on #51
@anuraghazra I don't think anybody checks my git every 5mins tho, + this repo is getting popular
Maybe 1 hr?

[2020-07-15 05:57] ApurvShah007 commented on #55
The portfolio card is down for me too. I have used the light mode.

[2020-07-15 05:59] ApurvShah007 commented on #51
@anuraghazra The live number of visitors is also dead. Not sure if I took it from your repo or not but do you have any idea?

[2020-07-15 06:00] anuraghazra commented on #51
No there is no relation with that thing whatsoever.

[2020-07-15 06:03] ApurvShah007 commented on #51
@anuraghazra  ![visitors](https://visitor-badge.glitch.me/badge?page_id=ApurvShah007.ApurvShah007) is the link I am using. Any idea why its down?

[2020-07-15 07:02] anuraghazra commented on #55
Thanks for reporting the issue @MicaelJarniac i'll look into it and resolve it.

[2020-07-15 07:04] anuraghazra commented on #56
Thanks for the detailed information and the issue @MicaelJarniac

Yes #33 is fixing it but i had planned a better option to use SVG icons instead of ASCII icons #34 so that it'll be consistent but the current approach wont work because <tspan> tags don't render any svg contents inside them

[2020-07-15 10:19] ApurvShah007 opened #59 "Status cards rendering on Chrome but not on Safari."
I can't seem to see the status cards on safari. Is this for everyone or just me?

[2020-07-15 12:11] JounQin opened #60 "Feature request: hide title"
It seems redundant to display the stats title in GitHub README profile.

[2020-07-15 12:23] #51 closed

[2020-07-15 12:32] anuraghazra commented on #60
Thanks for suggesting the feature @JounQin i'll add a option to hide the title :D

[2020-07-15 12:33] anuraghazra commented on #59
@ApurvShah007 can you give me more info on your System? Browser version, OS etc etc

[2020-07-15 12:35] ApurvShah007 commented on #59
My laptop is on macOS Catalina v-10.15.4 and my Safari is on Version 13.1 (15609.1.20.111.8). I don't know if that helps, but I can go to chrome and open the same link and everything loads fine.

[2020-07-15 12:41] anuraghazra commented on #59
Yup it's a safari rendering issue. i'll see what i can do, thanks for reporting

[2020-07-15 13:02] anuraghazra commented on #57
Thank you for reporting the issue @MicaelJarniac fix is on its way

[2020-07-15 13:04] #57 closed

[2020-07-15 13:31] #55 closed

[2020-07-15 14:09] #52 closed

[2020-07-15 14:16] MirayXS commented on #52
👍

[2020-07-15 14:40] #39 closed

[2020-07-15 14:50] anuraghazra commented on #41
should be fixed in #49

[2020-07-15 14:50] #41 closed

[2020-07-15 14:54] harshagv opened #65 "Provide option for adjusting box width"
Currently there is an option available to control the line-height between text `&line_height=29`, but it would be better if there is an additional option to control the box width like `&box_width=11`.

[2020-07-15 14:56] anuraghazra commented on #65
Thanks for requesting the feature @harshagv i'll see what i could do

[2020-07-15 15:07] kingthorin commented on #39
Thanks for tackling this!

[2020-07-15 15:25] anuraghazra commented on #46
Hi @giansalex sorry for late response, yes this is a great idea but i wanted to make the `Github Extra Pins` feature look as close to as  original pinned repo cards.

[2020-07-15 15:27] anuraghazra commented on #43
Hi @deep5050 after thinking a bit through i decided that i wont add any visitors count stats because this project solely focused on providing github statistics :D i hope you understand the point, anyways thanks for the feature request, do open another issues if you have any queries

[2020-07-15 15:27] #43 closed

[2020-07-15 15:34] NuroDev opened #66 "[Feature request] System based theme"
Not a overly urgent feature, but would be a neat feature to add support for system theme detection using CSS' `prefers-color-scheme` media attribute to fetch the system theme color and set the stats/repo card styles based on it.
Example:
[code]

[2020-07-15 15:39] anuraghazra commented on #66
Hi @NuroDev thanks for requesting the feature.

Well, i'm not sure if this is possible because the rendered svg would be uploaded/served from the github cdns so i don't think css-prefer-color-scheme would work. while fixing #45 i also faced this issue because user-agent wasn't the browser's it was github's cdn `camo-github`

[2020-07-15 15:54] TheAshwanik commented on #51
Yes. It hit the rate limit too.
I had to deploy my own instance.. similar to this one.

[2020-07-15 16:17] garvit-joshi commented on #51
@TheAshwanik , acc. to my understanding the issue has been fixed, PAT have been increased, I am using the original instance and it works fine.

[2020-07-15 16:56] codetheorem opened #69 "Wrong Information"
Total Stars showing in my readme stats are wrong. It is showing zero whereas I have starred 40 repository.

[2020-07-15 17:00] anuraghazra commented on #69
It's not the count of "how many repos you starred" It's "how many stars you gain on your repos"

[2020-07-15 17:02] #69 closed

[2020-07-15 17:26] nathanchu opened #70 "[Feature Request] Vertical Orientation"
There should be a way to change the orientation of the image. For example, [this jsFiddle](https://jsfiddle.net/5ujegnpk/).

[2020-07-15 17:58] filiptronicek commented on #70
This looks very good, but I think it has a fairly limited use case. Some things to consider:
* what could be stacked next to it (it would have to be similar height, and if it was another GitHub readme widget, why)
* how it will look, if stacked on mobile.

[2020-07-15 17:59] ADoesGit opened #71 "[ Bug ] Text not rendering properly on Chrome on Android"
Some text on Android Chrome has incorrect spacing
![Screenshot_20200715-135812_Chrome](https://user-images.githubusercontent.com/42613600/87579086-63874600-c6a3-11ea-8f73-d866c826d3b5.jpg)

[2020-07-15 18:00] ADoesGit commented on #71
This doesn't happen when opening the images in a new tab.

[2020-07-15 18:26] ApurvShah007 opened #72 "Wrong number of stars showing on GitHub readme stat? Just for me?"

[2020-07-15 18:28] anuraghazra commented on #72
please provide more info.

[2020-07-15 18:29] anuraghazra commented on #71
Thanks for opening the issue @ADoesGit

I think this is totally up how the browser would render the svg, AFAIK i can't do anything to fix it, but i'll take a look at the issue tomorrow.

[2020-07-15 18:30] anuraghazra commented on #70
Thanks for requesting the feature @nthnchu i'll see what i can do

[2020-07-15 18:32] ApurvShah007 commented on #72
I can clearly see that my stars are much more than what it shows on the stats card. I am wondering what all it is counting. It was showing around 41 but now it shows 25. Just wondering if you changed what it counts.

[2020-07-15 18:39] anuraghazra commented on #72
Note: only owned repos are counted, not forked or contributed repos, checkout #39

[2020-07-15 18:41] ApurvShah007 commented on #72
@anuraghazra I thought so too but it changed today and threw me off. My bad. Also what about private repos?

[2020-07-15 18:47] ApurvShah007 commented on #51
@TheAshwanik I would also like to deploy my own so I dont run into the same problem. It would be helpful if you can make a short tutorial on that.

[2020-07-15 18:52] TheAshwanik commented on #51
Will do..

[2020-07-15 18:55] anuraghazra commented on #72
Yes there caching of 30mins

[2020-07-15 18:55] ApurvShah007 commented on #72
That should be it then.

[2020-07-15 19:01] anuraghazra commented on #51
@ApurvShah007 @TheAshwanik can you guys continue the discussions regarding visitor badge here: https://github.com/jwenjian/visitor-badge

It's the official repo, please open an issue there.

Since this repo does not have any connection with visitor badge I think it's not the right place to discuss it. Otherwise you can always hop into my discord server if you have any issues. Thanks!

[2020-07-15 19:02] anuraghazra commented on #72
Yes, closing this in favour of #39

Please hop into my discord server if you have confusing regarding stats.

[2020-07-15 19:02] #72 closed

[2020-07-15 19:03] ApurvShah007 commented on #51
@anuraghazra Sorry about that. I would love a link to your discord.

[2020-07-15 19:04] anuraghazra commented on #51
https://discord.gg/VK4k3Br

[2020-07-15 21:39] klaasnicolaas opened #74 "Maximum retries exceeded"
I've tried to set up a deploy in Vercel myself, but immediately from the first moment that I want to request the data via my own url, I receive an error message: **_"Maximum retries exceeded"_**.

Impossible that I could have exceeded my limits right away.

Link that I use: https://github-readme-stats-beryl.vercel.app/api?username=klaasnicolaas&show_icons=true&title_color=fff&icon_color=79ff97&tex

[2020-07-16 04:59] anuraghazra commented on #74
@klaasnicolaas make sure you have a environment variable called PAT_1

[2020-07-16 07:09] rahulrachh commented on #74
Could you add to the readme file how to do that?

[2020-07-16 07:39] anuraghazra commented on #74
Yes actually sorry the readme's guide is outdated after #58 i'll update it :D

[2020-07-16 08:24] rahulrachh commented on #74
I am still confused @anuraghazra.  do we have to put our GitHub generated token in variable PAT_1 instead of GITHUB_TOKEN variable?

[2020-07-16 08:56] anuraghazra commented on #74
Yes.... just delete the GITHUB_TOKEN variable, and instead add a token named "PAT_1"

[2020-07-16 10:19] klaasnicolaas commented on #74
I changed the variable, it just doesn't change anything. Maybe because I need to update the fork after all today's merges?

[2020-07-16 10:23] filiptronicek opened #79 "[Feature] Dark mode"
It is a really useful feature, that we can change the colors of the stats, but I would appreciate some sort of auto dark mode With [dark mode coming to GitHub](https://news.ycombinator.com/threads?id=natfriedman), I think it will have to be done sooner or later.
![Nat Friedman's hacker news profile](https://user-images.githubusercontent.com/29888641/87659232-8c6c1180-c75d-11ea-94de-5cc6dfd6fce1.pn

[2020-07-16 10:23] anuraghazra commented on #56
fixed in #33

[2020-07-16 10:23] #56 closed

[2020-07-16 10:25] anuraghazra commented on #74
Update your fork, and redeploy. and make sure that you have the tokens in vercel's env variable section.

Use PullBot to automatically update your forks, https://probot.github.io/apps/pull/

[2020-07-16 10:28] anuraghazra commented on #79
Thanks for requesting the feature @filiptronicek this sounds good, i'll see what i can do.
related to #66

[2020-07-16 10:30] klaasnicolaas commented on #74
Awesome! I got it working 😄

Thanks, by the way, for the pull probot app tip, which is super handy than that I always have to manually update everything.

[2020-07-16 11:09] elliottzheng commented on #39
I think that's not right, I am the creator and the main contributor to an organization with more than 8k stars, but I have just 51 stars, it makes me feel terrible. Besides, the API didn't count the archived repo, e.g. [elliottzheng/copytranslator](https://github.com/elliottzheng/copytranslator)
[![ReadMe Card](https://github-readme-stats.vercel.app/api/pin/?username=copytranslator&repo=copytransl

[2020-07-16 11:37] anuraghazra commented on #39
@elliottzheng Forked and organization stars are not counted as personal star counts. it'll only show stars from repos which you directly own.

related to #1

[2020-07-16 13:08] kishan0725 opened #80 "Unable to wrap the repo title when it gets too long"
**Bug description**
When the name of the repository gets too long, the `github-readme-stats` card hides some part of the repo name, instead of wrapping them up.

**Expected behavior**
When the repo name gets too long, it should come to the next line.

**Screenshot**
![image](https://user-images.githubusercontent.com/36665975/87674331-7da05180-c793-11ea-8d80-fbf045b17c0d.png)

[2020-07-16 13:15] anuraghazra commented on #80
Thanks for reporting the issue @kishan0725 i'll try to fix this asap.

[2020-07-16 13:20] nthnchu commented on #70
I was thinking text could be next to it, so the widget(s) would look like a sidebar. For example:
<hr>
<h1>Heading</h1><img width="228" height="367" align="right" src="https://user-images.githubusercontent.com/63111210/87593750-f29f5880-c6b9-11ea-95c0-fa13c2574a81.png">
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut ph

[2020-07-16 13:22] filiptronicek commented on #70
I dig it. Looks awesome! @nthnchu

[2020-07-16 17:46] rahulrachh commented on #74
@anuraghazra it is working 😄 .  Yeah, thanks by the way for the pull bot.

[2020-07-17 05:45] SukkaW opened #82 "[Feature Request] Support custom cache control"
**Is your feature request related to a problem? Please describe.**

Talking about rate limiter, it is better to have a customizable `cache-control`. E.g. I will use longer cache-control for repo card (extra pin). It is also helpful for people trying to avoid rate limiting.

**Describe the solution you'd like**

Add a parameter `&cache_control=<maxage>`. But the minimum `maxage` should retain `1800

[2020-07-17 05:46] SukkaW commented on #82
I could help to implement the feature based on #58

[2020-07-17 06:13] SukkaW commented on #79
It is nearly impossible to get the `media query` through an image element. And of course GitHub won't let you inject any `<style>` or `<script>` tag. It is just impossible.

An alternative is using `<picture>` and `<source>` tag:

[code]

But I am not sure whether GitHub will allow us to use the `<picture>` & `source` tag.

[2020-07-17 07:30] anuraghazra commented on #79
@SukkaW true, but the issue is not about whether github supports style/script tags or not, we can put style tag on SVG and we are also doing CSS animations there, but the real problem is even if i put `prefer-color-scheme` media queries it would not change because the svg is rendered and uploaded to github's CDNs (although i did not tested if it works)

I have to do some testing to see if it works

[2020-07-17 07:48] SukkaW commented on #82
Speed is also a problem.

`GitHub Camo` is using Fastly CDN and do respect the `cache-control` from the original image. If I could control `cache-control`, I will be able to make the `Repo Card` or `Stat Card` cached at Fastly for a longer time.

[2020-07-17 09:50] filiptronicek commented on #79
Let's see if this works: @SukkaW @anuraghazra
   <picture>
      <source
        srcset="https://files.catbox.moe/shuph5.png"
        media="(prefers-color-scheme: dark)"
      />
      <source
        srcset="https://files.catbox.moe/zhopye.png"
        media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)"
      />
      <img src="https://files.catbox.moe/zhopye.png" />

[2020-07-17 10:19] anuraghazra commented on #79
@filiptronicek worked? Also even if it's works, kinda too much boilerplate and same as just swaping the colors (which we are doing right now)

So we can just render the white card on light mode and black on dark mode

[2020-07-17 10:22] filiptronicek commented on #79
Tried changing my preference on Chrome Beta, doesn't look like it would work :(

[2020-07-17 10:43] filiptronicek commented on #59
This is how it looks on my phone if it helps in any way: ![image](https://user-images.githubusercontent.com/29888641/87778158-0fa76900-c82b-11ea-9d1f-ccee6409088d.png)

[2020-07-17 10:52] anuraghazra commented on #59
@filiptronicek can you confirm that the animations are running? it could be possible that the animation is not running in @ApurvShah007's browser that why its blank

[2020-07-17 10:53] SukkaW commented on #79
@anuraghazra

![image](https://user-images.githubusercontent.com/40715044/87778991-a8a3a780-c85e-11ea-9a44-cfcf7e202b08.png)

![image](https://user-images.githubusercontent.com/40715044/87779013-b5c09680-c85e-11ea-95f1-8736ef8c89eb.png)

No, it doesn't.

[2020-07-17 10:56] ApurvShah007 commented on #59
@anuraghazra  thats exactly how it looks on Safari on my laptop and iPhone. I think its the animations that wont render. The stats and other icons render fine.
It works fine on my android phone on chrome and my laptop on chrome.

[2020-07-17 10:57] filiptronicek commented on #59
The animations are indeed running, but the rank doesn't load.

[2020-07-17 10:57] ApurvShah007 commented on #59
Also Congrats on 1000 ⭐️

[2020-07-17 10:58] filiptronicek commented on #59
https://files.catbox.moe/w36wsp.mp4 - how it looks like on my end

[2020-07-17 10:59] anuraghazra commented on #59
Ohhhh, okay. the issue is i can't debug this properly.. since i dont have any safari browser or apple devices :(

[2020-07-17 10:59] filiptronicek commented on #59
Try Browserstack, it's free for OSS! @anuraghazra

[2020-07-17 11:43] filiptronicek commented on #82
I think it would be a nice feature, we could let users set the cache in minutes (my suggestion would be to make the minimum 30 (as @SukkaW suggested) and a maximum of 720 (12 hours)). This would also help with really large repos, or if someone very popular implemented this code. As @SukkaW also previously noted, speed and performance should be also a big concern. If someone has a private instance,

[2020-07-17 12:48] edisonlee55 commented on #59
I can also reproduce this issue on Chrome iOS.

It might be something to do with WebKit, cause Chrome iOS is using WebKit the same as Safari instead of Blink in other Chrome versions.

---

![IMG_0717](https://user-images.githubusercontent.com/5277788/87787256-e825c000-c86d-11ea-9b79-9ea7e42c4b73.jpg)

[2020-07-17 12:52] ApurvShah007 commented on #59
Yes I can confirm that's it's an iOS / MacOs issue.

[2020-07-17 14:35] anuraghazra commented on #82
I like @filiptronicek's suggestion to make the cache longer if the repo card has over 1k stars

[2020-07-17 14:45] filiptronicek opened #85 "Google Pixel weird rank view"
**Describe the bug**
When trying out the rendering on different devices, on the newest (also older) Pixel phones (tested both on Android 11 and 9), the rank font huuuuge.

**Expected behavior**
It should look the same on all devices.

**Screenshots / Live demo link**
![Pixel 4 - Android 11](https://user-images.githubusercontent.com/29888641/87798823-c5cf7a80-c84c-11ea-8738-1cc93dae3c58.png)
![Pixe

[2020-07-17 14:50] filiptronicek commented on #85
### Tech specs:

#### Google Pixel 4:
![image](https://user-images.githubusercontent.com/29888641/87799349-61f98180-c84d-11ea-8e46-f26e629ff09f.png)

#### Google Pixel 2:
![image](https://user-images.githubusercontent.com/29888641/87799530-9ff6a580-c84d-11ea-8a55-b39876c32b60.png)

[2020-07-17 15:51] anuraghazra commented on #34
Fixed in #33

[2020-07-17 15:51] #34 closed

[2020-07-17 16:09] SukkaW commented on #82
Should set longer cache only when both star and fork over 1k.

[2020-07-17 16:19] eduardo-ehsc opened #87 "Different Themes"
# Different Themes

This feature is for the ones that doesnt know how to customize your own card.

So I made some different styles of cards, if you like please follow [ME](https://github.com/eduardo-ehsc) on GitHub.

### Original
<a href="https://github.com/anuraghazra/github-readme-stats">
  <img src="https://github-readme-stats.vercel.app/api/pin/?username=anuraghazra&repo=github-readme-stats">

[2020-07-17 16:25] anuraghazra commented on #87
Hi @eduardo-ehsc Thanks for opening the *issue (request?, discussion?, idea?)*

Can you expand more on your issue? are you requesting a feature to implement a `?theme=` parameter to include these themes?

[2020-07-17 16:30] filiptronicek commented on #82
Agreed, wanted to write that in the original post, but forgot. Although we could find a balance between them because on some repos it is true, on most forks aren't climbing that steadily either. But for now, we should only check if they both are over a thousand

[2020-07-17 16:50] eduardo-ehsc commented on #87
Hi @anuraghazra, isn't a issue, it's just some color themes ideas that I had, if someone doesn't know how to customize, he can come here and select a style.
If you want, you can close this issue, it's more like a tip for beginners!

[2020-07-17 16:57] anuraghazra commented on #87
Oh i see, no i was just wondering why *"someone doesn't know how to customize"* someone would not know how to customize because all details on how to customize the cards are in the docs ;)

although it looks good, thanks for opening it, i might add a feature for built-in themes

[2020-07-17 17:31] #60 closed

[2020-07-17 18:47] anuraghazra opened #90 "[Discussion]: Showing attribution to the stats card"
### Hi everyone,

I've seen many people using this project and i'm really happy with it but the one thing i'm not really happy with is that 90% of them actually did not even attributed the project in any way, and a good chunk of people don't even know the origin of the stats they are using.
i know i might sound like a jerk but this project i'm giving time and effort to develop and maintain & and i

[2020-07-17 18:51] filiptronicek commented on #90
I think it is a nice thing when you can disable it, if we disclose that, I think it is a nice addition. It isn't much disruptive, I like it. @anuraghazra

[2020-07-17 19:07] jatin2003 commented on #90
I really liked your Idea @anuraghazra 🧡

[2020-07-17 19:11] garvit-joshi commented on #90
The card looks nice with the credit. One more thing, will it be default to not show the credits after giving a star to repo .Just add one more parameter to let people decide if they want to show credits or not, after giving star to repo, we will have our choice to show credits.

[2020-07-17 19:16] ApurvShah007 commented on #90
I completely agree with you @anuraghazra. You deserve every bit of the credit as you have worked so hard. I love the idea and I would love to help and implement it if needed.

[2020-07-17 19:17] anuraghazra commented on #90
Yup that's right, I'll also add a option to show the credits, if the user manually set the show_credit options then we can skip the checking if the user is starred to save some milliseconds.

[2020-07-17 20:32] nattadasu opened #91 "Repository Cards on MediaWiki markup file won't show properly"
**Describe the bug**
When trying to embed the image with `<img>` html tag or using embedding syntax (`[[File:https://github-readme-stats.vercel.app/api/pin/?username=ryuuganime&repo=Ryuuganime]]`) on MediaWiki README file, card are not behaving as it should be on like Markdown.

**Expected behavior**
Repository details were shown properly, behaving similar to Markdown.
![](https://media.discordapp

[2020-07-17 20:33] omidnikrah commented on #90
I also agree and I think it's so good and helps other developers to use and find it easily.

[2020-07-17 20:34] nattadasu commented on #91
However, user stats card is working properly by the way. :/
![](https://media.discordapp.net/attachments/591889046020554772/733783422664835142/unknown.png)
https://github.com/nattadasu/nattadasu/blob/master/README.id.wiki#statistik

[2020-07-17 20:35] omidnikrah commented on #87
I will implement this feature tomorrow :)

[2020-07-17 21:16] nombrekeff commented on #90
I like the idea, and the card looks good with the credits. Not very disruptive

[2020-07-17 21:23] KarthikNayak024 commented on #90
It is a good idea

[2020-07-18 00:13] dms24081999 commented on #13
Github Gist's doesn't have a title, it only has a Description(optional field), and Files(1 or multiple files) in same gist and gist URL (uniquely generated ID) and star can be counted.

---
### Opt-1:
The project has to use unique ID (randomly generated by Github for Gists) instead of title, since description is optional.

### Opt-2:
Let user enter the Gist title in the URL of the API ```/api?gist

[2020-07-18 01:35] Aju100 commented on #90
i agree and it's a good idea

[2020-07-18 05:54] anuraghazra commented on #87
@omidnikrah wait a bit I have some ideas to discuss

[2020-07-18 07:47] anuraghazra commented on #91
Hi @nattadasu thanks for reporting the issue, i'm not sure about the syntax of media wiki but github-readme-stats are obviously
 working correctly maybe something is weird happening because of the syntax of media wiki?

[2020-07-18 07:47] anuraghazra commented on #91
It says invalid username or repo that means the fetchRepo function isn't getting the username/repo

[2020-07-18 07:50] anuraghazra commented on #91
Also @nattadasu i will highly recommend you to [host on your own vercel instance](https://github.com/anuraghazra/github-readme-stats#deploy-on-your-own-vercel-instance) because you are pinning a lot of repos.

[2020-07-18 07:52] anuraghazra commented on #87
I was thinking if we could create a seperate repository to host all the themes and other users could also contribute new themes too, like a theme gallery. then we could have a `?theme=THEME_NAME` parameter to use any theme from that repo.

[2020-07-18 08:00] omidnikrah commented on #87
It's possible, but I think our themes are limited and we can have an object of themes.

[2020-07-18 08:16] nattadasu commented on #91
Yeah, its weird to see that one error. I've tried several method like using `img` html tag, still didn't work.

I'm currently trying to host it by myself 😅

Maybe if I using my own instance, it would help a little bit, maybe?

[2020-07-18 09:07] nattadasu commented on #91
*Can I off-topic a little bit?*
Things getting weirder now. Using my own host, and its won't work

![](https://github-readme-stats-navy.vercel.app/api/pin/?username=MALSync&repo=MALSync&show_owner=true)
`https://github-readme-stats-navy.vercel.app/api/pin/?username=MALSync&repo=MALSync&show_owner=true`

[2020-07-18 09:10] anuraghazra commented on #91
I think you missed a step. Please read the docs carefully... You have to add your GitHub personal access token in your vercel env called "PAT_1

[2020-07-18 09:31] omidnikrah commented on #14
I think, at the moment it's better to change "Total Commits:" to "Total Commits (last year):".

[2020-07-18 09:46] anuraghazra commented on #91
No hosting on your own wont change anything, i'm just recommending to do so because you are embedding the repo card a lot of times

[2020-07-18 10:05] nattadasu commented on #91
Ah, I see... the problem still occurs to be fair after changing the url&nbsp;&nbsp;<img src="https://i.imgur.com/Ulp2hk1.png" height="20">

[2020-07-18 10:20] rampatra opened #92 "Total commits shown on the card is way less than actual"
**Describe the bug**
Total commits shown on the card is way less than actual. A single repo of mine https://github.com/rampatra/Algorithms-and-Data-Structures-in-Java has 230+ commits but the card only shows 108 commits in total. The repo is public too.

**Expected behavior**
I was expecting to sum up the commits in all of my public repos. If it can consider private repos then even better.

**Scre

[2020-07-18 10:22] anuraghazra commented on #92
related to #14 #15

[2020-07-18 10:22] Dev-CasperTheGhost opened #93 "[Feature Request] Hide 'name's GitHub Stats'"
**Is your feature request related to a problem? Please describe.**
It would be nice if we could have an option to remove the `"name's GitHub Stats"` from the stats card

**Describe the solution you'd like**
Have an option `false` or `true` as a param in the URL to remove `"name's GitHub Stats"`,

Thanks, casper.

[2020-07-18 10:31] anuraghazra commented on #93
There is already an option `?hide_title=true`

Check the docs for [all available options](https://github.com/anuraghazra/github-readme-stats#customization)

related to #88 #60

[2020-07-18 10:35] Dev-CasperTheGhost commented on #93
oh, sorry lol, Thank you for your reply!

[2020-07-18 10:35] #93 closed

[2020-07-18 11:08] anuraghazra commented on #92
btw @rampatra one thing to note is that the total commit count is not "total commits you made so far since you joined github" its "total commits this year so far"

[2020-07-18 12:30] anuraghazra commented on #65
Hi @harshagv can you provide me some scenarios and use cases for having control over the width of the card?

[2020-07-18 12:36] #59 closed

[2020-07-18 12:36] #85 closed

[2020-07-18 13:19] paveloom opened #94 "[Bug] Few issues with a repo description"
**Describe the bug**

1. Only one line of a description gets displayed on a repo card. This seems a bit confusing since GitHub usually displays few lines if needed. This makes these cards and GitHub's standard pins less interchangeable.
2. The description of one of my repositories didn't get trimmed at all for some reason (see the live demo below).

**Expected behavior**

1. Display few lines if n

[2020-07-18 13:30] Paveloom opened #95 "[Feature Request] Allow `show_icons` to be used with repos' cards"
**Is your feature request related to a problem? Please describe.**
Since most of my repositories don't have any stars and aren't forked by anyone (he-he...), I would like to be able to hide these stats from the repos' cards. This is how standard GitHub's pins behave.

**Describe the solution you'd like**
There's already a `show_icons` parameter for stats' cards, to have something similar to this f

[2020-07-18 14:02] SirWindfield commented on #90
I woudls sugges to show a shortened version. The username/reponame is long, maybe sometrhing like [git.io/readme-stats](https://git.io/readme-stats)

[2020-07-18 14:05] anuraghazra commented on #94
Thanks for reporting the issue @Paveloom

This seems strange that string.slice failed because of russian language :thinking:
Also i did not show multi lines because it is a pain to work with multiline text in svg, so i just trimmed them for the sake of simplicity

[2020-07-18 14:08] anuraghazra commented on #95
Oh yeah right, github hides the star/fork if they are zero. i'll probably do that too.

But i don't think i will be introducing any other show_repo_stats parameter for manually showing/hiding the star/fork count because i don't want to bloat the APIs with lots of options, i wanted the Github Extra Pins feature to be a bit more strict in terms on customization.

[2020-07-18 14:09] Paveloom opened #96 "[Feature Request] Show `Archived` badge when a repository is archived"
**Is your feature request related to a problem? Please describe.**
I have most of my repositories archived, but repos' cards don't inform about that.

**Describe the solution you'd like**
I would like to have an `Archived` badge, the same as GitHub's standard pins have.

**Additional context**

![](https://github-readme-stats.vercel.app/api/pin/?username=paveloom-p&repo=P9)

[2020-07-18 14:11] anuraghazra commented on #90
@SirWindfield yup good idea, i like this since it's also a direct link instead of an arbitrary username/reponame,

btw how did you get the short url to be like that? because git.io generates random urls AFAIK

[2020-07-18 14:13] SirWindfield commented on #90
`curl https://git.io/ -i -F "url=https://github.com/anuraghazra/github-readme-stats.git" -F "code=readme-stats"`

[2020-07-18 14:13] SirWindfield commented on #90
it's behind a shell alias on my system, so I can use `git-io url name` :)

[2020-07-18 14:32] Dentrax opened #98 "algorithm: some consistency corrections required (consider add more ranks and unit tests for each rank)"
**Describe the bug**
Base algorithm has been changed to [Cumulative Distribution Function](https://en.wikipedia.org/wiki/Cumulative_distribution_function), in order to get more accurate results, in this [commit](https://github.com/anuraghazra/github-readme-stats/commit/2658a8737d3cadc7d2e03c3777ed683c73d817cb). But I'm not too sure either _CDF_ really improves our rank algorithm. We have still hav

[2020-07-18 14:49] omidnikrah commented on #96
Good Idea 👍

[2020-07-18 15:03] #96 closed

[2020-07-18 15:16] anuraghazra commented on #96
@omidnikrah Make sure to ping me before working on any feature :D so that we don't do double work or have any conflicts :)

[2020-07-18 15:17] omidnikrah commented on #96
@anuraghazra haha :)) Sure ❤️

[2020-07-18 17:56] minji-o-j opened #101 "[Bug] The color option at the very end does not work."
### Describe the bug
The color option at the very end does not work.

### Expected behavior
There was an error when trying to change the colors of icons and titles.
When modifying Customization Options, it doesn't seem to be reflected if the color option comes at the end.

### Screenshots / Live demo link (paste the github-readme-stats link as markdown image)

[code]
![Minji's Stats](https://githu

[2020-07-18 18:27] anuraghazra commented on #101
Hi @minji-o-j it actually works correctly as expected, I think you've missed that you have an extra " Quote at the end of each live preview, which is wrong.

Live demo works nicely.
![Minji's Stats](https://github-readme-stats.vercel.app/api?username=minji-o-j&hide=["stars"]&hide_title=true&show_icons=true&text_color=777&title_color=333&icon_color=f00)

[code]

[2020-07-18 18:43] minji-o-j commented on #101
Ohh.. The error came from my typo.
Now I've solved it completely. Thanks @anuraghazra !

[2020-07-18 18:43] #101 closed

[2020-07-18 18:57] Paveloom commented on #95
Yep, this seems to be right now. Thank you.

[2020-07-18 18:57] #95 closed

[2020-07-18 19:56] anuraghazra commented on #87
Yes, but I was thinking that it would make it open for other users to contribute new themes, maybe instead of creating a seperate repo we can create a folder called themes and other users can contribute new themes.

[2020-07-18 19:58] omidnikrah commented on #87
Yes I agree

[2020-07-19 08:41] anuraghazra commented on #98
Yes @Dentrax the ranking algorithm isn't really consistent throughout,
@b1f6c1c4 did a pr which includes h-index #76 which might also work maybe.

I'm not good at maths so i don't have any idea which algorithm will result in good balance. so any help would be appreciated.
if anyone wanted to implement this PR feel free to do so.

[2020-07-19 08:43] anuraghazra commented on #87
@omidnikrah are you willing to implement this? or should do start working on it?

[2020-07-19 08:47] omidnikrah commented on #87
@anuraghazra Yes I like to implement it and I can do it tonight.

[2020-07-19 08:51] anuraghazra commented on #87
No worries i would have some free time on evening maybe i can do it, i will let you know otherwise :D thanks!

[2020-07-19 08:54] anuraghazra commented on #91
@nattadasu  OOOOOPPSS! got your issue i guess,

[code]

Note the last quote **"**>] that is invalid, same issue faced #101

[2020-07-19 09:46] rampatra commented on #92
@anuraghazra yes, I noticed this in issues you linked to this ticket. But can't we request the GitHub API in a loop asking for 4-5 years of commits (1 year in each iteration) and then sum up all to get the total?

[2020-07-19 09:49] anuraghazra commented on #92
That's what I did in #15

[2020-07-19 09:53] rampatra commented on #92
Ah, I see. So, what's next? Is this going to be merged? Or, would you be just changing the label text to "This year's commits"?

[2020-07-19 09:56] anuraghazra commented on #92
The issue with looping and summing up is the performance, since each graphql request takes time. So I'm finding any other solutions to fetch total commits.

[2020-07-19 11:52] hi120ki opened #104 "Style collapses happened when showing icons on stats card"
When displaying the icon, the characters "contributedTo" and the value appear to overlap.(MacOS Chrome)

![Anurag's github stats](https://github-readme-stats.vercel.app/api?username=anuraghazra&hide=["issues"]&show_icons=true)

The ":" in the "contributedTo: 63" line is not visible on this stats card.

I think this is because the value of x (x="135") in line 21 of src/renderStatsCard.js remains co

[2020-07-19 12:37] anuraghazra commented on #104
Hi @hi120ki thanks for reporting the issue, can you please provide a screenshot instead of that live link

[2020-07-19 12:39] hi120ki commented on #104
![screen](https://user-images.githubusercontent.com/12624257/87874877-57cfb280-ca08-11ea-84ff-a60e789abd8d.jpg)

[2020-07-19 12:42] anuraghazra commented on #104
Actually this happens because of different systems are rendering the fonts differently and very slight adjustments are leading to whole layout overlapping,, maybe i would make the gap between them larger to solve the issue :D

[2020-07-19 12:58] hi120ki commented on #104
Thank you for your reply.
Yes, I think values(2.2k, 1k, 201, 603) should be moved to the right by the width of the icon.(change x=135 into x=160)

![screen](https://user-images.githubusercontent.com/12624257/87875239-dfb6bc00-ca0a-11ea-891f-89826dc1831a.jpg)

This is a screenshot that change x=160 by DevTool. It displays well.

[2020-07-19 14:23] hi120ki commented on #104
I change css like this by DevTool.

[code]

![screen](https://user-images.githubusercontent.com/12624257/87876985-82c10300-ca16-11ea-8ad7-458a7d4528a3.jpg)

It looks very good. Can I send a Pull-Request?

[2020-07-19 15:04] #87 closed

[2020-07-19 15:06] anuraghazra commented on #104
Yup do it :D

[2020-07-19 16:51] FOSSforlife commented on #104
Has #106 been deployed yet? I'm still seeing this issue on Linux.

![Screenshot from 2020-07-19 09-48-18](https://user-images.githubusercontent.com/22383534/87880280-5c16b400-c9a5-11ea-83ab-f4e417dcdff6.png)

[2020-07-19 17:40] FOSSforlife commented on #104
Interestingly, Chromium doesn't seem to have this issue. Both of them are using the browser `sans-serif` default since they don't have access to Segoe UI or Ubuntu font (I'm on Manjaro).

![Screenshot from 2020-07-19 10-35-42](https://user-images.githubusercontent.com/22383534/87881146-3a6cfb00-c9ac-11ea-9bc7-2ef41e722927.png)

[2020-07-19 18:34] #91 closed

[2020-07-19 18:36] anuraghazra commented on #74
Hi @klaasnicolaas i hope your issue is solved, closing this now. feel free to open another one if you have any other queries :D  Thanks!

[2020-07-19 18:36] #74 closed

[2020-07-19 18:52] preyansh98 commented on #92
@anuraghazra
Great work with this!

Is it possible to enable total commits as not the default behavior but maybe as an option in the API?

Maybe another parameter in the request like /?findTotalCommits=true that when passed in will trigger this heavy work? I assume it'll be cached in impl too.

Suggesting this so it doesn't break current API performance, it can just be an additional "experimental"

[2020-07-19 19:02] anuraghazra commented on #92
@preyansh98 yes that's what is suggested in this comment by @kingthorin https://github.com/anuraghazra/github-readme-stats/pull/15#issuecomment-657535644

[2020-07-19 19:22] harshagv commented on #65
The scenario is when the README is divided into two sections, one for an image and other text/statistics..
Where if the image size is bigger and the statistics box is placed below the image. If the size of the statistics box can be reduced, it will allow the image and statistics box to be  placed next to each other rather than above and below.

![image](https://user-images.githubusercontent.com/45

[2020-07-19 20:02] JoseDeFreitas opened #107 "Spanish translation request"
Hello 👋, my name is José De Freitas, I'm a native Spanish speaker.

I'm opening this issue because I saw that recently there was added Chinese translation, This had me wondering if you're looking for translations. If so, I could help translate this project into Spanish.
I could translate the all this project into Spanish. Let me know if you're interested.

Have a great day ✌.

[2020-07-19 21:03] b1f6c1c4 commented on #98
1. There is *no* ultimate and universal way to merge multiple metrics into one metric. Weighted arithmetic average is the closest one. However metrics needs to be scaled before they are averaged.
1. The best way to determine how to scale the metric, as well as how to divide the continuous combined metrics into discrete ranks, is through **statistics**. It's definitely necessary to sample a moderat

[2020-07-19 23:05] TonyTang2001 opened #108 "Automatic Resizing Fit to Content"
**Is your feature request related to a problem? Please describe.**
Upon using and customizing the github-readme-stats card, I realized that the card is **unable to resize based on its content**. More specifically, when we set the ```hide_rank``` property to true, the actual card size remains unchanged, leaving the **space originally occupied by the ranking circle still part of the card**. In this

[2020-07-20 06:01] anuraghazra commented on #107
Yes! That would be awesome @JoseDeFreitas thank you very much!! 😄

[2020-07-20 07:58] anushkrishnav opened #111 "Having trouble Deploying it"
I deployed the project and clicked on the domain which lead me to the index of/ page where I clicked on the api folder I am getting an error not able to access the folder https://user-stats.vercel.app/api?username=anushkrishnav
It says Maximum retries exceeded

[2020-07-20 08:00] anuraghazra commented on #111
Please provide more info :)

Which link you tried?

[2020-07-20 08:01] anushkrishnav commented on #111
I deployed the project and clicked on the domain which lead me to the index of/ page  when I clicked on the api folder I am getting an error not able to access the folder

[2020-07-20 08:13] anuraghazra commented on #111
It says "Maximum retries exceeded" go to your vercel project settings and instead of the GITHUB_TOKEN rename it to PAT_1 [read the docs for more info](https://github.com/anuraghazra/github-readme-stats#deploy-on-your-own-vercel-instance)

[2020-07-20 08:29] anushkrishnav commented on #111
I did it still no change ... Should I promote the deployment to production ?

[2020-07-20 08:40] #111 closed

[2020-07-20 10:50] NeoTse commented on #98
if we let the score is zero, then
[code]
but A+ rank requires the result between [0.45, 0.65), and the score will never be a negative. So any rank below it is useless.

[2020-07-20 10:57] nombrekeff commented on #107
I could also help with this @anuraghazra & @JoseDeFreitas if you want, I'm also Spanish!

[2020-07-20 10:59] nombrekeff commented on #82
I like that idea @filiptronicek, Sound really reasonable. There is no need to update if the value it's truncated

[2020-07-20 11:17] nombrekeff opened #112 "Add theme names to README theme section"
Hey there!

**Is your feature request related to a problem? Please describe.**
I just tried the themes, but I had to try every theme to get the one I liked.

**Describe the solution you'd like**
I would suggest adding the name of the theme next/on top of the image, so it's easier to know which image corresponds to what theme.

[2020-07-20 13:04] adamyi commented on #92
We can use commit search API to get this in single request: https://developer.github.com/v3/search/#search-commits it has a `total_count` field.

e.g.
[code]

but it has a rate limit of 30 queries per minute. It's probably fine for self-hosted instances with cache, but not with the public instance

[2020-07-20 13:05] anuraghazra commented on #107
Help is always appreciated @nombrekeff :D

[2020-07-20 13:11] anuraghazra commented on #92
@adamyi Yeah i think this would actually work! i'm trying to see if i could do it with GraphQL api otherwise i would just do the RESTfull version then

[2020-07-20 13:30] Shawn1912 opened #113 "[Bug] bg_color url parameter for theme customization is not working."

[2020-07-20 13:31] anuraghazra commented on #113
please provide more info, thanks!

[2020-07-20 13:35] anuraghazra commented on #112
Hmmm i see yes. you can probably help it out :D thanks!

[2020-07-20 13:41] nombrekeff commented on #112
Yeah sure, I will work something out later.

What do you think if we create another MD file containing a table with all available themes with preview and name? But leave some previews in the main readme.

[2020-07-20 13:57] anuraghazra commented on #112
Yeah thats what i was exactly thinking

[2020-07-20 14:24] hi120ki commented on #104
Characters seem to be covered in some fonts.
It is impossible to specify a font that will display correctly on all OS by CSS font family settings.
So when showing the icon, the space between characters should be larger.

How about introduce a new variable "valueOffset" to set x="160" if showIcons is true and x="135" if false in src/renderStatsCard.js ?

[2020-07-20 14:32] nombrekeff commented on #112
Okay, I will do that then.

Do you prefer it if I create the new file in the root or inside the themes folder?

[2020-07-20 14:35] nombrekeff commented on #112
Also, do you have screenshots for each theme? I can do them myself if not

[2020-07-20 14:44] anuraghazra commented on #112
@nombrekeff we can probably just use live previews, it won't matter too much.

[2020-07-20 14:46] nombrekeff commented on #112
Okay, that will look cooler like this, and when/if we implement the custom cache max-age, we could add a long cache to that.

[2020-07-20 15:43] nombrekeff commented on #112
This was added in #115

[2020-07-20 15:43] #112 closed

[2020-07-20 15:51] anuraghazra commented on #90
Okay everyone i have a nicer solution to this, the checking if user is starred method is pretty nice but it would require us to do a API request to check if user is starred the repo, and i don't really want any performance degradation just because of showing credits.

So second approach would be an extra query param to disable the credits but it would be something like this
`?poweredby_githubcom_a

[2020-07-20 16:06] JoseDeFreitas commented on #107
Hello 👋.
I've just completed the Spanish translation of the README file (#116)
@nombrekeff you can check the file and change/fix something if you consider ✌.

[2020-07-20 16:25] nombrekeff commented on #107
Sure, I will take a look right now!

[2020-07-20 16:26] #82 closed

[2020-07-20 16:36] anuraghazra commented on #82
@SukkaW you can now set custom cache with `?cache_seconds=NUMBER` parameter :shipit:

[2020-07-20 16:42] nombrekeff commented on #82
Cool, I'm going to add it to the theme live previews

[2020-07-20 16:42] nombrekeff commented on #82
Never mind, you already did it 💯

[2020-07-20 17:53] nattadasu commented on #91
Uhm, I don't think that happened for HTML one. Quotation mark `"..."` inside HTML tag "value" is essential/important for the tag itself. If there's no mark between "value," the overall document would be "corrupted"

AFAIK, the #101 issue happened when they're using markdown image syntax `![]()` for embedding image rather using `<img src="">` HTML tag and accidentally typed quote. mark. It'd corrup

[2020-07-20 18:02] anuraghazra commented on #91
hmm i see well, working on my side i've checked :thinking:

[2020-07-20 18:20] garvit-joshi commented on #90
Approach looks nice, but the query will become extra long if there are more query attached to it.

[2020-07-20 18:23] anuraghazra commented on #90
Hmm yes. it would make it a bit longer, but it would make sure that whoever is copy pasting the link he/she would know the origin :thinking: I'm all ears for more ideas tho, which does not effect performance :)

[2020-07-20 18:27] SirWindfield commented on #90
I dunno, in that case it could be just left out as well. I mean, people can just append it without starring, so I see no gain there tbh.

Do you happen to have statistics on how often your API is called per day, per hour, per minute? If it is still under 500 an hour, you're fine. And that's probably the easiest way.

IMO the best approach would be to run a scheduled fetcher on the running instance

[2020-07-20 18:29] SirWindfield commented on #90
Like, a simple JSON file, an array of usernames. Load it once every X hours from disk to update it. And just keep checking the loaded instance every time someone makes a request.

[2020-07-20 18:30] anuraghazra commented on #90
I can do that, probably i have to write a Github Action to prefetch all the names who actually starred the repo.

[2020-07-20 18:33] SirWindfield commented on #90
Ye, you could like create a workflow that fetches the list on schedule and pushes it to the repository. Or just some JS that uses the GraphQL API and returns the list. You already run a server, you can already use JS + timer for example. Or other technology. No need to write a whole action.

[2020-07-20 18:36] anuraghazra commented on #90
@SirWindfield You cannot fetch all the stargazer count from api because they are limited to 100 paginations and i also don't want to run the request on runtime because of the performance issue thats why i would like to prefetch all the data with github actions

[2020-07-20 18:53] vasugamdha commented on #14
I don't know much, but is it possible that before people use it, they have to fork it, modify the auth token and then request? So like, in future you don't have to face rate limit of 5k!? I might even be wrong, conceptually.

[2020-07-20 18:56] anuraghazra commented on #14
Hey @vasugamdha Let's discuss about rate limit on another issue maybe? you can open an issue to discuss it or hop into my discord :) https://discord.com/invite/VK4k3Br

[2020-07-20 18:59] SirWindfield commented on #90
Where did you find the pagination limit? I am skimming the documentation right now and I do not see any mention of pagination limits. Yes, items per page are limited, but not the number of pages.

[2020-07-20 19:03] anuraghazra commented on #90
Here

![pagination_gh](https://user-images.githubusercontent.com/35374649/87975814-c173bd80-cae9-11ea-96c9-ddc879ee0a29.PNG)

And you have to set the pagination which is 100max

[code]

[2020-07-20 19:07] SirWindfield commented on #90
The API uses Relay based pagination which uses cursors:
[code]

The first is the number of elements per page (from the front). You can get the last n as well using `last`. You have to also print the `endCursor`, which is the unique id of the last object returned. Pass that down to `after` to get the next 100 elements from the API. If you run it once without the `after` and another time with, you w

[2020-07-20 19:08] anuraghazra commented on #108
Hey @TonyTang2001 sorry could not be able to reply you I was busy triaging other issues and PRs, thanks for the request though

I think @terror is working on it on #110

And it's also related to #65

[2020-07-20 19:08] eddiejaoude opened #120 "Slow render in Safari sometimes (random)"
Mac Safari has rendering issues

<img width="1477" alt="Screenshot 2020-07-20 20 08 18" src="https://user-images.githubusercontent.com/624760/87976291-c83c0980-cac4-11ea-99e7-75247b3511c4.png">

[2020-07-20 19:10] anuraghazra commented on #120
Hi @eddiejaoude  thanks for reporting the issues, I'll look into this ASAP.

If you provide me exact system information of your setup then I could debug this with ease (eg: Mac OS, browser versions)

Thanks!

[2020-07-20 19:31] #113 closed

[2020-07-20 19:32] anuraghazra commented on #90
Fetching the data isn't an issue, I know I can use the cursor or just loop through each iteration to get all the stargazers usernames but the main problem is performance not the data fetching. That's what I'm also facing in #15

[2020-07-20 20:07] nattadasu commented on #91
Ok, I've talked this thing to my acquaintance, and he's also a FOSS developer. He mentioned that from GitHub end, can not read from `?username=...` part, and no request from my end at all.
<details><summary>See proof</summary>
<img src="https://media.discordapp.net/attachments/604932802181595166/734833435339915304/unknown.png">
</details>

Removing the hyperlink (`[]()` or `<a>`) won't help this i

[2020-07-21 00:20] eddiejaoude commented on #120
I think you are right, it looks very similar and my versions are similar too.

Mac `15.15.5`
Safari `13.1.1`

[2020-07-21 08:09] minji-o-j opened #126 "How can I delete the 'Unspecified' field? (add.gitignore)"
**Describe the bug**
How can I delete the 'Unspecified' field?

**Expected behavior**
I use this repository to resume, so I didn't upload codes here. only README.md.

**Screenshots / Live demo link (paste the github-readme-stats link as markdown image)**
![image](https://user-images.githubusercontent.com/45448731/88029023-64711980-cb74-11ea-9a30-4bcf5f21dd8c.png)

![image](https://user-images.gith

[2020-07-21 08:11] anuraghazra commented on #126
Hi @minji-o-j thanks for opening the issue.

No you cannot hide it.

Yes i see the original github card does not show language if it's not defined, i'll do the same.

[2020-07-21 10:19] vasugamdha opened #127 "502: BAD_GATEWAY"
**Describe the bug**
Application Error: The error occurred in the hosted application.

**Expected behavior**
There occurred an application error while fetching stats of some user.
username = <code>[cclauss](https://github-readme-stats.vercel.app/api?username=cclauss)</code>
code = NO_RESPONSE_FROM_FUNCTION

**Screenshots / Live demo link (paste the github-readme-stats link as markdown image)**
<im

[2020-07-21 11:27] anuraghazra commented on #127
Thanks @vasugamdha for reporting the issue.

![gh_error](https://user-images.githubusercontent.com/35374649/88049680-2fb09280-cb73-11ea-8b02-a1242232d731.PNG)
looks like Github is being nice to us :) thats why vercel task is timingout

[2020-07-21 11:43] nombrekeff commented on #107
This can be closed, as it has been added in #116

[2020-07-21 13:26] anuraghazra commented on #107
Thanks @JoseDeFreitas @nombrekeff for helping with translation :D

[2020-07-21 13:26] #107 closed

[2020-07-21 14:14] anuraghazra commented on #120
@filiptronicek @edisonlee55 maybe you guys can help us debug this? that would be very helpful. thanks! :heart:

[2020-07-21 14:18] saurabhdaware opened #130 "Sorting in Language Card is wrong when the percentage is in float"
**Describe the bug**

![A screenshot that shows PHP is placed over TypeScript, even though typescript is used more](https://user-images.githubusercontent.com/30949385/88065995-e409e300-cb8a-11ea-805e-db0718ad6bc9.png)
PHP 5.29% is placed above TypeScript 5.44%

**Expected behavior**
TypeScript is supposed to be above PHP

[2020-07-21 14:24] anuraghazra commented on #130
@saurabhdaware Thanks for reporting this issue, i'll fix it. :)

[2020-07-21 14:30] #130 closed

[2020-07-21 15:28] filiptronicek commented on #120
@anuraghazra I was trying to reproduce it, but have no luck. I am trying on Catalina Safari 13.1.1 so that shouldn't be the problem. @eddiejaoude can you please provide further information (or try on a different machine) on how the loading looks like. Thanks!

P.S. might be because of some in-browser issue, which we cannot fix. Just throwing it in here.

[2020-07-21 15:32] anuraghazra commented on #120
The most straightforward solution would be to disable the animations completely. but the issue is we cannot detect the User-Agent from the server because User agent will be "camo" (Github's UA)

[2020-07-21 15:38] filiptronicek commented on #120
Yeah.... so, I think we, unfortunately, cannot use that, we cannot pass any styling info (as previously noted on #79.) the important thing is now to get a hold of what it looks like, see if anyone has this issue also and then either
 1. do it ourselves
 2. contact Apple and see what we can do

[2020-07-21 15:39] filiptronicek commented on #120
https://github.com/anuraghazra/github-readme-stats/issues/79#issuecomment-659883166

[2020-07-21 15:43] anuraghazra commented on #120
I see but i'm already using CSS & CSS Keyframes i'm pretty sure we can use media queries because github serves the image as SVG (and it does render the CSS with it) so i think it should work.  and in https://github.com/anuraghazra/github-readme-stats/issues/79#issuecomment-659883166 the author is refering to <picture> tag media queries it does not work because github wont render the picture tag

[2020-07-21 15:43] stemount opened #132 "Create a custom 404 that links back to this project."
**Is your feature request related to a problem? Please describe.**
there is no custom page for the `/` route so it shows you the directory listing.

**Describe the solution you'd like**
a page instead ideally with the API documentation! :O

**Describe alternatives you've considered**
a custom 404 in vercel

**Additional context**
![image](https://user-images.githubusercontent.com/150512/88075867-4

[2020-07-21 15:47] filiptronicek commented on #120
As I remember doing it, I just did the plain HTML Img with the media=prefers color scheme thing, didn't try the svg styles yet

[2020-07-21 15:50] anuraghazra commented on #132
@stemount Thanks for opening the issue, right i should redirect the users to github page :D will do it. Thanks!

[2020-07-21 15:56] #132 closed

[2020-07-21 16:04] anuraghazra opened #134 "Compact Layout For `Top Languages Card`"
**Is your feature request related to a problem? Please describe.**
The current language card is good but it takes too much space, so a good idea would be to make a compact layout.

**Describe the solution you'd like**
We can introduce a new ?layout parameter to switch between two layouts.

**Additional context**
It would exactly look like github's language stats
![languages_gh](https://user-images

[2020-07-21 16:09] eddiejaoude commented on #120
Sorry I should have said, **it is random**, it sometimes works and sometimes does not 🤦‍♂️ - it makes it very hard to debug and reproduce consistently 😞

[2020-07-21 16:38] stemount commented on #132
MAGIC!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!

[2020-07-21 17:00] fluorspar20 opened #135 "Description is not shown"
**Describe the bug**
I have given a description to each of the repos but it's not being displayed on the repo card.

**Expected behavior**
It should show the description of the repo.

**Screenshots / Live demo link**

![Screenshot_2020-07-21 fluorspar20 - Overview](https://user-images.githubusercontent.com/59736770/88084087-7f0db780-cba1-11ea-94d5-8b78391f7f6a.png)

[2020-07-21 17:07] fluorspar20 opened #136 "Top Languages Card not working properly"
**Describe the bug**
I have quite a few repos with the top language being javascript. However, the top languages card doesn't show javascript at all in the list.

**Expected behavior**
It should show js as one of the top languages.

**Screenshots / Live demo link**
![Screenshot_2020-07-21 fluorspar20 - Overview(1)](https://user-images.githubusercontent.com/59736770/88084957-c5afe180-cba2-11ea-8b95

[2020-07-21 17:26] rjoydip commented on #136
Same with my profile.

[github-readme-stats/top-langs](https://github-readme-stats.vercel.app/api/top-langs/?username=rjoydip) not showing all languages as well as percentages.

But [github-profile-languages](http://ionicabizau.github.io/github-profile-languages/?user=rjoydip) is more appropriate.

[2020-07-21 17:38] filiptronicek commented on #136
Sure, but I think the GitHub GraphQl API just takes the raw LOC count from all your repos and does the analysis from that. Not 100% sure tho

[2020-07-21 17:43] filiptronicek commented on #136
Ok, I was mistaken, it should just fetch the top language of the repo. @anuraghazra WDYT about this?
https://github.com/anuraghazra/github-readme-stats/blob/dc3e9a59f2ce202d9fa51ac489640b4e520d750f/src/fetchTopLanguages.js#L5-L25

[2020-07-21 17:52] anuraghazra commented on #136
Working on my side, which browser you are using?

![not working](https://user-images.githubusercontent.com/35374649/88089064-0874b800-cba9-11ea-8e29-622c851aaed4.PNG)

[2020-07-21 17:54] rjoydip commented on #136
Chrome

[2020-07-21 17:56] anuraghazra commented on #136
Yup it should fetch the correct langs.

[2020-07-21 17:59] filiptronicek commented on #136
Mine is also weird 😕  @anuraghazra
| Actual (pie chart) | Our implementation |
|--------------------|------------------------|
|![image](https://user-images.githubusercontent.com/29888641/88089534-72329900-cb8c-11ea-8bcb-170a7984859d.png) | ![my langs](https://github-readme-stats.vercel.app/api/top-langs/?username=filiptronicek&hide_langs_below=1)

[2020-07-21 18:01] anuraghazra commented on #136
NOTE: Consider the 100 max repos & also it get's the totalSize (in bytes) to calculate how many bytes you have written with the language.

[2020-07-21 18:02] filiptronicek commented on #136
Is that how we want it to be? Is there not a better implementation?

[2020-07-21 18:05] anuraghazra commented on #136
That's how github calculates and it's all fetched from github's api so no way the data is wrong, maybe the data processing is wrong from my side. have to do some experiments.

[2020-07-21 18:08] anuraghazra commented on #136
I'll look into this tomorrow.

[2020-07-21 19:21] anuraghazra commented on #135
Hi @fluorspar20 thanks for opening the issue, I'll check it out tomorrow. :)

[2020-07-21 20:09] jatin2003 commented on #90
I agree with you @anuraghazra as It'll have a bad impact upon loading of the stats too.

[2020-07-22 01:11] Nathan13888 opened #139 "[Feature] Change the way "Total Commits" is counted"
**Is your feature request related to a problem? Please describe.**
The "Total Commits" on the readme card is usually very small to my frequency of using github since many of my repositories are private projects.

**Describe the solution you'd like**
Add a new section in the widget to says the number of commits in private repositories or include this number in "Total Commits".

**Describe alternati

[2020-07-22 01:37] terror commented on #139
I know the GraphQL api has a restrictedContributionsCount field under the ContributionsCollection object we could get the private count from if the user has enabled private contributions. Up to @anuraghazra

[2020-07-22 01:41] Nathan13888 commented on #139
I think including private contributions will be great for people like me. Without it, my "total commits" would look very miserable :laughing:

[2020-07-22 01:51] Jasonnor opened #140 "[Feature Request] Hide specific languages in Top Languages Card"
**Is your feature request related to a problem? Please describe.**

Because some languages inherently have more code lines than other languages,
I want to hide these exaggerated language statistics. 😥
Thanks!

[![Top Langs](https://github-readme-stats.vercel.app/api/top-langs/?username=Jasonnor)](https://github.com/anuraghazra/github-readme-stats)

**Describe the solution you'd like**

Maybe add a

[2020-07-22 04:50] terror commented on #140
We currently have the option to hide languages below a certain percentage.

Either we implement the option to hide languages above a percentage or we add the option to hide specific languages and forget the idea of hiding languages that fall into a percentage category.

[2020-07-22 05:46] FairyEver commented on #1
I really hope to have this function, which can count my stars in the organization！

[2020-07-22 07:14] Jasonnor commented on #140
Yes, as title says, what I want is to hide a specific language 😃

[2020-07-22 07:30] anuraghazra commented on #135
Hi @fluorspar20 i think it's working now, looks like for some reason github's server was down and because of that the "no description" was shown and the cards were cached, same happened with #127

[2020-07-22 07:34] anuraghazra commented on #136
Hi @rjoydip yes, but as you can see

[code]

There is only one rust lang in those 100 results, and the size is 196bytes it's i think this is why it's not showing

[2020-07-22 07:37] anuraghazra commented on #136
Maybe if i change the gql query to fetch 5 langs from a certain repo then it would be better because for now i'm just only selecting one language from each repo.

[code]

[2020-07-22 07:40] anuraghazra commented on #139
Hi @Nathan13888 Thanks for opening the issue. :D

Maybe we can add a option for the user's to choose if they want to show private contribution or not.

[2020-07-22 08:13] FabioRosado commented on #139
Hello 👋  first of all thank you for working on this, its such a cool project 👍
I'd be happy to work on implementing this feature if you would like 😄

[2020-07-22 08:25] rjoydip commented on #136
@anuraghazra Yes, I saw the same thing. It'll be better to make dynamic `isFork` and `languages` as variable.

[2020-07-22 09:14] anuraghazra commented on #139
@FabioRosado
Yup go ahead, feel free to contribute :D

[2020-07-22 09:15] anuraghazra commented on #136
Not dynamic, making it max 5 or 10 would do the job, a repo can't have too much languages anyways.

and isFork should always be false, don't want to count forked repos. for example if anyone forked reactjs then they would have lot of js code

[2020-07-22 10:42] nombrekeff commented on #140
I suggested this when adding this feature, but Anurag preferred to add the below percentage option.

I think this would be a nice option to have.

[2020-07-22 11:03] anuraghazra commented on #140
I think we can remove the below percentage option maybe? if we are adding specific language hiding features they i don't think hide_langs_below option would be useful anymore.

[2020-07-22 11:05] fluorspar20 commented on #135
Yeah it's working fine now. Thanks a lot!

[2020-07-22 11:05] #135 closed

[2020-07-22 11:06] fluorspar20 commented on #135
The issue has been resolved

[2020-07-22 11:08] nombrekeff commented on #140
I agree. I think it would be a bit redundant to keep hide_langs_below if we add the hide languages option.

[2020-07-22 11:59] anuraghazra commented on #127
Hi @vasugamdha is this still happening?

[2020-07-22 12:15] vasugamdha commented on #127
hey @anuraghazra , its still happening.
Idk but it can be the issue for this specific username and many be similar very active users.

[2020-07-22 12:20] anuraghazra commented on #127
I vercel console i can see the request is timing out after 10sec

[2020-07-22 13:44] MoonAntonio commented on #139
This function is a good idea.

[2020-07-22 14:52] vasugamdha commented on #127
I will look up for similar usernames where 502 is happening.

[2020-07-22 15:43] martinRenou commented on #140
This might not make sense for this specific issue actually, because in this particular issue (Jupyter Notebook being a predominant language that the person does not want to see) the percentage for other languages will need to be recomputed.

[2020-07-22 15:58] FabioRosado commented on #139
Hello,
I had a look at this and noticed that if you use your own account, the commits on private repos will be counted towards your `Total Contributions` but not if using the hosted url from this repository.

I've tried to use restrictedContributionsCount  but it returns only 1 in my case, which is definitely wrong 😄  So I'm not entirely sure if it's possible to add the count of private contributi

[2020-07-22 16:02] filiptronicek commented on #136
I am of the opinion, that we should count forks too, it's something, that GitHub also does, and forks exist also because people have projects they make on their own.

I am not sure if GitHub provides this, I am not exactly an expert on their v4 API, but the extensions that provide the same solution must be querying it somehow, I'll look into that.

[2020-07-22 16:08] filiptronicek commented on #136
Just a link for some info on another solution:
https://github.com/freyamade/github-user-languages

@anuraghazra

[2020-07-22 16:20] martinRenou commented on #140
Ideally we could remove multiple languages?

[2020-07-22 18:38] rjoydip commented on #136
FYI...

[code]

[2020-07-22 18:51] filiptronicek commented on #136
Useful, thanks, for this, I think it would be enough to not use the languages, just the primary one. / cc: @anuraghazra @rjoydip
[code]
That gives out something like this:

[code]

[2020-07-22 19:33] terror commented on #140
@martinRenou Yeah I didn't think about that. I think hiding specific languages is the way to go.

@anuraghazra I've done some work on this and got this to work over at https://github-readme-stats-69lhfhxhs.vercel.app/api/top-langs/?username=Jasonnor&hide_langs=[%22Jupyter%20Notebook%22]

Let me know what you guys think

[2020-07-22 20:23] stemount commented on #136
I think this is would be good for "most used language widget" as it is currently an approximation of many repos.

for example I could one repo that is just an express app just serving mostly HTML, but it would say 100% typescript.

[2020-07-22 22:33] ming-tsai opened #152 "The "hide_langs_below" query param is not working on "Top Language" cards"
**The "hide_langs_below" query param is not working on "Top Language" cards**
The `hide_langs_below` query param is not working when the username has a **-(dash)**

**Expected behavior**
![image](https://user-images.githubusercontent.com/37890026/88235806-9c965c00-cc49-11ea-81d3-9c650a1494ce.png)
**ScreenShots**
![image](https://user-images.githubusercontent.com/37890026/88235876-c3ed2900-cc49-11e

[2020-07-22 22:39] terror commented on #152
Looks fine to me, use this query https://github-readme-stats.vercel.app/api/top-langs/?username=ming-tsai&hide_langs_below=8

[2020-07-22 22:48] ming-tsai commented on #152
I thought `hide_langs_below` start subtracting from the top 4 languages.

[2020-07-22 22:52] terror commented on #152
Currently hide_langs_below takes in a percentage value and every language under that percentage value gets hidden.

However pretty soon you'll be able to hide specific languages as well.

[2020-07-22 23:56] #152 closed

[2020-07-23 02:57] MrBenWang opened #153 "[Top Languages] Blog repositories(xxxx.github.io) should not be counted."
Like this. HTML should not be Top1，because it's automatically generated by Hugo .🤣🤣🤣

![top-languages](https://user-images.githubusercontent.com/9692054/88248186-e1b2a080-ccd2-11ea-8861-1a7c23ba7e23.jpg)

[2020-07-23 03:29] kingreatwill opened #154 "suport commit chart."
https://github.com/Bloggify/github-calendar

https://github.com/Sobranier/github-chart

[2020-07-23 03:47] terror commented on #154
Not entirely sure why we'd support the commit chart if the commit chart is already present on the GitHub profile?

[2020-07-23 04:31] anuraghazra commented on #154
Hey thanks for requesting the feature @kingreatwill, Yes true, github-readme-stats focused with the stats that are not visible on the GitHub UI. And also this feature is out of the scope of this project.

[2020-07-23 07:23] WEGFan opened #155 "Language color not shown if primary language color unknown"
**Describe the bug**
I have a repo which primary language is Mathematica, and the language color is not shown on the repo card. (in svg the color's `fill` is `null`)

**Expected behavior**
The color should be `#ccc`

**Screenshots / Live demo link (paste the github-readme-stats link as markdown image)**
![image](https://github-readme-stats.vercel.app/api/pin/?username=ZSCTF&repo=ZSCTF2019)

**Addi

[2020-07-23 07:47] anuraghazra commented on #155
Hi @WEGFan thanks for opening the issue we will look at the bug asap.

Yes `const langColor = primaryLanguage ? primaryLanguage.color : "#333"; ` this logic fails because the color is returning null from github's api

[2020-07-23 08:20] nombrekeff commented on #126
Work being done in #157

[2020-07-23 08:22] #126 closed

[2020-07-23 08:22] #155 closed

[2020-07-23 08:26] filiptronicek commented on #136
Does this mean, that HTML isn't considered a language in this analysis? I am a bit confused. Can you give me an example repo?

[2020-07-23 08:29] nombrekeff commented on #154
Yeah, I don't think this would fit into the current scope. Also, there are projects that do this already.

[2020-07-23 08:32] nombrekeff commented on #153
Hmm I see, this will be solved when/if https://github.com/anuraghazra/github-readme-stats/issues/140 is implemented. You could manually specify which languages to hide.

[2020-07-23 08:39] anuraghazra commented on #136
I don't think we can effectively do language analysis, for example take a scenario if someone uploaded node_modules to their github then their javascript would be 100% no matter what. same as #153

[2020-07-23 08:53] nombrekeff commented on #90
I've been thinking about this a bit, this is just my point of view and might not align with yours.

I think forcing the users into starring the project to hide the attribution is not the way to go, as it makes the project feel a bit "starrcentric", I know the importance of a project being appreciated and supported but we should not force people to like something just to be able to hide the attribu

[2020-07-23 09:04] nombrekeff commented on #134
I like this, what about making this the default layout? Is the other one actually needed?

[2020-07-23 09:14] anuraghazra commented on #90
This is not the final decision tho,
Also i'm not the first one to do this stargazer checking, i've seen lot of projects which relies on github api so i was just tinkering with the idea.

Thats why i proposed this solution https://github.com/anuraghazra/github-readme-stats/issues/90#issuecomment-661124157

I don't think we can switch to custom domain first because lot of people are already using th

[2020-07-23 09:17] anuraghazra commented on #134
No i won't make this default layout and introduce sudden breaking change. i would have both as options. and will implement a option to switch the layout like we are doing with vertical orientation of stats card

[2020-07-23 09:22] SirWindfield commented on #90
A little bit shorter:

⚡ by git.io/readme-stats

[2020-07-23 09:23] anuraghazra commented on #90
Looks cool!

[2020-07-23 09:24] nombrekeff commented on #90
Also i'm not the first one to do this stargazer checking, i've seen lot of projects which relies on github api so i was just tinkering with the idea.

Yup, I know, that's why I wanted to throw my opinion to the table. I think the concept is pretty cool though.

Oh, I missed this comment, I kinda like that approach the most.

Agree, did not thing about the username in the readme.. good catch.

[2020-07-23 09:24] anuraghazra commented on #90
@SirWindfield the short url is permanent right?

[2020-07-23 09:24] nombrekeff commented on #90
I like this one better

[2020-07-23 09:25] SirWindfield commented on #90
Yes @anuraghazra, github support can remove it if you ask them though.

[2020-07-23 09:26] nombrekeff commented on #134
Ok, makes sense. Having both options gives some flexibility to the user.

[2020-07-23 09:27] anuraghazra commented on #90
No i don't wanted it removed, i like it.

Although i've thought about this url `git.io/grs` but seems too short lol :p

[2020-07-23 09:28] nombrekeff commented on #90
I thought about that too, it's not bad. I read it as `greese` xD

[2020-07-23 09:30] anuraghazra commented on #90
yeah lol, readme-stats it ok, it gives users context what the link is about. grs is kinda arbitrary & does not make sense. :p :laughing:

[2020-07-23 09:31] SirWindfield commented on #90
Yep, that's why I removed the github, not needed. But I couldn't come up with something shorter that has the same expressiveness

[2020-07-23 09:33] nombrekeff commented on #90
What about `md-stats`? In the end, they are stats for markdown more so than for readmes. I could use them in my posts on DEV.to as well.

[2020-07-23 09:34] SirWindfield commented on #90
That could be an alternative

[2020-07-23 09:35] nombrekeff commented on #90
Just throwing ideas.

[2020-07-23 09:50] anuraghazra commented on #90
I think readme-stats is ok, it's more similar to the project name, yes md-stat is good but I think readme-stats matches the project title

[2020-07-23 09:53] nombrekeff commented on #90
yeah, readme-stats is good for me too!

[2020-07-23 12:34] Anish-Shobith opened #159 "Hide border looks a bit off when using a GitHub dark extension or a stylus"
Hello there,

So I was trying some cool stuff today and I noticed that when you have hide_border turned off (by default), it adds a a small stroke of white line around the corner which looks a bit odd when you are using a [GitHub dark theme](https://github.com/StylishThemes/GitHub-Dark) (I use [stylus](https://chrome.google.com/webstore/detail/stylus/clngdbkpkpeebahjckkjfobafhncgmne)) , Here is a

[2020-07-23 12:44] anuraghazra commented on #159
@Anish-Shobith Thanks for opening the issue :D

Yes it does have a white border around the card and we are exactly fixing the issue you mentioned, check out #151

[2020-07-23 13:43] stemount opened #160 "GitHub Stats "circle" is a bit confusing if you don't understand how the "ring completion" is put together."
**Is your feature request related to a problem? Please describe.**
Imagine yourself as a hiring manager and you know a little bit about GitHub, but not a lot about this new README.me craze.
I actually haven't fully studied the code to see why this works, but I have done this on purpose to put myself in the shoes of the above.

It is really confusing as to why `A++` looks like 60% out of 100% on th

[2020-07-23 13:53] shahzebgit commented on #134
Hey,
How about having a language card layout for the individual repository? just feature idea.
 if you want I can make a separate request for it.😄

[2020-07-23 14:24] anuraghazra commented on #160
Hi @stemount thanks for pointing this out.

actually we have   B+, A+, A++, S,  S+ ranks

And the ranks are distributed intentionally in a curved manner so that more people get A+ & A++ and S, S++ Ranks are super hard to get.

Also note that these are just activity stats, and ranks represents the user's activity on github not how skilled a user is *(Same as github's contribution chart)*, so if a h

[2020-07-23 14:26] anuraghazra commented on #134
Hi @shahzebgit
I have plans for doing `repo stats` but individual language card for each repo is totally redundant because github already shows that.

[2020-07-23 14:31] anuraghazra commented on #136
Yup, but that's not my point, there are lot of scenarios where we cannot evaluate code correctly and there is no perfect way to do that, lets just take an example of my website's github repo which has a `develop` branch and a `master` branch and `master` branch holds all the static html code which is generated by gatsby, there are huge amounts of meta data, JSON data & javascript files.

https://g

[2020-07-23 14:36] Anish-Shobith commented on #159
Sweet!

[2020-07-23 14:40] shahzebgit commented on #134
yes , yes that makes more sense actually having a repo stats.

[2020-07-23 14:52] anuraghazra opened #161 "Flaw with the handling of `hide` parameter (arrays)"
**Describe the bug**
Currently what we are doing is accepting a hide parameter which needs to be a JSON array ?hide=["js","html"] we are doing this both for stats card & lang card, it works ok but it fails in one scenario

[code]

As we can see it fails because the image src attribute is wrapping it with double quotes and the options array also needs to be wrapped in double quotes, we can easily a

[2020-07-23 14:53] anuraghazra commented on #161
pinging @arjunmahishi @nombrekeff @martinRenou @terror for their opinions and ideas

[2020-07-23 15:11] arjunmahishi commented on #161
IMO, CSV will fly better than JSON in a URL

[2020-07-23 15:35] anuraghazra commented on #161
Okay everyone, the API is changed to `?hide=issues,contribs,stars`

[2020-07-23 15:38] sagar-gavhane commented on #134
@anuraghazra @nombrekeff Can I take this feature?

[2020-07-23 15:38] #161 closed

[2020-07-23 15:46] anuraghazra commented on #134
Of course @sagar-gavhane go ahead!

[2020-07-23 17:00] anuraghazra commented on #90
@nombrekeff @SirWindfield

![grs-credit](https://user-images.githubusercontent.com/35374649/88315590-199e0000-cd34-11ea-8579-560c8a1df3f5.PNG)

[2020-07-23 17:02] filiptronicek commented on #90
I like it! Pretty nice @anuraghazra

[2020-07-23 17:03] anuraghazra commented on #90
also @filiptronicek i'm going with simple undocumented `?hide_credits=true` option

Any suggestions on the parameter name?

[2020-07-23 17:05] SirWindfield commented on #90
Can you try to center it and post some images of it? I.e. center the text with the summary circle.

[2020-07-23 17:07] filiptronicek commented on #90
I think `hide_credits` sounds good, an alternative would be just `credits` = (hidden|shown) (hide|show), but your suggestion is better I think @anuraghazra

[2020-07-23 17:08] anuraghazra commented on #90
Tried that does not look nice to me, also users can hide the rank circle so we cannot align to that respect. i think corner looks good

[2020-07-23 17:11] SirWindfield opened #163 "Enable custom themes through query parameters"
**Describe the solution you'd like**
I'd love to be able to specify the theme colors using query parameters.

**Describe alternatives you've considered**
Adding the theme to the repository itself. However, I have to admit, I kind of roll with my own color scheme for the projects I do and use the theme as kind of a branding. It would be awesome if people could use their own, custom themes that way.

[2020-07-23 17:15] SirWindfield commented on #90
@anuraghazra Vote for config that allows to align it in the center:
![mock](https://user-images.githubusercontent.com/5113257/88316955-de420800-cd18-11ea-80a2-8a03f6f8c3df.png)

[2020-07-23 17:16] SirWindfield commented on #163
Apparently I can't read...

[2020-07-23 17:16] #163 closed

[2020-07-23 17:19] anuraghazra commented on #90
Maybe on the left side?

[2020-07-23 17:22] SirWindfield commented on #90
I do think that the middle looks the best to be honest.

[2020-07-23 17:35] anuraghazra commented on #90
Center:
![center_credit](https://user-images.githubusercontent.com/35374649/88318858-fe81bf00-cd38-11ea-90ac-af76862b4c5d.PNG)

Corner:
![grs-credit-corner](https://user-images.githubusercontent.com/35374649/88318866-004b8280-cd39-11ea-97b4-6216e3ddf352.PNG)

[2020-07-23 18:04] SirWindfield commented on #90
Ye, I do like the center one more! :) Any plans on adding it to the other cards as well?

[2020-07-23 21:04] tobiasvl commented on #136
I also came here because I saw discrepancies between this tool and my Chrome extension-generated pie chart (linked above).

As an example, this tool says my top language is JavaScript with 46.21% and Lua is second with 29.29%, while the pie chart says I have 5 JavaScript repos and 15 Lua repos. However, if I do a [search for JavaScript repos](https://github.com/search?l=javascript&q=user%3Atobiasv

[2020-07-23 21:12] tobiasvl opened #164 "[Feature Request] New card type: Most used topics"
On organization profile pages (such as https://github.com/github), there's a list of the top 5 most used topics on repos in the organization.

Now that we can show our top languages (another feature organizations had already), It'd be cool to be able to display my most used topics too!

![image](https://user-images.githubusercontent.com/80824/88339202-e9f1f680-cd39-11ea-9277-62def2d18494.png)

[2020-07-23 21:22] terror commented on #164
This could be cool, I like it.

[2020-07-24 01:19] terror commented on #159
@Anish-Shobith just checked this out, I am working on a fix over on my deployment: https://github-readme-stats-7nscindis.vercel.app/

Feel free to test it out and let me know what you think

Preview:
<img src="https://github-readme-stats-7nscindis.vercel.app/api?username=Anish-Shobith&show_icons=true&icon_color=79ff97&text_color=9f9f9f&bg_color=151515&hide_border=true"/>

[2020-07-24 02:02] luizyao opened #165 "The "Hide individual languages" example's URL has an extra "]" character in README.md"
**Describe the bug**
[code]

Hiding `html` language fails because it is followed by a **"]"** character

[![Top Langs](https://github-readme-stats.vercel.app/api/top-langs/?username=anuraghazra&hide=javascript,html])](https://github.com/anuraghazra/github-readme-stats)

**Expected behavior**
[code]

[![Top Langs](https://github-readme-stats.vercel.app/api/top-langs/?username=anuraghazra&hide=javas

[2020-07-24 04:23] deancn commented on #1
my stars value is 0,  can help check?

https://github-readme-stats.vercel.app/api/?username=deancn

[2020-07-24 04:29] terror commented on #1
Hi @deancn, it is because we currently only support stars from repositories you are the owner of. Since many people want this as an enhancement I'm sure we'll be able to implement this soon.

[2020-07-24 04:30] NikhilCodes opened #167 "Not showing `dart` in `Top Languages` card"
**Describe the bug**
The Top Language card doesn't count dart, C/C++ and java.

[2020-07-24 04:37] deancn commented on #1
@terror  got it, thanks.

[2020-07-24 06:48] adiralashiva8 opened #168 "Add 'Lines of Code' and 'Fun Facts'"
As a user I want to highlight number of lines I code, and also card for fun facts about my profile

Reference - https://sourcerer.io/adiralashiva8

[2020-07-24 07:17] #165 closed

[2020-07-24 07:38] anuraghazra commented on #159
Fixed in #151

[2020-07-24 07:38] #159 closed

[2020-07-24 07:48] anuraghazra commented on #164
Thanks for requesting the feature @tobiasvl

yeah it's a good idea but i really don't want to bloat the service with lots of features which might not be too useful.
maybe i'll wait for some upvotes before implementing this.

[2020-07-24 07:51] anuraghazra commented on #154
Hi @kingreatwill thanks for requesting the feature, we decided to not implement this since contribution chart is already there and people can see, plus we don't wanna bloat the service with lots of features which are already there on the github's UI.

Thanks for the request tho, feel free to open another issue if you have any other ideas. :smile:

[2020-07-24 07:51] #154 closed

[2020-07-24 09:43] rmdhfz opened #169 "Could not resolve to a User with the login of 'google'."
**Describe the bug**
A clear and concise description of what the bug is.
is not working
![github stats](https://github-readme-stats.vercel.app/api?username=google&show_icons=true)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots / Live demo link (paste the github-readme-stats link as markdown image)**
If applicable, add screenshots to help expla

[2020-07-24 09:44] rmdhfz commented on #169
![github stats](<iframe width="560" height="315" src="https://www.youtube.com/embed/1NRJf8OAdc8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>)

[2020-07-24 10:00] anuraghazra commented on #169
Hi @rmdhfz thanks for opening the issue.

Well Google is not an user, it's an organization

[2020-07-24 10:27] Delta456 opened #170 "incorrect number of stars shown"
**Describe the bug**
incorrect number of stars shown

![Swastik Baranwal's GitHub Stats](https://github-readme-stats.vercel.app/api?username=Delta456&show_icons=true)

**Expected behavior**
A clear and concise description of what you expected to happen.

Show 626 stars as shown on my profile https://github.com/Delta456

[2020-07-24 10:30] anuraghazra commented on #170
Hi @Delta456 Total Stars shows "How many stars you gained" and github shows  "How many repos you've starred"

[2020-07-24 10:31] Delta456 commented on #170
Oh it wasn't clear at all. I remember it was showing 600+ earlier.

[2020-07-24 10:32] anuraghazra commented on #170
Duplicate of #69

[2020-07-24 10:33] anuraghazra commented on #170
If you have gained 600 stars then it will show 600 stars.

[2020-07-24 10:34] Delta456 commented on #170
It was showing this earlier

![image](https://user-images.githubusercontent.com/28479139/88383041-56ff9d80-cdc7-11ea-867d-198b38559ada.png)

[2020-07-24 10:37] anuraghazra commented on #170
Probably it was before the change when we filtered out owner repos, now it only counts repos which you own.

[2020-07-24 10:38] Delta456 commented on #170
Ok then. Thanks.

[2020-07-24 10:38] #170 closed

[2020-07-24 10:39] anuraghazra commented on #170
@Delta456 check out https://github.com/anuraghazra/github-readme-stats/issues/39 for more info

[2020-07-24 10:41] Delta456 commented on #170
@anuraghazra ok 👍

[2020-07-24 14:04] #139 closed

[2020-07-24 14:53] Nathan13888 opened #174 "[Feature] Detect private repositories in Top Languages card"
**Is your feature request related to a problem? Please describe.**
Top Languages Cards do not display anything about private repositories **even when using a self-deployed Vercel instance**.

Since the majority of my repositories are private and any public repositories are either forks or don't have any particular "Language" being used, the Top Languages Card appears to be blank (view my profile f

[2020-07-24 15:18] anuraghazra commented on #174
Hmm i see, so you have 3 public repos 2 of them are forked and 1 is a profile readme thats why languages are not shown.

So in case of private repos,
I don't think we can access any private repos, so we cannot calculate languages from private repos.
Also note that i'm not too good at security or privacy terms of github, that's why i'm avoiding showing any private info which is not directly given t

[2020-07-24 16:05] Anish-Shobith commented on #159
@terror , Thank you 👍

[2020-07-24 16:06] TJMusiitwa commented on #167
Hope this is fixed soon. Most of my project repos are Flutter/Dart based projects

[2020-07-24 16:55] FabioRosado commented on #174
Hello @Nathan13888  What you are asking will not be possible with @anuraghazra  hosted version, this is because the graphql query will check  the [Repository object](https://docs.github.com/en/graphql/reference/objects#repository) and will count the languages if a repository is not a fork ([Line 11 of fetchTopLanguage](https://github.com/anuraghazra/github-readme-stats/blob/f9b14c9442276fd30119183

[2020-07-24 17:04] anuraghazra commented on #174
@FabioRosado

Actually we have multiple Personal Access Token Fallbacks (see #58) so it's unlikely that we will hit the rate limit, the main issue is performance, fetching all the repos will take time and since github api paginates the response to 100 repos we actually have to do multiple requests to get all the repos and that would take some time and it runs on free tier of vercel so the serverle

[2020-07-24 17:08] FabioRosado commented on #168
This seems like a pretty fun thing to add. I did a quick look on the Github API docs and it seems there is no way to count lines of commits. After a quick search it seems you can do it with a script that can check the lines of code committed from you, so that might be the only way to implement it 🤔

[2020-07-24 17:13] adiralashiva8 commented on #168
If not possible we can ignore this request.

[2020-07-24 17:13] FabioRosado commented on #174
Didn't know about that but that's a great way to do things! Also I do agree that we should skip forks, this was mostly to try and help @Nathan13888 question/request haha

[2020-07-24 17:14] anuraghazra commented on #168
@adiralashiva8 Thanks for requesting the feature, This seems interesting to implement.

We have to do some research with the  https://sourcerer.io's source code to see if we can salvage some algorithms to calculate the Fun Facts Card.

And @FabioRosado points are totally valid too.

[2020-07-24 17:17] anuraghazra commented on #174
@FabioRosado Yup! :+1:

@Nathan13888 I think the best approach is to fork and modify the code on your end, let me know if that solves your query and we can close this for now.

[2020-07-24 17:27] anuraghazra commented on #167
@NikhilCodes Thanks for reporting the issue, We'll see what we can do to fix it, meanwhile see #136

[2020-07-24 17:30] SirWindfield commented on #1
Assuming you might be a member of some huge organization (npm, babel, rust). It might make sense to add a filter on top of it to prevent certain organizations from being included. Better than that would be an allowlist that only includes organizations that you explicitly declare:
`https://github-readme-stats.vercel.app/api/?username=SirWindfield?orgs=zors-engine,Spotifyd`

[2020-07-24 17:33] anuraghazra commented on #71
I also noticed this, and i think this randomly happens. i've faced this, we'll see what we can do to fix this, Closing this in favor of #38

[2020-07-24 17:33] #71 closed

[2020-07-24 17:36] zendy199x opened #177 "This page contains the following errors"
**Describe the bug**
A clear and concise description of what the bug is.
This page contains the following errors:
error on line 88 at column 42: PCDATA invalid Char value 8
Below is a rendering of the page up to the first error.

https://github-readme-stats.vercel.app/api?username=zendy199x&theme=merko&show_icons=true

**Expected behavior**
A clear and concise description of what you expected to h

[2020-07-24 17:39] anuraghazra commented on #177
@zendy199x Thanks for opening the issue, I'll investigate the issue ASAP.

[2020-07-24 17:44] anuraghazra commented on #177
Okay i think your name is causing the issue, try `&hide_title=true` and it should work fine, i'm working on a fix.

[2020-07-24 18:16] #177 closed

[2020-07-24 18:18] anuraghazra commented on #177
Hi @zendy199x This should be fixed now, thanks for reporting :D

[2020-07-24 18:28] anuraghazra commented on #177
![](https://github-readme-stats.vercel.app/api?username=zendy199x)

[2020-07-24 19:32] rjoydip commented on #79
Hello folks, for dark mode it's working in my local. Hope I will able to produce some update after deploy it and verify it in live mode.

[2020-07-24 19:34] filiptronicek commented on #79
@rjoydip that would be awesome! Super excited to see it in action

[2020-07-24 19:37] filiptronicek commented on #169
I also wanted to note this, I'll try to look into that. Should display a custom error. @anuraghazra

[2020-07-24 19:53] anuraghazra commented on #79
Yes these stuff works locally but not in production because we are not serving directly from the server, github will reupload and serve from their CDNs.

Same issue I faced when detecting user agent #45

[2020-07-24 19:55] filiptronicek commented on #169
Looks like it's not natively possible (AFAIK), but there could be a simple solution to this, if the lookup of the user fails, we could just query
[code]
and look for errors there.

[2020-07-24 19:59] anuraghazra commented on #169
Yes, @filiptronicek github orgs are not normal users you cannot fetch those stats in organization.

We would just show a error and fallback by querying the organization. As we did in repo card.

[2020-07-24 21:29] MirayXS commented on #174
@FabioRosado

My hosted project

<img src="https://github-readme-stats-mirayxs.vercel.app/api/top-langs/?username=MirayXS">

This project

<img src="https://github-readme-stats.vercel.app/api/top-langs/?username=MirayXS">

Shows the same value. So it doesn't count private repos.

[2020-07-24 21:34] MirayXS commented on #153
`/docs/` folder is also a blog site ( a way to "load" the website ) so it should also not be counted.

[2020-07-24 21:35] MirayXS commented on #174
If it counted private repos, i would've had a high javascript % as i work on javascript private projects

[2020-07-25 00:22] MirayXS commented on #168
really like this idea. Interesting!

[2020-07-25 01:52] Nathan13888 commented on #174
I've actually tried hosting my own vercel instance already but it doesn't work still. @anuraghazra

So the solution from the previous feature request that @FabioRosado suggested doesn't seem to work here.

Could there potentially have been some sort of secret API or setup that allows for this to work?

[2020-07-25 01:58] Nathan13888 commented on #174
I've added a self-deployed/hosted version of the repository for reference on my profile picture.

[2020-07-25 04:35] anuraghazra commented on #174
@Nathan13888 @MirayXS as I said, you have to *modify the code* so that it also counts private repos, it does not just magically work just by using your own PAT.

[2020-07-25 04:42] rjoydip commented on #79
@filiptronicek @anuraghazra
Plese checkout below link of live deployment. It's working
https://github-readme-stats.rjoydip.vercel.app/api?username=rjoydip&show_icons=true

[2020-07-25 04:48] anuraghazra commented on #79
@rjoydip cool then, open the PR! :100:

[2020-07-25 04:49] rjoydip commented on #79
Yes, but I will check with this in my `README` once before PR.

[2020-07-25 07:10] anuraghazra commented on #169
@filiptronicek so turns out we need to give our PAT tokens read:org permissions to be able to fetch the organization query

`Your token has not been granted the required scopes to execute this query. The 'login' field requires one of the following scopes: ['read:org'], but your token has only been granted the: ['gist', 'repo', 'user'] scopes. Please modify your token's scopes at: https://github.co

[2020-07-25 07:12] filiptronicek commented on #169
That's a bummer, what about having a PAT just for this? Then we won't have to create new ones again @anuraghazra

[2020-07-25 07:18] anuraghazra commented on #169
It would make the fetcher unnecessarily complex just to fetch that once piece of information with a different PAT & we also have to then make two requests to the API.

We don't have to create new PATs we just need to regenerate them with new scopes.

So i think we have to solution
1. Regenerate PATs
2. If the user enters Organization username then github will throw the `Could not resolve to a User

[2020-07-25 08:15] anuraghazra commented on #79
I'm still wondering why @filiptronicek's experiment failed, did you used the media queries inside the picture tag?

[2020-07-25 08:20] #169 closed

[2020-07-25 08:28] SukkaW commented on #79
@anuraghazra I will bring up my own test again.

[code]

<picture>
      <source
        srcset="https://via.placeholder.com/1000x618.png?text=Dark+Mode"
        media="(prefers-color-scheme: dark)"
      />
      <source
        srcset="https://via.placeholder.com/1000x618.png?text=Light+Mode"
        media="(prefers-color-scheme: light), (prefers-color-scheme: no-preference)"
      />
      <img

[2020-07-25 08:36] anuraghazra commented on #79
Yeah, Github does support SVG based CSS thats why we could do animations and stuff but not picture tags. so using media queries on picture tag wont work

``svg
<picture>
      <source
        srcset="https://via.placeholder.com/1000x618.png?text=Dark+Mode"
        media="(prefers-color-scheme: dark)"
      />
      <source
        srcset="https://via.placeholder.com/1000x618.png?text=Light+Mode"

[2020-07-25 10:12] HaaLeo opened #184 "Bug Report: Pin Card displays too short description"
**Describe the bug**
When generating a pin card for a repository with a very long repository description like for the [HaaLeo/swarmlib](https://www.github.com/HaaLeo/swarmlib) repository, the description of the repository is truncated after a single line instead of three

**Expected behavior**
The repository description is truncated after three lines. The screenshot shows GitHub's original pin car

[2020-07-25 10:24] FabioRosado commented on #168
I've tried sourcerer and  you need to download the sourcerer app and choose which repos to add to your profile then it will do some "magic" and will show you, your stats. To add this feature we might need to work on some piece of code that does the same thing 🤔

[2020-07-25 10:57] anuraghazra commented on #168
Yes i've also used so https://sourcerer.io/ i think they also use web scraping to collect some extra info which are not in the GraphQL API.

[2020-07-25 11:42] xiaoyu2006 commented on #168
<img width="1429" alt="截屏2020-07-25 19 41 30" src="https://user-images.githubusercontent.com/32544798/88456260-d9af5800-ceae-11ea-96ae-69cd71105576.png">

It's definitely magic. Some simple API can't handle that.

[2020-07-25 11:53] MirayXS commented on #174
I already have a fork and hosted instance. What code and lines I have to modify ?

[2020-07-25 11:55] anuraghazra commented on #168
"magic" here is referred to algorithm to calculate those statistics.  https://github.com/sourcerer-io/sourcerer-app/blob/develop/src/main/kotlin/app/FactCodes.kt

*if apps runs on magic i would have started graduating from hogwarts :p*

[2020-07-25 11:57] xiaoyu2006 commented on #168
I know that.

[2020-07-25 11:57] anuraghazra commented on #174
@MirayXS setting isFork: false should work

https://github.com/anuraghazra/github-readme-stats/blob/f50938c908014e3cb657ee34bead91f64e9eb498/src/fetchTopLanguages.js#L11

[2020-07-25 12:00] HaaLeo commented on #184
Just found #94 which also mentions the single line text.

[2020-07-25 12:00] anuraghazra commented on #174
@MirayXS setting isFork: true should work

https://github.com/anuraghazra/github-readme-stats/blob/f50938c908014e3cb657ee34bead91f64e9eb498/src/fetchTopLanguages.js#L11

[2020-07-25 12:00] xiaoyu2006 commented on #174
If everything is as that easy...

[2020-07-25 12:02] xiaoyu2006 commented on #184
That's the default behavior I think. @ HaaLeo

[2020-07-25 12:02] anuraghazra commented on #174
https://github.com/anuraghazra/github-readme-stats/issues/174#issuecomment-663590879
https://github.com/anuraghazra/github-readme-stats/issues/174#issuecomment-663638201

[2020-07-25 12:04] xiaoyu2006 commented on #174
I haven't done anything like this before. 😨

[2020-07-25 12:06] anuraghazra commented on #174
Everything is magic then :wink:

You can explore the API here:
- https://developer.github.com/v4/explorer/

Also check out the code please:

https://github.com/anuraghazra/github-readme-stats/blob/f50938c908014e3cb657ee34bead91f64e9eb498/src/fetchTopLanguages.js#L5-L27

[2020-07-25 12:08] anuraghazra commented on #184
@HaaLeo Thanks for reporting the issue, we are currently looking at this on #94 and trying to figure out the best way to handle the auto resizing of height and multiple lines in SVG, it's doable of course but kinda messy. So we are trying to figure out a best approach.

[2020-07-25 12:44] MirayXS commented on #174
i want to only count private

[2020-07-25 12:55] odieone44 commented on #174
trying
[code]

on api explorer shows private repos fine without needing the isFork value to be true.

When trying the languages query in the API Explorer I did have to change the language(first:1) to (first:10) to get details on more languages, havent looked at the rest of the source code to see if it would make any difference in this issue though.

In any case the language tracker does not seem t

[2020-07-25 12:59] anuraghazra commented on #174
@odieone44

Probably because your instance is using your own PAT so it's also fetching all the private contributions and stats.

[2020-07-25 14:21] xiaoyu2006 commented on #174
@anuraghazra OMG. I was meant to post these things under #168 ... Found this just now...

[2020-07-25 14:25] yashguptaz opened #187 "Add CONTRIBUTING.md"
It can be a bad experince as a beginner exploring the repo when the repo doesn't have a `CONTRIBUTING.md`
Add a `CONTRIBUTING.md` file to at least the root of the repo, and if possible then even in `/themes/`, this will ensure that even newbies are able to contribute properly.

[2020-07-25 14:27] yashguptaz commented on #187
Closing as a PR is already opened
See #121

[2020-07-25 14:27] #187 closed

[2020-07-25 14:28] anuraghazra commented on #187
@yashguptaz thanks for opening the issue, i'll add it.

[2020-07-25 20:11] RodrigoEC opened #192 ""Top Languages Card" not working as it should be."
**Describe the bug**
I can't remove "Jupyter Notebook" from the top languages card, like python for example.

**Expected behavior**
If I choose to type &hide=Jupyter Notebook or &hide=Jupyter_Notebook or Jupyter-notebook (I don't really know) the Jupyter Notebook should not appear on the top languages card, but it does.

[2020-07-25 20:14] #192 closed

[2020-07-26 01:18] xiaoyu2006 commented on #168
What about https://stackoverflow.com/a/32154303/10811334.
TL;DR

[2020-07-26 02:12] xiaoyu2006 commented on #94
No it trims well:

[code]

It's the font problem. For example, characters like "D" are longer, while "i" is shorter. e.g.

1. ![Too long char](https://github-readme-stats.vercel.app/api/pin/?username=xiaoyu2006&repo=github-readme-stats-debug1)
2. ![Too short char](https://github-readme-stats.vercel.app/api/pin/?username=xiaoyu2006&repo=github-readme-stats-debug2)

[2020-07-26 05:09] thisispratt opened #194 "Top Languages Card not hiding C++"
### Description
The top languages card is unable to hide the C++ language.
I tried it both ways:
1. PHP was hidden but c++ was not.
https://github-readme-stats.vercel.app/api/top-langs/?username=thisispratt&hide=c++,php

![image](https://user-images.githubusercontent.com/40731031/88471788-ac07f480-cf2a-11ea-90fb-8db7b5a9bd48.png)

2. https://github-readme-stats.vercel.app/api/top-langs/?username=t

[2020-07-26 06:40] terror commented on #194
It is because we currently don't encode the symbols for you in the URL query.

Try this query: https://github-readme-stats.vercel.app/api/top-langs/?username=thisispratt&hide=c%2B%2B,php

[2020-07-26 07:37] anuraghazra commented on #140
resolved in #150

[2020-07-26 07:37] #140 closed

[2020-07-26 09:14] thisispratt commented on #194
Thanks! it works fine.
Can you please explain what this 2B does?

[2020-07-26 09:22] terror commented on #194
Some characters in URLs have special roles, so you if you're not using them for their specific role you have to encode them. %2B is the encoded version of "+".

See https://en.wikipedia.org/wiki/Percent-encoding for further reference

[2020-07-26 10:34] madeindra opened #199 "[Feature] API for returning individual github status"
**Is your feature request related to a problem? Please describe.**
I've been wanting to create my custom Github Status card instead of using the default card. To do that, I need to get the individual value of the GitHub status.

**Describe the solution you'd like**
The solution could be similar to what I did here: https://github.com/madeindra/github-readme-stats

**Describe alternatives you've con

[2020-07-26 13:43] rjoydip opened #200 "code refactor"
**Is your feature request related to a problem? Please describe.**

**Refactor the code base**

- [x] Folder structure
- [ ] Simplify code
- [ ] Code style & format [eslint, prettier]
- [ ] Improve code coverage
- [ ] Improve styling
- [x] Removed redundant code
- [ ] Server side rendering

Ref: #200

[2020-07-26 13:44] Donghoon759 opened #201 "How to hide jupyter Notebook?"
My top language is Jupyter Notebook and I want to hide it. Then, how can I write the query string to hide it?
I tried
hide=jupyter_notebook
hide=jupyterNotebook
hide=Jupyter_notebook
hide=JupyterNotebook
hide=jupyter-notebook
hide=jupyter_notebook

[2020-07-26 13:44] anuraghazra commented on #200
@rjoydip i would say go slow, lets first get the Code Style & Eslint infra ready & merged.

[2020-07-26 13:48] anuraghazra commented on #201
You tried everything except SPACE.

[2020-07-26 13:51] Donghoon759 commented on #201
hide=jupyter%20notebook is the answer. Nice :) Thx.

[2020-07-26 13:51] #201 closed

[2020-07-26 13:54] rjoydip commented on #200
Correct. That will be better in first try.

[2020-07-26 14:53] xiaoyu2006 commented on #94
Since you use SVG, sizes are fixed and can't expand automatically like the stock pin card.

@anuraghazra I have a ***not-so-good*** fix:
1. Increase the SVG's height a little
2. Auto break if the desc is too long.

PLZ let me know if this is avliable.

[2020-07-26 15:01] anuraghazra commented on #94
This of course sounds simple, but isn't. SVG does not have auto text wrapping. I'll have to write a function to detect the text length (and not just text length also have to consider each word's width which is hard to figure out)

And we cannot simply make the height large it will look bad, we have to auto resize the height depending on how many line breaks there are (it's possible tho)

[2020-07-26 15:03] xiaoyu2006 commented on #94
https://developer.mozilla.org/zh-CN/docs/Web/SVG/Element/foreignObject

[2020-07-26 15:05] anuraghazra commented on #94
I know about foreignObject and github also supports it, but there is no guarantee that it will render on all browser as it's not in SVG v1.1 Spec

[2020-07-26 15:54] anmol098 commented on #168
@adiralashiva8 I think this is what you want [](https://github.com/anmol098/waka-readme-stats/tree/dev#extras )
please have a look at this

[2020-07-26 15:57] tonka3000 opened #203 "Add GitLab backend"
I would be nice when you can also query data also from https://gitlab.com (as option in your API). I've already filed a issue on GitLab.com for [profile README.md for GitLab](https://gitlab.com/gitlab-org/gitlab/-/issues/232157).

Here is a link to the [GraphQL API of GitLab](https://docs.gitlab.com/ee/api/graphql)

[2020-07-26 16:31] adiralashiva8 commented on #168
@anmol098 Thanks for sharing, It meets my requirement.  If samething implemented here with nice UI, that could be awesome.

[2020-07-26 16:33] anmol098 commented on #168
@adiralashiva8 We are directly writing on the markdown file...UI  Customization is limited on markdown file.

[2020-07-26 16:38] anuraghazra commented on #168
How does it calculates the LOC? it uses WakaTime API (never tried it)?

[2020-07-26 16:38] adiralashiva8 commented on #168
Thanks for clarification @anmol098

Seems author is working on feature based on reference i shared, may be this helps them in implementation of feature

Let us wait for @anuraghazra and @FabioRosado view on this (im bit curious about UI part, which makes my profile bit awesome)

[2020-07-26 16:39] SSARCandy commented on #136
I have also noticed the language analysis is off, I created a pull request about it #204, which fetch top language in each repo by adding `orderBy: {field: SIZE, direction: DESC}` constrain.

[2020-07-26 16:45] anuraghazra commented on #168
Actually there are lot of options/ways to calculate total LOC of a github user, but github-readme-stats needs to be realtime & have to calculate them fast (under 10sec limit of vercel) which is not an issue with services which uses Github Action.

https://sourcerer.io is calculating LOC on demand but as you can see they show a nice little loader & it takes lot of time (they even email you when the

[2020-07-26 17:24] tobiasvl commented on #136
Hmm. Something seems to have changed, but it doesn't seem fixed. For me, Python was my fifth language before, and now it's been replaced by Java... Some other changes in percentages too, but Python dropping off the list shouldn't have happened since it's my second largest language (behind Lua) in the Chrome pie chart. (JavaScript is still my top language here, erroneously).

[2020-07-26 17:28] tobiasvl commented on #136
Oh, and if I hide JavaScript and Java, my card just displays the other three languages. It's not fetching two other languages to replace the ones I hide. I'm not sure if this is a separate bug with hiding, or if it's related to it not fetching my languages correctly... Maybe it thinks I only have five languages total?

[2020-07-26 17:30] anuraghazra commented on #136
It fetches all the langs, calculates the top langs, picks top 5 langs, and you just hide langs from those top 5s

[2020-07-26 17:33] tobiasvl commented on #136
Ah OK... My mistake then, I misunderstood the "hide" feature.

[2020-07-26 19:06] wopian commented on #136
Python is shown as 52.59% for me, but my only interaction with Python is a single fork (open PR) of one of those [Awesome README lists](https://github.com/wopian/public-apis) that uses a total of 2 Python scripts to run tests in an otherwise language-less repository.

JavaScript is way down at 7.63% despite 15-22 of 51 public repositories being JavaScript.

| Live | Static
| ---- | ------
| ![](ht

[2020-07-26 19:49] anuraghazra commented on #134
Implemented in #179

[2020-07-26 19:49] #134 closed

[2020-07-26 19:50] anuraghazra commented on #167
Should be fixed in #204

[2020-07-26 19:50] #167 closed

[2020-07-26 21:35] EvgenyOrekhov commented on #160
What do those letters and pluses mean? This is really confusing.

[2020-07-27 00:48] maddyb99 commented on #92
What if the label is modified to avoid such confusion? Only until there is a viable fix to the issue.

For eg. _"Total commits(2020)"_ or _"Last year commits"_

[2020-07-27 00:59] xiaoyu2006 commented on #94
@anuraghazra This is going to be tricky as we're handling some "rendered thing", but what we have on the server side are just texts.

By doing this we have to return with a js embedded.

Also, reimplement everything in HTML's way will be a choice.

~~I feel like I keep providing rubbish. My frontend knowledge is almost zero!😨~~

[2020-07-27 01:15] xiaoyu2006 commented on #168
The problem is not everyone tracks their coding time with WakaTime.

[2020-07-27 02:14] hmble opened #208 "[ A Doubt ] How does api code works without express?"
Sorry to ask such a question here. But I was reading through code the other day and `api` part of code got me curious about how it works.

My doubt is how does this api `https://github-readme-stats.vercel.app/api?username=anuraghazra` works without any server library like express in `package.json` ?

Although the code for server part looks the same as express.
Well it will help my curiosity if @an

[2020-07-27 07:03] NikhilCodes commented on #136
I'm getting inaccurate percentages per languages,
For instance consider dart and python
[ss1](https://drive.google.com/file/d/1YgrIJq9a-oiYreR6bSWYMvCFXbWvE_YD/view?usp=sharing)
This image is from http://ionicabizau.github.io/github-profile-languages/
Now this [image](https://drive.google.com/file/d/1kvLc6hOltFmou_O_hul3nr94E5aPGBMv/view?usp=sharing) is from the github-readme-stats api, but both h

[2020-07-27 07:06] adiralashiva8 opened #210 "'Robotframework' is not displaying in top language"
**Describe the bug**
In top language card robotframework is not displaying

**Expected behavior**
Previously 'robotframework' used to display under top language cards

**Screenshots / Live demo link (paste the github-readme-stats link as markdown image)**
Test Data (my profile link) - https://github.com/adiralashiva8/adiralashiva8/blob/master/README.md

Extension of robotframework is '.robot'

[2020-07-27 07:17] anuraghazra commented on #210
It fetches the top languages ordered by update date & size (in bytes) of the language used

[code]

[2020-07-27 07:18] anuraghazra commented on #208
Hi @hmble it's actually a serverless function. runs on vercel.

more info: https://vercel.com/docs/v2/serverless-functions/introduction

[2020-07-27 07:20] adiralashiva8 commented on #210
So, if there is no update for long time. Respective language won't display in language card?

Can we make it consider overrall instead of latest?

[2020-07-27 07:23] anuraghazra commented on #210
You have 33 repos & we are calculating max 100 repos, which means we are calculating all of your repos so the UPDATE_AT is not does not matter here.

We are sorting the languages by their amount of size and you have less amount of robotframework code than HTML so it's not showing. which is expected behaviour.

[2020-07-27 07:26] anuraghazra commented on #136
This is because we are only calculating the first (which has the most code bytes) language instead of all the languages in the repo

[code]

[2020-07-27 07:27] adiralashiva8 commented on #210
Thank you @anuraghazra for explanation

As a user when i hide html, i expect calculation should be on other languages (may be enhancement)

Please close the bug since its working as expected

[2020-07-27 07:29] NikhilCodes commented on #136
Even if that were the case, the repos that contain only python codes and those containing 90%+ dart codes should have at least a similar stat.

[2020-07-27 07:33] tobiasvl commented on #136
This simply can't be what actually happens. Like I demonstrated above I only have one repo with JavaScript as the top language, and yet github-readme-stats says it's my top language, far above languages that are the top (only) language in 15 repos each or something.

[2020-07-27 08:14] anuraghazra commented on #210
closing this in favor of #136

[2020-07-27 08:14] #210 closed

[2020-07-27 08:39] #184 closed

[2020-07-27 08:43] anuraghazra commented on #184
This should be fixed now let's check

![](https://github-readme-stats.vercel.app/api/pin/?username=HaaLeo&repo=swarmlib)

[2020-07-27 08:45] anuraghazra commented on #94
This should be partially fixed in #206

Although russian language text is now messing up.

[2020-07-27 09:15] Paveloom commented on #94
Well, that's progress. Thank you for the PR, @HaaLeo and @anuraghazra.

Yep:

![](https://github-readme-stats.vercel.app/api/pin/?username=paveloom-p&repo=p1)
![](https://github-readme-stats.vercel.app/api/pin/?username=paveloom-p&repo=p2)
![](https://github-readme-stats.vercel.app/api/pin/?username=paveloom-p&repo=p3)

Hopefully this problem will be solved too.

[2020-07-27 10:47] hmble commented on #208
Thank you for clearing my doubt. Now I understand use case of Serverless functions.

[2020-07-27 10:47] #208 closed

[2020-07-27 10:49] ApurvShah007 opened #212 "Sizes of Repo Cards"
**Describe the bug**
The sizes of repo cards as of now differ due to the size of the description of the repo.

**Expected behavior**
Would be great if all the repo cards ore of same size as it looks uneven on the readme.

![Screen Shot 2020-07-27 at 1 48 54 PM](https://user-images.githubusercontent.com/43690373/88534030-eb5c4100-d00f-11ea-8358-7365da1c965f.png)

[2020-07-27 10:49] ApurvShah007 commented on #212
@anuraghazra worth giving it a look?

[2020-07-27 10:57] anuraghazra commented on #212
@ApurvShah007 This is not a bug actually, this is expected behaviour which is implemented in #206

Well your request is valid tho, maybe we can add a option to limit the maximum line wraps to "1" so that all cards stay same height

[2020-07-27 10:59] ApurvShah007 commented on #212
@anuraghazra My bad, I had not gone in and seen if it had been discussed before. I would appreciate if it was possible to make them all in a size limit.

[2020-07-27 12:14] peppelongo96 opened #213 "Total views/unique visitors and clones/unique cloners of all repos"
Hi! Is it possible to add a counter that tooks track af all views/unique visitors and clones/unique cloners of all repos? I think could be appreciatable to have them as stats option

[2020-07-27 12:42] anuraghazra commented on #213
Hi @peppelongo96 thanks for requesting the feature.

As far as i know, it is not possible to fetch/get those stats without granting full access to other user's account (maybe possible with self hosted forks of github-readme-stats) because those are user's private informations.

[2020-07-27 12:47] peppelongo96 commented on #213
@anuraghazra what a fast answer!
I think you are talking about some OAuth (I'm very noob about). Howewer, thanks for your job!

[2020-07-27 12:50] HaaLeo commented on #80
This was fixed in #206

[2020-07-27 12:57] #213 closed

[2020-07-27 13:03] anuraghazra commented on #80
@HaaLeo no no he is talking about the Title of the Repo not the description.

[2020-07-27 13:04] anuraghazra commented on #213
No, Personal Access tokens of github.

[2020-07-27 13:06] HaaLeo commented on #80
Yup sorry my bad 🤗

[2020-07-27 13:29] kishan0725 commented on #80
@anuraghazra @HaaLeo  - Still the description is not rendering properly.

![image](https://user-images.githubusercontent.com/36665975/88547401-4eaf9880-d03b-11ea-9e73-99b6b4a30bcb.png)

[2020-07-27 13:57] ajmeese7 opened #215 "Mobile app display fails"
**Describe the bug**
When you view any stat cards on mobile, they do not show any of the information.

**Expected behavior**
They should behave exactly like they do on desktop, albeit smaller.

**Screenshots / Live demo link (paste the github-readme-stats link as markdown image)**
![stats_mobile](https://user-images.githubusercontent.com/17814535/88550216-ea62e980-cfe6-11ea-98ec-1e6e84a9d0ca.jpg)

[2020-07-27 14:00] anuraghazra commented on #215
Hi @ajmeese7 thanks for opening the issue, please provide us with your mobile's specifications & which browser you are using

[2020-07-27 14:01] ajmeese7 commented on #215
I am using a Note 10+, and I am using the official GitHub app from the Play Store

[2020-07-27 15:00] HaaLeo commented on #212
We could make the height fixed to the multi line behaviour. This is also what github does when you pin two repo cards with different description length next to each other:

<img width="922" alt="image" src="https://user-images.githubusercontent.com/23164374/88557565-a691d380-d02a-11ea-99f2-0231f3de5c08.png">

[2020-07-27 15:05] anuraghazra commented on #212
It does that because of CSS auto flex height. it stretches both rows.
But we can't do that in markdown/readme, because there is no flex layouts in markdown & we cannot determine how & where users placed the images.

[2020-07-27 15:06] HaaLeo commented on #80
The repo card description renders just fine when setting the default [`width`](https://github.com/anuraghazra/github-readme-stats/blob/11757dba428e93ef4d9497685b732109cc6592c9/src/utils.js#L131) to `55` again:

<img width="922" alt="image" src="https://user-images.githubusercontent.com/23164374/88557982-3899dc00-d02b-11ea-9f62-6ce9d74c92a9.png">

@anuraghazra you want to change it back to `55`?

[2020-07-27 15:07] anuraghazra commented on #80
@HaaLeo yeah i'll change that

[2020-07-27 15:11] HaaLeo commented on #212
@anuraghazra sure. However, we can hard code the card's `height` to the multiline case for consistency. So every card, no matter how long the description is, will have the height of the multiline case.

Consequently, every single line case card will look like the `emilast/vscode-logfile-highlighter` card above. Even when it's placed next to another single line description card.

[2020-07-27 15:14] anuraghazra commented on #212
Yes we can do this, but thats what i'm avoiding. the extra 2 line space in the cards looks kinda odd to me.

[2020-07-27 15:17] HaaLeo commented on #212
jup, there is no right or wrong decision here 😉. This is a pure design decision.

Also an additional parameter like `forceSingleLineDescription` or `forceMultiLineDescription` could be an option.

[2020-07-27 15:19] anuraghazra commented on #212
Yeah that's what i proposed earlier

[2020-07-27 16:18] judicaelandria opened #218 "Background gradient color"
Having a repo card with gradient color in the background would be cool too, what do you think?
![Path 4](https://user-images.githubusercontent.com/46365844/88565954-fcbc4200-d03d-11ea-95ed-d655019f2f52.png)

[2020-07-27 17:23] anuraghazra commented on #218
@judicaelandria Thanks for requesting the feature, yeah might be a good idea & would give a card more unique and modern look to. i'll see what i can do.

[2020-07-27 17:25] anuraghazra commented on #203
Hi @tonka3000 thanks for requesting the feature, yeah maybe it would be a good idea. but i'm not sure i would support gitlab backend.

I'll keep you posted after doing some experiments with the gitlab gql api

[2020-07-27 17:32] minji-o-j opened #220 "I want to hide 'jupyter notebook' in top languages card"
**Describe the bug**
I want to hide 'jupyter notebook' in top languages card

**Expected behavior**

**Screenshots / Live demo link (paste the github-readme-stats link as markdown image)**

![Top Langs](https://github-readme-stats.vercel.app/api/top-langs/?username=minji-o-j)
`![Top Langs](https://github-readme-stats.vercel.app/api/top-langs/?username=minji-o-j)`
<br>

![Top Langs](https://github-

[2020-07-27 17:35] anuraghazra commented on #220
you can hide using `&hide=Jupyter Notebook`

Duplicate of #201

[2020-07-27 17:38] #220 closed

[2020-07-27 18:00] tonka3000 commented on #203
It should not be that hard to support GitLab, because the base structure is more or less the same as GitHub.

I will also try out the GraphQL API from GitLab, always used the REST API before.

[2020-07-27 18:04] Angelk90 opened #221 "Change text and change color graphic"
**Describe the solution you'd like**

Hi @anuraghazra

1) It would be possible to implement the possibility of changing the texts of the cards, so the developer could also use the texts in his original language.

2) The ability to change the color of the statistics graph, both the color of the text inside it and the color of the colored part, instead of using the color of the title_color.

[2020-07-28 00:49] itning opened #223 "Can add language icon ?"
I want add language icon on Top Languages Card

Like this :

[code]

[2020-07-28 06:25] SourangshuGhosh opened #226 "Threshold for A++ Grade in Readme Stats"
What are the threshold numbers ib the readme stats to get A++ grade showing in the readme stats

[2020-07-28 07:05] anuraghazra commented on #226
You can checkout the rank distribution here: https://github.com/anuraghazra/github-readme-stats/blob/master/src/calculateRank.js#L44-L48

[2020-07-28 07:08] SourangshuGhosh commented on #226
Does it counts in the contributions in Organizations as Commits?

[2020-07-28 07:15] SourangshuGhosh commented on #226
@anuraghazra  by analyzing the source code I felt that the grade is dependent upon the proportion of contributions/pull-requests to your own commits. is it true, can it be changed.

[2020-07-28 07:25] anuraghazra commented on #226
check out #1

[2020-07-28 07:29] anuraghazra commented on #226
check out #98 #76

[2020-07-28 07:31] SourangshuGhosh commented on #226
Thanks for your help, can you please tell me how to change my profile to A++ Grade, i.e in which area I should focus more, my profile is @SourangshuGhosh  .Can you please help me out in this

[2020-07-28 07:34] Aveek-Saha opened #227 "Hide option for Stats Card doesn't work"
**Describe the bug**
The hide option for the Stats Card does not hide the fields in the CSV

**Expected behavior**
The hide parameter should hide the fields in the CSV in the card

**Screenshots / Live demo link (paste the github-readme-stats link as markdown image)**
https://github-readme-stats.vercel.app/api?username=aveek-saha&show_icons=true&hide=Total%20Issues

[2020-07-28 07:36] anuraghazra commented on #227
Hi @Aveek-Saha its `hide=issues`

please [check out the documentation](https://github.com/anuraghazra/github-readme-stats#hiding-individual-stats)

[code]
![](https://github-readme-stats.vercel.app/api?username=aveek-saha&show_icons=true&hide=issues)

[2020-07-28 07:36] #227 closed

[2020-07-28 07:38] anuraghazra commented on #226
Don't focus on anything, ranks does not mean how good of a programmer/developer you are.
It's just a rank of github activity.

These ranks are same as github's contribution chart. you should not worry too much about why you get A, A++ or B.

[2020-07-28 07:43] anuraghazra commented on #221
Well good idea but it would mean users can also use any label they want and i wanted it to be consistent. (maybe i can do that by checking if each label has appropriate text)

The color of rank circle? yes we can do that but i choose to do this way so that colors stay consistent throughout the card.

[2020-07-28 10:22] jjavierdguezas opened #229 "Use custom text as username"
**Is your feature request related to a problem? Please describe.**
Right now full name is used in the stats header, but maybe the user wants to use his/her GitHub handler or a nickname

now:
![image](https://user-images.githubusercontent.com/13673443/88653665-a813d800-d0cc-11ea-97c8-3d940e27e0de.png)

wanted:
![image](https://user-images.githubusercontent.com/13673443/88653589-93cfdb00-d0cc-11ea-9

[2020-07-28 11:04] SpriteOvO opened #230 "Top Langs Image height error"
**Describe the bug**
Image height error when there is **only one language (I guess)** in Top Langs.

**Expected behavior**
The height of the image should be higher.

**Live demo**
![Screenshot](https://github-readme-stats.vercel.app/api/top-langs/?username=SpriteOvO&layout=compact)

![Screenshot](https://github-readme-stats.vercel.app/api/top-langs/?username=SpriteOvO&layout=compact&hide=c)

**Scr

[2020-07-28 11:32] anuraghazra commented on #230
Hi @SpriteOvO thanks for reporting the issue, we'll be fixing it asap.

[2020-07-28 11:33] anuraghazra commented on #229
Hi @jjavierdguezas thanks for requesting the feature, yeah maybe i can provide an option to set the title of the card.

[2020-07-28 11:35] anuraghazra commented on #223
Hi @itning thanks for requesting the feature, yeah maybe i can show icons of each language. i'll see what i can do.

[2020-07-28 12:04] anuraghazra opened #233 "[New Card] Repository Stats Card"
**Is your feature request related to a problem? Please describe.**
I'm planning to add a new card which would show stats of specific repository instead of users, that's why i wanted to plan out which stats are going to be included in the repo.
This feature was initially requested by @eddiejaoude on his YT live stream.

**Describe the solution you'd like**
We would have a different route /api/repo

[2020-07-28 13:40] jrock2004 commented on #41
Has this been released? I saw a user where their numbers were 0, but their rating shows A+ https://github-readme-stats.vercel.app/api?username=edward-rosado

[2020-07-28 15:53] PierreMarchand20 opened #237 "Hiding grade"
**Is your feature request related to a problem? Please describe.**
Would it be possible to hide the grade ? I do not really understand how it is computed and what it represents (and do not really mind to be honest)

**Describe the solution you'd like**
Adding `hide=grade` would be nice

[2020-07-28 15:55] MirayXS commented on #237
hide_rank | hides the ranking
-- | --

[2020-07-28 15:56] anuraghazra commented on #237
@PierreMarchand20 you can hide the rank with `&hide_rank=true`

please read the docs for more info https://github.com/anuraghazra/github-readme-stats#customization

[2020-07-28 15:56] #237 closed

[2020-07-28 16:06] MirayXS commented on #153
Was this fixed, @anuraghazra ?

I saw a big change in my stats card, that's why i ask.

[2020-07-28 16:12] MirayXS opened #238 "[ Lang Card ] Hide specified repositories from being calculated"
**Is your feature request related to a problem? Please describe.**
I have a repositories that is used as a CDN. I store all my css codes there, that i could use.
I don't want this repository to be calculated.

**Describe the solution you'd like**
A parameter to hide specified repositories ( Ex. `&hideRepos=` )

[2020-07-28 16:46] anuraghazra commented on #136
@tobiasvl i was experimenting with the api & the code, Are you satisfied with these stats?

![tobais_lang_stat](https://user-images.githubusercontent.com/35374649/88695768-f9998280-d11f-11ea-8148-504378f3acf5.PNG)

[2020-07-28 16:49] anuraghazra commented on #136
And i also like the suggestion of @stemount

I think the "Top Languages" labeling is misleading, it should be "Most used languages"

[2020-07-28 16:55] anuraghazra commented on #136
@NikhilCodes i don't no whats wrong with your profile but i've checked with other user's stats with the fix i'm working on and they are all fine expect yours.

![nikhil_lang_stat](https://user-images.githubusercontent.com/35374649/88696316-ba1f6600-d120-11ea-9aaa-dabbbdaa2fd9.PNG)

Btw i've checked the graphql request and seems like you do have a very very very large python repo, and this repo is

[2020-07-28 17:03] kam193 opened #239 "count_private differs only in commit number"
**Is your feature request related to a problem? Please describe.**
The flag `count_private` is related only to commits count. I want to see the difference between total count of all my contributions and public only, so I suggest support also counting private/public PR and so.

**Describe the solution you'd like**
* `count_private=false` => commits, PRs, issues, repositories stats count only public

[2020-07-28 17:06] tobiasvl commented on #136
Much better! Thank you.

However, I believe there's something wrong with your "tie-break" algorithm, so to speak. The Chrome extension linked earlier lists these as my top languages:

1. Lua (15 repos)
2. Python (13 repos)
3. JavaScript (5 repos)
4. Assembly (5 repos)
5. HTML (5 repos)
6. CSS (5 repos)
7. Ruby (4 repos)
8. C (4 repos)

And then a bunch of languages, including Java, with 1 repo eac

[2020-07-28 17:07] anuraghazra commented on #239
Hi @kam193

AFAIK there is no way to fetch private issues,pr count

[2020-07-28 17:11] anuraghazra commented on #136
@tobiasvl It is not about how many repos you have, you could have 100 Js repos with 10bytes of code and you can have 1 Python repo with 200bytes of code, the Python repo would be selected in this case.

As you can see i changed the gql query to fetch 10 languages in every repo & i'm calculating all of them.

[2020-07-28 17:13] tobiasvl commented on #136
Hmm, OK, thanks. If it's intentional then I'm definitely fine with this. I don't want HTML and CSS on my list anyway 😅

[2020-07-28 17:14] anuraghazra commented on #136
Also @tobiasvl

Actually there is no special algorithm in play here, i'm just sorting/manipulating the data coming from Github's API and picking the Top languages which have the most size.

[2020-07-28 17:21] tobiasvl commented on #136
I see, thanks. Ship it! :shipit:

[2020-07-28 17:27] anuraghazra commented on #136
Oh my godh.
I just realized this, why even everyone was comparing the stats with http://ionicabizau.github.io/github-profile-languages/ ?????

because i just checked their source code and they are calculating "How MANY languages a user has in their profile" & github-readme-stats is calculating "MOST used languages in user's profile"

And they have a package called gh-polygot which is doing this :-

[2020-07-28 17:49] kam193 commented on #239
Ok :/ But we still can differ `RepostoriesContributedTo` and/or add number of private contributions (maybe subtracted by counted private commits?)

[2020-07-28 18:09] anuraghazra commented on #194
Hi @thisispratt i hope you get your answer :) closing this now.

[2020-07-28 18:09] #194 closed

[2020-07-28 18:12] anuraghazra commented on #153
Hi @MrBenWang @MirayXS currently we cannot exclude certain folders from get counted because github does not provide any ways to fetch folder sizes of exclude particular folders.

[2020-07-28 18:12] #136 closed

[2020-07-28 18:36] nthnchu commented on #218
I'd like to try working on it, but I don't know what format I should use for gradients. Would `?bg_color=90,0000ff,00ff00` be okay with you (the format is angle, start color, end color)? Or do you have another suggestion @anuraghazra?

[2020-07-28 18:39] anuraghazra commented on #218
@nthnchu some things to consider
- should not break the current api
- should not break the current themes
- should also support the themes collection (maybe with an array)

Yeah i think angle,start,end is a good format. I'll have to check the svg docs tho to see what works best. (or maybe we can just use CSS gradients)

[2020-07-28 18:43] judicaelandria commented on #218
This is useful link, if you want to take this issue
[gradients in svg](https://developer.mozilla.org/en-US/docs/Web/SVG/Tutorial/Gradients)

[2020-07-28 19:01] judicaelandria commented on #218
adding the bg color as array for the linear gradient
check if the bg color passed is an arrary we apply the linear gradient background color if not just one color in the background

[2020-07-28 19:26] axel-op opened #242 "Change default title color"
Currently the default title color for both the stats card and the top languages card is #2f80ed, whereas the "default" blue on GitHub is #0366d6. I say "default" because it's the color used for the title of our pins repositories, in particular.

[2020-07-28 22:28] eddiejaoude commented on #233
Sounds good 👍 . What about including releases? (total and how long since the last release)

[2020-07-28 22:43] HPaulson opened #244 "[Discussion] New possible card ideas"
Discussion of new possible card ideas & options for existing cards!
--
### Possible Card Ideas:

**Compact Stats Card**
- Having a compact stats card, so it can fit side-by-side with the compact language card, and decrease unnecessary whitespace and wording in the card
- [Concept 1](https://cdn.smc.wtf/NrQ.png), [Concept 2](https://user-images.githubusercontent.com/20476002/88905874-15537480-d257-

[2020-07-29 02:20] MirayXS commented on #233
Will use this in every repository of mine

[2020-07-29 03:50] zcong1993 opened #247 "Top langs is not sorted by total sum size"
**Describe the bug**

Top langs is not sorted by total sum size.

As my account:

[code]

**Expected behavior**

Top 5 langs should be:

[code]

**Screenshots / Live demo link (paste the github-readme-stats link as markdown image)**

![](https://github-readme-stats.vercel.app/api/top-langs/?username=zcong1993)

current topLangs is:

[code]

**Additional context**
Add any other context about the pr

[2020-07-29 05:56] swapnanildutta opened #251 "C++ could not be hidden in Top Langs"
**Describe the bug**
When I wanted to hide the C++ from Top Langs, it just didn't work. Instead, it hid the C language bar.

**Expected behavior**
I expected to type hide=c++ in the top langs API and it would hide the c++ bar. I even tried using cpp if that was valid but didn't work.

**Screenshots / Live demo link (paste the github-readme-stats link as markdown image)**
The api calling
![image](h

[2020-07-29 06:28] ngtrhieu commented on #251
The plus in "c++" is URI reserved character, as specified in [Wikipedia](https://en.wikipedia.org/wiki/Percent-encoding)
You should use "c%2B%2B" instead of "c++". i.e:
[code]
Demo:
[![swapnanildutta](https://github-readme-stats.vercel.app/api/top-langs/?username=swapnanildutta&hide=c%2B%2B)](https://github.com/swapnanildutta)

For your record, if you want to hide "Jupyter Notebook", you should us

[2020-07-29 06:35] Mr-jiangzhiguo commented on #1
How long this feature could be used?

[2020-07-29 06:58] anuraghazra commented on #251
@swapnanildutta Hi hope you resolved the issue. :) we updated the docs with the information provided by @ngtrhieu in #252

Duplicate of #201 #220 #194

[2020-07-29 06:58] #251 closed

[2020-07-29 06:59] anuraghazra commented on #247
Oh yeah thats right, thanks for pointing this out @zcong1993 will fix it. :)

[2020-07-29 08:01] swapnanildutta commented on #251
Thanks for the help !

[2020-07-29 10:31] HaaLeo commented on #233
Good idea. I am a bit concerned with the NPM downloadas and dependents. If we support NPM, it should also support other registries like docker hub, pypi, etc.

It is probably easier to get started with _GitHub only_ related stats.

[2020-07-29 11:03] anuraghazra commented on #233
Or probably just Github Registry packages.

[2020-07-29 11:20] sumitrana31 opened #254 "Stats overlapping in stats card"
The value of stats in some cases is overlapping the key. As you can see in the screen shot, the values of 'total commits' and 'contributed to' section :
![image](https://user-images.githubusercontent.com/38491769/88793935-454d3a00-d1bb-11ea-86e9-91b84b2f6bac.png)

[2020-07-29 11:38] anuraghazra commented on #254
Hi @sumitrana31 thanks for reporting the issue, can you please provide information about your system & browser. Thanks!

[2020-07-29 15:02] rjoydip commented on #233
@anuraghazra  Pin this issue.

[2020-07-29 16:27] sumitrana31 commented on #254
I am using Mozilla Firefox 68.10.0esr on kali linux 5.7.0-kali1-amd64
 @anuraghazra

[2020-07-29 16:31] isArtJay opened #256 "[Feature request]: Can you add a parameter that makes the card float to the left or right?"
**Describe the solution you'd like**
Can you add a parameter that makes the card float to the left or right? This way I can align the two sides of the cards in the same row. Thaks！

[2020-07-29 16:32] isArtJay commented on #256
My English is not good, I believe you can understand.

[2020-07-29 16:48] nthnchu commented on #256
[**I believe you want to do what this section of the docs outlines.**](https://github.com/anuraghazra/github-readme-stats#quick-tip-align-the-repo-cards) I don't think it is possible to control this in the svg code, so I don't think a parameter could be added, if I understand you correctly.

---

### Quick Tip (Align The Repo Cards)

You usually won't be able to layout the images side by side. To

[2020-07-29 17:06] rjoydip opened #257 "Show users's primary language in stats card"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
It would be better to add user's primary language in the stats card.

**Additional context**
Related work reference #241

![image](https://user-images.githubusercontent.com/15318294/88830694-f075e780-d1eb-11ea-81ce-f4414f5961eb.png)
![image](https://user-images.githubusercontent.com/15318294

[2020-07-29 17:15] nthnchu commented on #218
I assume you just want linear gradients and not radial @anuraghazra and @judicaelandria. That's all my PR (#246) covers...

[2020-07-29 17:28] krushnatkhawale opened #259 "Stats not updated in github readme stats card"
**Describe the bug**

Stats not updated in github readme stats card.

**Expected behavior**
Stats should be updated in github readme stats card.

**Screenshots / Live demo link (paste the github-readme-stats link as markdown image)**
Link to the repository: https://github.com/krushnatkhawale

![image](https://user-images.githubusercontent.com/10601963/88832012-0e315580-d1c8-11ea-83bb-defc84dd1e35.

[2020-07-29 17:33] anuraghazra commented on #259
Thanks for opening the issue @krushnatkhawale

duplicate of #69
Checkout this https://github.com/anuraghazra/github-readme-stats/issues/69#issuecomment-658883614

[2020-07-29 17:35] anuraghazra commented on #257
This looks good, @rjoydip but i want icons which are uniform & consistent rather than the official icons. :thinking:

[2020-07-29 17:41] krushnatkhawale commented on #259
@anuraghazra  Thanks for the reference links, I think this was 3rd or 4th similar issue reported meaning count label is confusing. I think it should it be changed to avoid confusion, happy for PR it but wanted to know in advance if yes, what should be the label.

[2020-07-29 17:47] anuraghazra commented on #259
"Total Stars Gained"
"Total Stars Achieved"

Or maybe something smaller

[2020-07-29 18:02] judicaelandria commented on #218
yeah, it's just linear gradient, didn't try radial gradient, I don't know if it's looks good?

[2020-07-29 18:12] rjoydip commented on #257
@anuraghazra Right. Do you have any reference for getting icons? I'm struggling to finding out proper site.

[2020-07-29 18:44] anuraghazra commented on #257
Let's extract from Icon packages instead of websites, because websites will mostly have inconsistent icon groups.

Let's try https://react-icons.netlify.com/

[2020-07-29 18:56] rjoydip commented on #257
Thanks for the reference I have used this before in react apps.

[2020-07-29 21:39] Ryyn-Sd commented on #244
I'll fix it!

[2020-07-29 22:20] stemount commented on #160
Yeah I also share confusion on S++ as A++/A+/B+ seem like very good grades to me and without knowing what S and S+ mean the ring just looks broken.

[2020-07-30 02:52] isArtJay commented on #256
Thanks, let me try

[2020-07-30 08:43] Battery233 opened #262 "Is it possible for the stat card to include all the public repos created under my account instead of repos created in the past year?"
**Is your feature request related to a problem? Please describe.**
It seems that the stat card will only calculate the data of this year, thus my old repos (more than a year old) are not included in the stat card

**Describe the solution you'd like**
Please add an option for customizing the time range for the stats card

**Describe alternatives you've considered**
... or add an option of "stat of

[2020-07-30 09:24] Angelk90 commented on #244
@HPaulson , @Ryyn-Sd :
An even more compact shape.
![68747470733a2f2f63646e2e736d632e7774662f4e72512e706e67](https://user-images.githubusercontent.com/20476002/88905874-15537480-d257-11ea-91ef-e0b6d319f5aa.png)

[2020-07-30 09:51] ApurvShah007 commented on #212
@anuraghazra any updates on how I can make them same size?

[2020-07-30 10:01] daniCh8 opened #264 "Top Languages not showing external contributions anymore"
**Describe the bug**
After the [feat: improved top lang fetching & changed title](https://github.com/anuraghazra/github-readme-stats/commit/826f0201aaf5c4c2c9c5aa19690c9b7e5b05d5b1#diff-c5271cc08cad89e62ca28835d21b07a1) commit, _top languages_ doesn't take into account the code written in shared project, but only the code written in owned repositories.

**Expected behavior**
In Github (and in gene

[2020-07-30 10:11] viniciusml opened #265 "Stats do not appear when using 'Safari'"
**Describe the bug**
When adding the stats to the 'README.md' file, the 'stats' appear empty. They appear if I open the box in a separate tab. Also, If I open on 'Chrome', it works fine.

**Expected behavior**
The stats are expected to appear.

**Screenshots / Live demo link (paste the github-readme-stats link as markdown image)**
<img width="482" alt="Screenshot 2020-07-30 at 11 58 37" src="https

[2020-07-30 14:36] Battery233 commented on #262
Hi, sorry for the confusion. I mean that the repositories created during the previous years may not be included in the cards. It seems that some of old repos are not counted for the commits in the stats card and favourite languages in the language card (e.g. in my GitHub, there is a llvm repo but llvm is not listed in my favourite programming language list)😊

[2020-07-30 14:42] anuraghazra commented on #262
Having a llvm repo does not mean it would show up in the language card, as it says its "Most Used Languages"

All repos are being calculated there is not year limit on that, only limit is 100 repo max fetch limit and you only have 17repos

[2020-07-30 14:45] #262 closed

[2020-07-30 15:49] nthnchu commented on #265
What is your macOS version and your Safari version @viniciusml? It works fine for me on Safari 13.1.1.

---
### Live demo:
![Anurag Hazra's GitHub Stats](https://github-readme-stats.vercel.app/api?username=anuraghazra)

[2020-07-30 15:57] nthnchu commented on #244
Or the rank circle could be hidden to make room for the stats. I do like your idea though @Angelk90.

[2020-07-30 16:26] nathanchu opened #268 "[Feature Request] Option to replace rank circle with other stats"
**Is your feature request related to a problem? Please describe.**
Yes, the feature request is related to a problem. Many people (including me) want to hide the rank as it doesn't make sense to us. Completely inactive GitHub users still get an A+, and slightly more active users (like me) still get an A+. I know there is an option to hide the rank but that makes the stats card look like this.

![An

[2020-07-30 16:42] viniciusml commented on #265
I am using Safari Version 13.1, macOS Catalina Version 10.15.4.

This is how the attachments you sent appear to me:

<img width="711" alt="Screenshot 2020-07-30 at 18 42 28" src="https://user-images.githubusercontent.com/44158512/88950094-6df53280-d294-11ea-9942-aca44dfa6611.png">

[2020-07-30 16:44] HPaulson commented on #244
@Angelk90 Yup! Even better!👍

[2020-07-30 17:12] anuraghazra commented on #265
related to #120 #59

[2020-07-30 17:21] Angelk90 commented on #244
@HPaulson :

![Schermata 2020-07-30 alle 19 08 16 (1)](https://user-images.githubusercontent.com/20476002/88953719-a0edf500-d299-11ea-983d-747d078deb12.png)

What do you think of such a graph instead of what you see below.

![68747470733a2f2f63646e2e736d632e7774662f4e72512e706e67](https://user-images.githubusercontent.com/20476002/88905874-15537480-d257-11ea-91ef-e0b6d319f5aa.png)

[2020-07-30 17:26] HPaulson commented on #244
@Angelk90 Yeah that looks kinda bad in my opinion... The compact lang graph now that looks just like github's is very very nice, and this pie chart kinda loses the pleasing ascetic of the current compact one... also, this concept pie chart you have only displays the rank, which as I see it, is the most useless information on the card compared to the actual stats... Personally I really like your or

[2020-07-30 17:31] anuraghazra commented on #244
I like this Pie chart, but i don't think it would look good if we mix it up with stats card, maybe we can make it a new layout option in the Languages card `&layout=pie-chart`

[2020-07-30 17:33] anuraghazra commented on #244
Issue with this compact card is people would get really confused with just the numbers, and it also looks too much cramped IMO.

@HPaulson's original card is better because it shows some context of what those numbers means.

[2020-07-30 17:35] HPaulson commented on #244
@anuraghazra I'm pretty sure the idea behind the pie chart was to mix the stats & lang cards... I think this since the pie chart itself is langs, and the center uses the rank as the stats card does. If this was the intention, I think it's kinda poor. However just having a pie chart for langs isn't a bad idea at all, I'd also like to point out that the current compact lang card is a pie chart, just

[2020-07-30 17:58] anuraghazra commented on #244
You can hide the rank circle `&hide_rank=true`

[2020-07-30 17:59] anuraghazra commented on #244
No, I'm not talking about the centered rank on the pie chart. Just the pie chart in the langs card.

[2020-07-30 17:59] HPaulson commented on #244
@anuraghazra Ah okay, I'll mark my comment as off-topic then haha. Didn't see that option in docs, sorry about that!

[2020-07-30 18:03] HPaulson commented on #244
Yeah as I mentioned later in that comment-

What I meant there was just that it seemed the intention of the concept was to merge the rank from stats & lang cards, which I thought was a bit poor. Having just a pie chart for langs is a great idea like I mentioned, however I'll mention again that the current compact one is a pie chart just in a line and not a circle, so it may be a bit repetitive. Ho

[2020-07-30 18:06] HPaulson commented on #244
Also, I have some other possible card ideas that I think could possibly excel this project... Should I make a new issue for them or just change the title here to "Possible card ideas" and leave it as more of an open discussion for more possible ideas, rather than just the compact stats card?

[2020-07-30 18:09] anuraghazra commented on #244
Of course do it!

[2020-07-30 18:10] anuraghazra commented on #244
No it won't be repetitive, it would be just a stylistic choice of which type of design users would like to use.

[2020-07-30 19:07] HPaulson commented on #244
Additionally, I had an idea about having a card to show recent activity and contributions - I used to use [this repo](https://github.com/JasonEtco/activity-box) to update a pinned gist to do so, however I think that with the addition of readme it could be much much more improved by being an image, rather than being text in a gist; The design could be much more improved, and it could be a cool card

[2020-07-30 19:22] HPaulson commented on #264
Was noticing this as well, but assumed it was a bug... It won't show shared repos, or even repos you're the only contributor to, just under an organization. I don't think it's possible with the API, but the ideal situation would be to use the langs from each of your commit, rather than the full project.... However if this is not possible (Which i'm sure it's not), I would definitely have an additi

[2020-07-30 23:40] maustinstar opened #270 "Top Langs incorrect"
**Describe the bug**
None of my repos contain HTML, yet is 10% in my profile's top langs card.

**Expected behavior**
I should have ~0% HTML

**Screenshots / Live demo link (paste the github-readme-stats link as markdown image)**
https://github.com/maustinstar

[2020-07-31 01:34] scitronboy commented on #270
I'm not seeing any HTML on your top used languages image!

[2020-07-31 01:35] maustinstar commented on #270
It disappeared a few minutes after I opened the issue. Not sure what happened.

[2020-07-31 01:44] hjlarry commented on #270
my top langs is incorrect too.
![](https://github-readme-stats.vercel.app/api/top-langs/?username=hjlarry&layout=compact&hide_title=true)
I almost not write java, and not use jupyter notebook

[2020-07-31 07:04] jyoketsu opened #271 "The total number of commits is incorrect"
The total number of commits is incorrect and the number of commits is not updated after commit

[2020-07-31 07:15] ToulthG opened #272 "I still don't know how to use it, can anyone help me?"
问题

[2020-07-31 07:17] anuraghazra commented on #272
Please translate the issue to english.

[2020-07-31 07:27] anuraghazra commented on #271
Total commit only counts commits of 1 previous year max.

It is because of 30min cache.

[2020-07-31 07:27] anuraghazra commented on #271
related to #14 #15 #211 #92

[2020-07-31 07:47] ToulthG commented on #272
I still don't know how to use it, can anyone help me?
It's best to tell me step by step
thank you

[2020-07-31 08:00] anuraghazra commented on #272
Read the docs, there is literally no STEPS to follow.

[2020-07-31 08:00] anuraghazra commented on #272
[code]

[2020-07-31 08:07] #14 closed

[2020-07-31 08:07] #92 closed

[2020-07-31 08:09] anuraghazra commented on #92
Fixed in #211

[2020-07-31 08:09] anuraghazra commented on #14
Fixed in #211

[2020-07-31 08:11] ToulthG commented on #272
I know where markdown is

[2020-07-31 08:19] anuraghazra commented on #272
Please explain exactly what you don't know, and only use english.

[2020-07-31 08:34] anuraghazra commented on #271
Should be fixed in #211

[2020-07-31 08:34] #271 closed

[2020-07-31 08:38] ToulthG commented on #272
I saw putting the code in the markdown file
But I don’t know where in the markdown file

[2020-07-31 08:40] anuraghazra commented on #272
Create a new repository named same as your github username and add the link there.

[2020-07-31 09:09] Liam-Deacon opened #273 "Add ability to get organization stats"
It would be great to have the ability to get stats for Github organizations in addition to just individual users.

[2020-07-31 09:19] anuraghazra commented on #273
Thanks for opening the issue @Liam-Deacon this is already being discussed at #1

closing this in favour of #1

[2020-07-31 09:19] #273 closed

[2020-07-31 09:22] Liam-Deacon commented on #273
Sorry, I completely missed that!

[2020-07-31 11:35] Lekesoldat opened #275 "Cards not updating if information changes."
**Describe the bug**
Images loaded in the README does not update.

**Expected behavior**
When I delete files / add code / do changes, my stats should update.

**Screenshots / Live demo link (paste the github-readme-stats link as markdown image)**
Have a look at my profile, - stats are not updated.

**Additional context**
Read more [here](https://docs.github.com/en/github/authenticating-to-github/a

[2020-07-31 12:39] anuraghazra commented on #275
Github readme stat uses minimum of 30min caching, and it's expected behaviour.

[2020-07-31 14:09] ToulthG commented on #272
Thanks, forgive me for being a beginner

[2020-07-31 14:58] anuraghazra commented on #272
No worries, i was just confused with your question because it was in chinese & half explained. :) nothing wrong with being beginner.

[2020-07-31 14:58] anuraghazra commented on #272
Hopefully you got your answer closing this now.

[2020-07-31 14:58] #272 closed

[2020-07-31 15:23] creativecreatorormaybenot commented on #90
I dislike this idea. I would instead only politely point out in the README that the card should use the link to your repo as the hyperlink (`[ card image url ](https://github.com/anuraghazra/github-readme-stats)`).
I think that doing that along with some explanation as to why you would appreciate it will trigger most people to actually do that.

I have noticed that default behavior for me was to c

[2020-07-31 15:38] anuraghazra commented on #90
@creativecreatorormaybenot thanks for your opinions now if you read all of the above messages you should get what i'm doing.

I think that doing that along with some explanation as to why you would appreciate it will trigger most people to actually do that.

Problem here is that, maybe you are linking the card that's fine i appreciate it, BUT 90% of the people are not doing that. and most of the p

[2020-07-31 15:53] creativecreatorormaybenot commented on #90
@anuraghazra Thank you for your response 👍🏽

I had indeed already read through the comments here - I wanted to politely point out that I dislike this approach, genuinely. There is not more to it 🙂

I disagree with your sentiment about exposure, though. Maybe you feel like you deserve more than 5k stars for this project. This is okay, however, I think that the following is not a correct assumption:

[2020-07-31 16:25] anuraghazra commented on #90
Well, this is not an assumption, few days ago while writing this issue i opened vercel serverless logs and i literally opened each and everyone's github account to see if they are actually linking/attributing the original repo and sadly none did. & not just that i've seen various youtube videos/articles specifically talking about new github readmes & using github readme stats without actually link

[2020-07-31 16:48] ApurvShah007 commented on #90
@anuraghazra I do believe that you have every right to ask for credit when you work so hard on something. Being open source means that you don't change for it and anyone can build on it. But I do not believe that being an opensource dictates no credit. Many many projects have compulsory credits such as many public app and website templates.

Giving credit to the creator should be common behavior a

[2020-07-31 18:44] creativecreatorormaybenot commented on #268
The reason it displays A+ for you is because you push a commit to `master` for every little change you make.

Many open source projects will use squash commits from PRs, which means that you might get **one single (1)** commit for 1000 loc changed.

[2020-07-31 19:45] nthnchu commented on #268
Yeah, a bad habit of mine. I never remember to squash commits even though I should as I commit very often.

I am not referring to people with few commits but 1000's of lines changed, I am referring to those with no commits and no GitHub activity, and they still get A+'s.

For example (random user with no activity):
![githu's GitHub Stats](https://github-readme-stats.vercel.app/api?username=githu)

[2020-07-31 21:08] creativecreatorormaybenot commented on #268
@nthnchu Oh well 😂😅 I suppose that might be a bug, at least an issue.

[2020-08-01 06:30] anuraghazra commented on #270
@hjlarry This is not about if you use java or jupyter notebook, it's about how much code (in bytes) you have in your github profile.

[2020-08-01 06:34] anuraghazra commented on #268
@nthnchu maybe i need to readjust the ranking offsets. but it was actually ranks deliberately curved towards showing A+ & A++ more often than S & S+

[2020-08-01 07:06] daniCh8 commented on #270
I am experiencing a similar problem.

This is the language breakdown I get when hiding CSS and VHDL from the languages:
![](https://camo.githubusercontent.com/b73630848a019e07f9d86216d6d9755aa4f6c628/68747470733a2f2f6769746875622d726561646d652d73746174732e76657263656c2e6170702f6170692f746f702d6c616e67732f3f757365726e616d653d64616e6943683826686964653d5648444c2c435353267374796c653d636f6d70616374)

P

[2020-08-01 13:33] hjlarry commented on #270
thanks, my only one java project has some vendor files, so it effect the whole result. now I think the top langs is correct

[2020-08-01 13:46] nthnchu commented on #268
Yeah I understand. I'd be okay with the ranks if they were more accurate. It seems the only thing users can get though is over 50% of the circle, which seems odd when the user has no activity...

[2020-08-01 15:42] rjoydip opened #284 "issue on dynamic card height"
**Describe the bug**

I found when working to create card height dynamic. It not working always properly.

Without issue           |  With issue
:-------------------------:|:-------------------------:
https://github-readme-stats.rjoydip.vercel.app/api?username=rjoydip&plang_row_items=4 | https://github-readme-stats.rjoydip.vercel.app/api?username=rjoydip&plang_row_items=3
![image](https://user-ima

[2020-08-01 19:27] MirayXS commented on #284
what

[2020-08-01 21:28] nombrekeff commented on #275
We should pin this issue or some other similar one, as people have reported it multiple times already

[2020-08-02 03:49] Xunzhuo opened #287 "Forks Status"
**Is your feature request related to a problem? Please describe.**
Can this "Github-Readme-Status" support to summarize the number of "Forks"？

[2020-08-02 06:03] axetroy commented on #270
I think the top language is incorrect

Because I have written too many Golang projects, at least more than Dart

But it is not counted

![Top Langs](https://github-readme-stats.vercel.app/api/top-langs/?username=axetroy&layout=compact)

[2020-08-02 07:01] anuraghazra commented on #270
As far as i can see you have a lot of javascript code in your account, as i said it's now about how many repos you have, it's about how much code you have.

try this GQL query on the explorer
https://developer.github.com/v4/explorer/

[code]

[2020-08-02 08:07] axetroy commented on #270
@anuraghazra This is the problem because it only counts the first 10 items, not all of thems.

[2020-08-02 11:21] rjoydip opened #291 "extra space after hiding rank"
**Describe the bug**
There are extra space after hiding rank.

**Expected behavior**
Extra space should hide while hiding rank.

**Screenshots / Live demo link**
![issue_on_width](https://user-images.githubusercontent.com/15318294/89121813-ec91e000-d4df-11ea-89fe-7ac8540cbb0b.PNG)

[2020-08-02 14:11] RahulMahesh62 opened #295 "Theme"
**Describe the bug**
I contributed a theme named "bear" and the theme currently is not looking as it wants to be. The hex codes are changed and also the screenshot doesn't match the given hex-codes.

**Expected behavior**
The hex codes given by me got changes and the theme now have an whole different appearance.

**Screenshots / Live demo link (paste the github-readme-stats link as markdown image)

[2020-08-02 14:42] anuraghazra commented on #295
It's not deployed yet.

[2020-08-02 14:42] #295 closed

[2020-08-02 14:43] anuraghazra commented on #295
I'll deploy in few minutes

[2020-08-02 16:32] minji-o-j opened #298 "Total Commits number error"
**Describe the bug**
Total Commits "include_all_commits=true" error

**Expected behavior**
![image](https://user-images.githubusercontent.com/45448731/89127494-d0fef780-d528-11ea-823a-8211c988f909.png)
![image](https://user-images.githubusercontent.com/45448731/89127506-d8be9c00-d528-11ea-9c00-767c277fbee7.png)
![image](https://user-images.githubusercontent.com/45448731/89127508-de1be680-d528-11ea

[2020-08-02 21:09] RubenMateus commented on #1
any news on this?

[2020-08-02 22:03] nthnchu commented on #256
Did this work? If so can you close this @isArtJay?

[2020-08-03 03:10] Xunzhuo commented on #287
It`s not merged yet, right?

[2020-08-03 07:47] #256 closed

[2020-08-03 07:48] isArtJay commented on #256
yes，thanks！

[2020-08-03 07:57] Angelk90 opened #301 "Page github for badge creation"
**Is your feature request related to a problem? Please describe.**

To create a badge, you need to read the documentation carefully and some things may change over time and add new features.

**Describe the solution you'd like**

The creation of a page on github that will guide you in the creation, with all the possible steps and also show you a preview of how it should be and then provide you wit

[2020-08-03 11:06] nombrekeff commented on #301
That would be cool, although it will have the same problems. If something changes, you will need to adjust it manually as well.

It would be an excellent tool to have for sure, but will not solve the issues you are listing. We try to keep backward compatibility, so it should not break that often. New features are another thing; they must be updated by hand (or automated).

[2020-08-03 11:11] anuraghazra commented on #301
@Angelk90 you are talking about a visual editor to build the cards right? yeah i have it planned i even started to work on it but then stopped it because of time limitations.

Yes @nombrekeff is right we have to make sure that everything is update and it is really hard to keep that in sync. yes i think we can somewhat automate the process but still it wouldn't be easy.

[2020-08-03 11:45] VictorNS69 commented on #136
Hi! First of all, **thanks for the job you are doing with this repo**!

I have a question, that I think fits here.

I have like 15 Python repositories, but I have no stats in "most used languages"
Here you can see the live card:

<a href="#" onclick="return false;">
  <img align="center" src="https://github-readme-stats.vercel.app/api/top-langs/?username=victorns69&theme=tokyonight&count_private=t