[2022-05-28 23:20] fzyzcjy commented on #1772
`Cannot read property 'user' of undefined`

https://github-readme-stats.vercel.app/api?username=fzyzcjy&show_icons=true&locale=en&count_private=true

![image](https://user-images.githubusercontent.com/5236035/170845704-a5c59b4d-a047-4f62-9aa0-d265b19b175d.png)

[2022-05-29 08:12] rickstaa commented on #1772
@fzyzcjy I'm not really sure why you received that error. Your using the right syntax and it seems to work when using it in my browser.

[![Anurag's GitHub stats](https://github-readme-stats.vercel.app/api?username=fzyzcjy )](https://github.com/anuraghazra/github-readme-stats)
[![Anurag's GitHub stats](https://github-readme-stats.vercel.app/api?username=fzyzcjy )](https://github.com/anuraghazra/gi

[2022-05-29 09:23] fzyzcjy commented on #1772
@rickstaa Hi thanks for the reply! It happens once in a while - e.g. it is fine now, but many times it just fails.

[2022-05-29 13:59] rickstaa commented on #1772
@fzyzcjy I also sometimes noticed this behaviour on my card. Maybe because of the significant number of commits on your account the card rendering reached a timeout. Perhaps we need to optimize the code a bit. Feel free to open an issue if the problem shows up more frequently.

[2022-05-29 14:27] fzyzcjy commented on #1772
@rickstaa Thanks for the reply :)

[2022-06-01 15:15] Cristishor201 opened #1798 "Can not exclude repo"
**Describe the bug**
`exclude_repo=` doesn't works

**Expected behaviour**
It seems that at least on **fork**ed repos, like this one :D it doesn't work, on **The most used languages**.
Expected to exclude this repo, to display the other repos work.

**Additional context**
`include_forks=false` doesn't help either.

[2022-06-03 09:15] JmKanmo opened #1801 "Top Languages card results are incorrect"
I write it  in my read.me file  like below

[![Top Langs](https://github-readme-stats.vercel.app/api/top-langs/?username=JmKanmo)](https://github.com/JmKanmo/JmKanmo)</br> </br>

but I don't use python language code  ...
My major used language is java.

So I test it other below site.
http://ionicabizau.github.io/github-profile-languages/?user=JmKanmo

and the result is like it.
[
![bb](https://use

[2022-06-05 00:32] MSBivens commented on #1801
Having a similar issue where it seems more like mine just hasn't updated in weeks

[2022-06-05 06:50] FLAK-ZOSO commented on #1495
@rickstaa I sometimes attached to the release some files like `test.py` to show the usage of the module for example.
Now I know releases aren't used this way, but when I created this issue I didn't.

[2022-06-05 09:22] rickstaa commented on #1495
@FLAK-ZOSO Ah, I see. Thanks for explaining! Including these files will require us also to fetch all releases of a repository. As you already mentioned, it is quite a unique use case. I will therefore close this issue for now.

[2022-06-05 09:22] #1495 closed

[2022-06-06 13:09] shivammavihs1 opened #1804 "wake -a time feature is not working for myself too :("
**Describe the bug**
A clear and concise description of what the bug is.

**Expected behaviour**
A clear and concise description of what you expected to happen.

**Screenshots / Live demo link (paste the github-readme-stats link as markdown image)**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other context about the problem here.

[2022-06-06 14:34] Iron-E commented on #1713
I'm seeing a similar issue:

[Doesn't Work](https://github-readme-stats.vercel.app/api?username=Iron-E&count_private=true&include_all_commits=true&show_icons=true&theme=tokyonight)

[Does Work](https://github-readme-stats.vercel.app/api?username=Iron-E&count_private=true&include_all_commits=true&include_all_commits=true&show_icons=true&theme=tokyonight)

Notice the only difference between the work

[2022-06-06 15:52] rickstaa commented on #1804
@shivammavihs1 Thanks for your bug report. Can you please check #1793 to see if it fixes your issue?

[2022-06-07 14:38] Zordon1337 commented on #1801
same here

[2022-06-07 23:23] garronej commented on #1522
It's counting stars on project that belongs to the account.

[2022-06-08 10:22] kshtj24 opened #1806 "Support for Stackoverflow stats"
**Is your feature request related to a problem? Please describe.**
It would be good to have a Stackoverflow stats card.

**Describe the solution you'd like**
Create a stackoverflow stats card which includes the reputation, number of gold, silver and bronze badges achieved by the user and user impact.
![image](https://user-images.githubusercontent.com/16714838/172593633-ab49526d-2d93-49e1-a570-8885

[2022-06-08 11:58] antoninhrlt commented on #1798
I've the same problem :/

[2022-06-08 19:58] mjovanc opened #1807 "Transparent card of stats"
**Is your feature request related to a problem? Please describe.**
The card does not work well when switching by light/dark mode.

**Describe the solution you'd like**
Would like to have a transparent card of stats with black/white text that adjusts based on current GitHub theme (if possible).

**Describe alternatives you've considered**
Nothing to add here.

**Additional context**
No screenshots

[2022-06-08 20:14] dmdhrumilmistry commented on #1649
is there any way to hide rank?

[2022-06-09 07:21] nicolasfara commented on #1801
Same

[2022-06-09 18:59] WISSAL-MN commented on #865
still didn't work 🙁

[2022-06-09 19:43] rickstaa commented on #1649
@dmdhrumilmistry Certainly :). You can use the `hide_Rank` option (see https://github.com/anuraghazra/github-readme-stats#stats-card-exclusive-options).

[code]

[![Anurag's GitHub stats](https://github-readme-stats.vercel.app/api?username=anuraghazra&hide_rank=true)](https://github.com/anuraghazra/github-readme-stats)

[2022-06-09 19:48] rickstaa commented on #1807
@mjovanc Thanks for your feature request. Some PR is open to achieving the desired behaviour (see #1785 & #1010). We, however, did not yet find the time to look at them. You can already use them on your fork and provide feedback to these PRs.

[2022-06-09 19:52] rickstaa commented on #1807
@mjovanc You can also use the solutions provided in #1415. An example of a dynamic card can be seen on [my profile](https://github.com/rickstaa).

[2022-06-10 07:53] kurt-liao commented on #1806
I think this idea is interesting, so I create a [repository](https://github.com/kurt-liao/so-stats) to do it.

The project is in the very beginning, and also I'm not that good about coding.
So, just feel free to give me some feedback to make me getting better.
Thanks!

[2022-06-10 08:35] dmdhrumilmistry commented on #1649
Thanks @anuraghazra, It worked!

[2022-06-10 10:32] mjovanc commented on #1807
Sweet. Thanks @rickstaa !

[2022-06-10 10:58] rickstaa commented on #1807
No problem. I think we can keep this open as a feature request for tracking https://github.com/anuraghazra/github-readme-stats/pull/1785 & https://github.com/anuraghazra/github-readme-stats/pull/1010. Feel free to unsubscribe if my previous commentx already are what you had in mind.

[2022-06-10 14:01] mouashmawy opened #1812 "Why contributions to forks aren't considered in calculations?"
The Most used language card isn't considering contributions to other's repositories through being contributor their or by forking.

Please consider adding it

[2022-06-10 16:08] rickstaa commented on #1812
@mouashmawy Thanks for your feature request! I will answer both options, including forks and stats from repositories to which users contributed separately.

A PR was recently created to include the results of the fork (see #1803). It was, however, closed due to the current GraphQL implementation. Currently, the GraphQL API does not allow us to fetch language results for individual users. It only r

[2022-06-10 16:08] #1812 closed

[2022-06-10 22:45] cliff-4 commented on #1180
I had a similar problem. I added the image via URL and it loaded as follows:
![image](https://user-images.githubusercontent.com/65708785/173159183-8cc1d216-8cda-488e-bbe4-f71811f3f1e7.png)
And that was fine until I changed a repository to public that had some C++ code in it. On refreshing and anything, it remained this way, but if I opened the link it's using as src, I got this:
![image](https://u

[2022-06-12 12:56] ilovelinux commented on #1798
Forked repos aren´t included by default on "Most used languages" as explained in https://github.com/anuraghazra/github-readme-stats/discussions/1255

[2022-06-12 12:58] antoninhrlt commented on #1798
ok but, `&exclude_repo` does not work with my repository (that is not forked)

[2022-06-12 13:32] rickstaa commented on #1798
@antoninhrlt Thanks for your question. I checked your card and the following Syntax seems to work.

**Without exclusions**

[code]

[![Top Langs](https://github-readme-stats.vercel.app/api/top-langs/?username=antoninhrlt)](https://github.com/anuraghazra/github-readme-stats)

**With exclusions**

[code]

[![Top Langs](https://github-readme-stats.vercel.app/api/top-langs/?username=antoninhrlt&exclud

[2022-06-12 13:34] rickstaa commented on #1798
I am closing this since I could not find any problems with the current behaviour. Please give a reproducible example below if you still think something is going wrong.

[2022-06-12 13:45] antoninhrlt commented on #1798
Thank you, the problem was probably from me, maybe I've badly refreshed the page or something like that.
I'm sorry for the disturbance

[2022-06-12 14:31] rickstaa commented on #1798
@antoninhrlt No problem, happy to help!

[2022-06-12 19:13] Cristishor201 commented on #1798
Ok. But then why I can not exclude this repo ?

[2022-06-12 19:18] #1798 closed

[2022-06-12 22:53] ItsAleph commented on #1471
Can I give you mine too?

[2022-06-13 11:49] hashfx opened #1814 "Total Commits in GitHub Stats are decreasing"
**Describe the bug**
Number of total commits in GitHub Stats are decreasing day by day (8.7K to 8.6K to 8K to 7.8K...)

**Expected behaviour**
Total Commits should be equal to addition of all commits throughout the GitHub history (My Total Contributions are about 8.6K).

**Screenshots / Live demo link (paste the github-readme-stats link as markdown image)**
_What is Shown_
![image](https://user-im

[2022-06-13 11:58] hashfx opened #1815 "GitHub Stats should display total stats instead of current year stats"
**Is your feature request related to a problem? Please describe.**
My GitHub stats are decreasing day by day vide issue #1814

**Describe the solution you'd like**
_What is Shown_
![image](https://user-images.githubusercontent.com/69109482/173346485-7f263c6b-4867-4be4-b4fc-6a84d6928a88.png)

_Total Contribution in 2022_
![image](https://user-images.githubusercontent.com/69109482/173346777-1890a849

[2022-06-13 16:11] Iron-E commented on #1711
I'm seeing a similar issue:

[Doesn't Work](https://github-readme-stats.vercel.app/api?username=Iron-E&count_private=true&include_all_commits=true&show_icons=true&theme=tokyonight) (shows 0 commits)

[Does Work](https://github-readme-stats.vercel.app/api?username=Iron-E&count_private=true&include_all_commits=true&include_all_commits=true&show_icons=true&theme=tokyonight) (shows thousands of commit

[2022-06-14 06:34] rickstaa commented on #1711
@Iron-E I checked your example and I was not able to reproduce the issue. Maybe again a cache issue.

[code]

[![Iron-E's GitHub stats](https://github-readme-stats.vercel.app/api?username=Iron-E&count_private=true&include_all_commits=true&show_icons=true&theme=tokyonight)]

[code]

[![Iron-E's GitHub stats](https://github-readme-stats.vercel.app/api?username=Iron-E&count_private=true&include_all_c

[2022-06-14 06:57] rickstaa commented on #1815
@hashfx Thanks for your bug report/feature request. I agree that our current behaviour is misleading or strange at best. There is a feature request open for changing this on #1053. Sadly, we haven't had time yet to address this issue. Feel free to discuss the implementation of this feature request or add a pull request to solve this issue.

[2022-06-14 06:57] #1815 closed

[2022-06-14 07:03] rickstaa commented on #1053
As pointed out in #1815 the current behaviour is misleading and should be fixed. As pointed out by @hashfx the card should have an option to choose between `year-wise`, `current year` or `total`. Further, the active mode should be displayed on the card. I am currently very short on time, so I can not implement this myself but feel free to create a PR for this feature to review. I added the ![](htt

[2022-06-14 07:09] rickstaa commented on #1814
@hashfx Thanks for your bug report. I think the distinction between contributions and commits causes this. Please check https://github.com/anuraghazra/github-readme-stats/discussions/1770#number-of-commits-is-incorrect about the difference. I check the data we receive from GitHub, and it looks like the card is correct. You can test this out by running the following code in the GraphQL API:

[code]

[2022-06-14 07:10] rickstaa commented on #1804
I'm closing this due to inactivity. Feel free to comment below if you're still experiencing problems.

[2022-06-14 09:19] hashfx commented on #1815
Thanks for your action, I would surely be planning for a solution

[2022-06-14 09:23] hashfx commented on #1814
I understood the issue, thanks @rickstaa for replying😀

[2022-06-14 10:21] rickstaa commented on #1814
No problem. Feel free to comment below if you have any other questions.

[2022-06-14 10:24] rickstaa commented on #1471
@ItsAleph Thanks a lot for offering, but that is unnecessary and not wise from a security standpoint. @anuraghazra and I will create new PAT ourselves when the current PATs run out. Are you currently experiencing problems?

[2022-06-14 13:53] Iron-E commented on #1711
Yup. Seems like it was a cache issue

[2022-06-14 15:53] hashfx commented on #1814
Sure, thanks😇🙏🏻

[2022-06-14 22:30] WaqarTabish2807 commented on #359
how to align the complete box at the center?

[2022-06-15 08:13] rickstaa commented on #359
@WaqarTabish2807 I use `<div align="center"></div>`. You can checkout https://github.com/rickstaa/rickstaa/ for an example.

[2022-06-17 17:49] sajid-munawar commented on #352
Thanks.

[2022-06-18 08:22] #1814 closed

[2022-06-19 19:43] 64kramsystem opened #1820 "Commits count suddenly went down to zero"
**Describe the bug**

The commit count suddenly went down to zero.

**Expected behaviour**

The commit count should report the number of commitd (it did so until a few days ago).

**Screenshots / Live demo link (paste the github-readme-stats link as markdown image)**

![image](https://user-images.githubusercontent.com/1595356/174497776-866c05d1-379d-4918-83d0-cc8e0388d18a.png)
![image](https://use

[2022-06-20 14:55] cosmin-oros opened #1821 "Total commits count reset to 0"
When you include all commits it suddenly resets to 0, but if you have the option where it shows just the commits per year it works fine.

[2022-06-20 22:02] 64kramsystem commented on #1820
Today's showing the correct amount again, so I'm closing this. I think #1821 may be a duplicate of this.

[2022-06-20 22:02] #1820 closed

[2022-06-21 04:51] #1821 closed

[2022-06-22 09:13] mohamedmehdigara opened #1823 "Hello. Wakatime user not found"
[![willianrod's wakatime stats](https://github-readme-stats.vercel.app/api/wakatime?username=mohamedmehdigara)](https://github.com/anuraghazra/github-readme-stats)

Knowing that my username field is exactly the same username in wakatime website.
I confused name with username. Problem solved. Thanks

[2022-06-23 08:23] #1823 closed, assigned to nobody

[2022-06-23 14:23] Elprimojr69 opened #1828 "Closed because it violated our guidelines"
CENSORED

[2022-06-23 18:40] rickstaa commented on #1828
Please do not post ads.

[2022-06-23 18:40] #1828 closed

[2022-06-24 11:05] Hugoonreplit opened #1829 "Could the followers gained could influence in the stats?"
**I think that the rating in people's profile will be much more higher if the followers gained influenced in the stats. I think it is another intresitng thing that could be added.**

[2022-06-27 07:07] Goulixiaoji opened #1832 "Will it support an organize"
I try to use it in my organize but failed.
I want it can support that:)

[2022-06-27 12:45] rickstaa commented on #1832
Duplicate of #1808.

[2022-06-27 12:45] #1832 closed

[2022-06-29 02:15] xpdable opened #1837 "Possibility to Github Enterprise"
**Is your feature request related to a problem? Please describe.**
We use github enterprise, is this working in ghe? or more config/dev?

[2022-06-29 18:52] rehanguha opened #1838 "Walktime :: Not Found"
https://github-readme-stats.vercel.app/api/wakatime?username=rehanguha

Something went wrong! file an issue at https://tiny.one/readme-stats
Wakatime user not found, make sure you have a wakatime profile

[2022-06-30 17:34] salmomascarenhas opened #1839 "Grammar correction in the pt-BR readme"
**Describe the bug**
Just a grammar mistake in brazilian portuguese language

**Expected behaviour**
Adding the missing letter.

**Screenshots / Live demo link (paste the github-readme-stats link as markdown image)**

**Additional context**

[2022-07-02 13:07] sanjanastyles commented on #275
Honestly, its been quite few days I've_ been using this stat card, and it has never once updated since then. Please look into the issue, or at least tell us how to update it even if its manual. Thanks

[2022-07-04 22:57] AdwaitKulkarni58 opened #1843 "Add support for themes for the top languages card"
**Is your feature request related to a problem? Please describe.**
The problem currently is that there is support for themes for the other cards, but not the top languages card, so it doesn't look uniform on the profile.

**Describe the solution you'd like**
Please add the same themes you have for the other cards to the top languages card as well.

[2022-07-05 04:13] amandie-ct commented on #1801
Same :( my contribution to private repositories is not being accounted for, even though I added the param to show them.

[2022-07-05 20:52] sban2009 commented on #1837
I would love to have this as part of enterprise.

[2022-07-06 10:40] rickstaa commented on #275
@sanjanastyles I checked your account using [the graphql explorer](https://docs.github.com/en/graphql/overview/explorer) and it looks the card is up to date. You can check this yourself using the following syntax:

[code]

[code]

Gives:

[code]

[![GitHub stats](https://github-readme-stats.vercel.app/api?username=sanjanastyles)](https://github.com/anuraghazra/github-readme-stats)

[2022-07-06 10:43] #1839 closed

[2022-07-06 12:20] rickstaa commented on #1801
@JmKanmo Thanks for your issue. We are aware of the inaccuracy of the language card. Limitations of the current GraphQL implementation cause it (see #1803 and https://github.com/anuraghazra/github-readme-stats/pull/1122#issuecomment-1152066225 for more information).

Currently, the GraphQL API does not allow us to fetch language results for individual users. It only returns language results for re

[2022-07-06 14:48] rickstaa opened #1851 "Test action fails"
**Describe the bug**

After 1975116b4b97e8ee11773fae1cd31a46cb1c73ea and 1975116b4b97e8ee11773fae1cd31a46cb1c73ea were merged the ` `tests/card.test.js` now fails. This is strange since these commits do not change any of the code that is tested. See https://github.com/anuraghazra/github-readme-stats/runs/7215331182?check_suite_focus=true.

**Expected behaviour**

The test should pass (See https://

[2022-07-06 14:50] rickstaa commented on #1851
@anuraghazra I tried updating the dependencies and changing the SVG syntax (i.e. removing commas between the `stop` elements and changing the query selection syntax), but I couldn't find the cause.

[2022-07-06 21:52] abhi1693 commented on #1772
`Cannot read property 'data' of undefined`

![image](https://user-images.githubusercontent.com/5083532/177649213-4c6e77e2-30a5-46b8-b9e7-46463c7a6906.png)

https://github-readme-stats.vercel.app/api?username=abhi1693&count_private=true

Not working for me

[2022-07-07 08:02] rickstaa opened #1852 "Stats and languages results incorrect due to graphql 100 records limit"
**Describe the bug**

The current language and stats card results are incorrect for users with more than 100 repositories (see https://docs.github.com/en/graphql/overview/resource-limitations). This is because we are currently only fetching the first 100 repositories of a user account.

https://github.com/anuraghazra/github-readme-stats/blob/a68abbb9b3a47ad73988f37fce274e882e86b7ad/src/fetchers/st

[2022-07-07 09:52] rickstaa commented on #1852
Looks like there already is a PR open for this #1178.

[2022-07-08 14:12] sban2009 opened #1855 "Any option to consider forks in language card?"
Any option to consider forks in language card?
I have some forked repo with HTML, Java files but in my [README](https://github.com/sban2009/sban2009/blob/main/README.md) it doesn't show up

[2022-07-08 14:19] sban2009 commented on #1855
nvm. read about the bias reason.

[2022-07-08 14:19] #1855 closed

[2022-07-08 16:22] rickstaa commented on #1855
No problem. Also, see #1255.

[2022-07-10 15:41] PekayTab commented on #1
Any updates on when this will be supported publicly?

[2022-07-11 03:41] novialriptide opened #1858 "Include programming languages from pull requests"
**Is your feature request related to a problem? Please describe.**
Some programmers like me mostly contribute to open source repositories and the entire repository doesn't count towards the languages stats. I think it'll be nice if this service includes the programming langusge that the pull request uses/introduces

**Describe the solution you'd like**
See above

**Describe alternatives you've con

[2022-07-11 08:42] rickstaa commented on #1
@PekayTab Thanks for your question. As explained in #1122 there are several changes that have to be applied before #1122 can be merged.

_Originally posted by @rickstaa in https://github.com/anuraghazra/github-readme-stats/issues/1122#issuecomment-1152237425_

I'm however waiting for feedback of @anuraghazra before I am planning to apply these changes.

[2022-07-11 13:34] Arthapz opened #1859 "Top langs don't work with my account"
Hi,
Top lang card don't seem to work with my account name

![image](https://user-images.githubusercontent.com/27437334/178276126-45e58de9-53fe-41e5-b5a2-e073b9c7862d.png)

[code]

[2022-07-12 10:03] rickstaa commented on #1516
@elsowiny Thanks for your comment. We are aware of the limitations of the current language card. Several improvements have been proposed in https://github.com/anuraghazra/github-readme-stats/issues/1801#issuecomment-1177338295. Let's close #1516 and continue the discussion on #1801.

[2022-07-12 10:03] #1516 closed

[2022-07-12 10:32] #1858 closed

[2022-07-12 11:50] EleoXDA commented on #1772
Hi. Wanted to forward my question here. In short, the question is "how to hide C++ language from card"? The long version here:
https://github.com/anuraghazra/github-readme-stats/issues/1516#issuecomment-1180913048

[2022-07-13 09:12] rickstaa commented on #1772
@abhi1693 I checked your account and it looks like an error is thrown while trying to fetch your data using the GraphQL API. I suspect this is due to a timeout or limit set by the GitHub team (see #1406). You can see this using the following syntax in the GitHub GraphQL explorer:

[code]

[code]

I think it is best to add your problem to #1406 and contact [the GitHub team](https://support.github.c

[2022-07-13 09:48] rickstaa opened #1863 "Custom values for language card"
### Discussed in https://github.com/anuraghazra/github-readme-stats/discussions/1862

<div type='discussions-op-text'>

<sup>Originally posted by **Virgile-Foussereau** July 13, 2022</sup>
Hi :wave:

I would like to use the language card on my profile but also on other places such as my CV. However a lot of my projects are not on github so I would like to create a language card with custom values

[2022-07-13 09:53] rickstaa commented on #1863
@Virgile-Foussereau, feel free to create a pull request if @anuraghazra is also on board with this feature.

I think something like `custom=python[30],CSS[10],json[20],yaml[40]` would be sufficient. While using this syntax, the card should:
- Take into account the maximum number of languages (i.e. `10`) permitted on the language card.
- Normalize the results if the percentages don't add up.
- Shou

[2022-07-13 11:09] DMS055 opened #1864 "border_color not working"
For some reason I couldn't get the border to change colors (stats card)

**Expected behaviour**
Border should change colors as it's not disabled

**Additional context**
When using it with lang card it seems to work without an issue

[2022-07-13 18:11] #1804 closed

[2022-07-14 10:50] rickstaa opened #1866 "Add repository stats card"
**Is your feature request related to a problem? Please describe.**
Add the number of open issues and PRs to repo card.

[2022-07-14 11:04] rickstaa opened #1867 "Migrate to an organizational structure"
**Is your feature request related to a problem? Please describe.**

We often get card requests from users that want to add new cards (i.e., #1563 and #1786). Currently, we have to decline these requests due to [GitHub's rate limits](https://docs.github.com/en/graphql/overview/resource-limitations) and maintainability concerns (see https://github.com/anuraghazra/github-readme-stats/issues/1563#issu

[2022-07-14 22:56] paralin opened #1868 "flake: total commits count sometimes is inaccurate"
**Describe the bug**

I previously had 46k commits but now it shows 1.3k commits.

I definitely have more like 46k commits, not 1.3k, some of my repos have ~2000 commits alone.

**Screenshots / Live demo link**

https://github-readme-stats.vercel.app/api?username=paralin&show_icons=true&hide_border=true&count_private=true&include_all_commits=true&theme=codeSTACKr

Before:

![image](https://user-im

[2022-07-14 23:02] paralin commented on #1868
When I removed the `hide_border` param (and I guess thereby invalidated the cache) it went back to 46k.

I guess it's just a temporary flake in the API calls.

Closing for now.

[2022-07-15 12:42] rickstaa commented on #1867
We can, of course, also release the core functionality under an npm package without moving to an organization. 👍

[2022-07-15 14:25] coderboy-exe commented on #1760
I'm Interested in tackling this. Can you assign to me?

Thanks

[2022-07-15 15:00] rickstaa commented on #1760
@coderboy-exe Thanks for your interest in contributing to GRS. 🚀 I assigned you to this issue. Tale your time. Let me know if you have any questions, and feel free to request a review from me at the PR.

[2022-07-15 15:12] coderboy-exe commented on #1760
Awesome! I'll keep in touch

[2022-07-16 08:49] rickstaa commented on #1774
If somebody wants to contribute, I think the best way is to enlarge the card a bit if an error is thrown.

[2022-07-18 19:37] prathikshetty2002 opened #1871 "Github readme stats not able to update the streaks record"
**Describe the bug**
I have been consistently working on github from last 15 days my current streak was 13 till 2 days ago. Now it is only 2 but i didn;t break it. The readme stats is not showing the streak record properly.

**Expected behaviour**
The current streak should be of 15 days but is instead of 2 days

![Screenshot 2022-07-19 010816](https://user-images.githubusercontent.com/63772910/179

[2022-07-18 21:36] rickstaa commented on #1871
Hey @prathikshetty2002 thanks for your questions. If I'm not mistaken, however this issue should be at https://github.com/DenverCoder1/github-readme-streak-stats

[2022-07-19 01:32] paralin commented on #1868
OK, this is happening still, sometimes (currently) it says 1.3k commits, sometimes it says 46k.

[2022-07-19 03:42] prathikshetty2002 commented on #1871
ok thanks for letting me know, i will close this and raise a new issue there.

[2022-07-19 03:42] #1871 closed

[2022-07-19 06:59] rickstaa commented on #1868
Hey @paralin. Thanks for the information. I, however, never have seen this happen to me. Maybe because you have made a lot more commits on Github than me. It is, therefore, a bit hard to solve this bug for me since I can not reproduce it. I can, however, help you solve it. I think there are two possible reasons for the commit amount flaking:
- There is a temporary problem with the Github API. In t

[2022-07-19 17:45] muhib7353 commented on #1760
Well,I think you can do @coderboy-exe

[2022-07-20 04:39] jovian-explorer commented on #1868
I am facing the same issue as the above. Although I have a very small number of commits, it still is incorrectly showing an even lower number.

![fff](https://user-images.githubusercontent.com/98839532/179898154-86e076c5-e2fb-48cb-abc8-c94b9c0f20ef.svg)

![Screenshot from 2022-07-20 10-09-13](https://user-images.githubusercontent.com/98839532/179898281-2257401f-6262-4699-8fdf-f5ec3e3ba0eb.png)

[2022-07-20 07:25] rickstaa commented on #1868
@jovian-explorer Thanks for adding to this discussion. I think your problem is caused by the distinction between commits and contributions (see https://github.com/anuraghazra/github-readme-stats/discussions/1770#number-of-commits-is-incorrect).

[2022-07-20 07:33] rickstaa commented on #1868
@paralin, I updated my previous comment since it turned out that we don't use a loop to fetch the total commit count but the GitHub's [REST API](https://docs.github.com/en/rest).

[2022-07-21 16:17] andry81 commented on #1571
I've noticed it has dropped again:
https://github.com/andry81-cache/andry81--gh-content-cache/commit/cc7e495f834f38d844431f4b4300363c1f1ff3b2#diff-3f55dc8dbbd2e6df75c40b737602162956166212f228731699689ce77f693e07

[2022-07-21 17:54] rickstaa commented on #1571
I suspect

Hey @andry81, thanks for letting us know. I checked the problem and came to the same conclusion as @anuraghazra above. It looks like the Github rest API temporary flaked, and that the result was saved in the cache.

I checked the results of your account using the [Github rest API](https://docs.github.com/en/rest), which the GRS uses to fetch the total commits, and it looks like it works

[2022-07-21 18:02] NickB-30 opened #1877 "Top Languages card not showing any data"
**Describe the bug**
The top languages card does not show anything.

**Expected behaviour**
The card displays my most used languages

**Screenshots / Live demo link (paste the github-readme-stats link as markdown image)**
<img width="611" alt="image" src="https://user-images.githubusercontent.com/80864505/180282419-f2915d4e-ad90-4e51-8a81-0f0e1e5f944a.png">

**Additional context**
I have 2 private

[2022-07-21 18:02] rickstaa commented on #1571
@andry81 Interesting caching behaviour, I have never seen it used. I think you do it like that since you are displaying a lot of rendered `svgs`, and the page load time would be too high otherwise?e

[2022-07-21 23:48] andry81 commented on #1571
These svg's just periodically downloaded through the GitHub Action using curl and committed into a repository. I used this approach, because direct links in the markdown file time to time goes offline and does cached as offline version instead of an old version.

[2022-07-22 06:50] #1571 closed

[2022-07-23 04:21] tejas-nagchandi commented on #1806
Kindly have a look at https://github.com/nschloe/stackoverflow-card

[2022-07-23 04:23] tejas-nagchandi commented on #1755
Kindly have a look at https://github.com/DenverCoder1/github-readme-streak-stats

[2022-07-23 17:14] rickstaa commented on #1755
Great! I think we can close this issue. 🔥👍

[2022-07-23 17:14] #1755 closed

[2022-07-23 17:16] rickstaa commented on #1806
Amazing! Will close it it here for now.

[2022-07-23 17:16] #1806 closed

[2022-07-23 17:23] rickstaa commented on #1755
@tejas-nagchandi great cards! If #1867 ever gets implemented, we can merge your cards and the GitHub readme cards under one organisation if you would be interested.

[2022-07-24 02:47] mendax1234 opened #1881 "Stats for an organization"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

l want the organization on GitHub can have a stats.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

l want the organization on GitHub can have a stats.

**Describe alternatives you've cons

[2022-07-24 06:31] rickstaa commented on #1881
Duplicate of #1.

[2022-07-24 07:33] mendax1234 commented on #1881
Thanks! l will close this issue!

[2022-07-24 07:33] #1881 closed

[2022-07-24 07:34] mendax1234 commented on #1
When will stats for an organization be supported? If so, how to use it?

[2022-07-24 07:40] rickstaa commented on #1
Hey @mendax1234, thanks for your interest in this feature. Although it is not officially supported yet, I already use it on my fork (see [my readme](https://github.com/rickstaa)). The steps for using this feature are found [here](https://github.com/anuraghazra/github-readme-stats/issues/1#issuecomment-981419174).

Unfortunately, I can not give an ETA for this feature (see https://github.com/anurag

[2022-07-24 18:04] tejas-nagchandi commented on #1755
@rickstaa, I am not owner of the above card, @DenverCoder1 is!

[2022-07-24 18:13] rickstaa commented on #1755
@tejas-nagchandi ha, I overlooked that. Anyway, thanks for bringing it to our attention.

[2022-07-25 16:16] hugogacia360 commented on #1406
Well, I have to same problem. Don't work for my username but works fine for any other I tried
![Captura de tela 2022-07-25 131458](https://user-images.githubusercontent.com/69007691/180825922-6a57e792-d187-4cc9-891d-b99ed6ea48fe.png)

[2022-07-25 16:57] rickstaa commented on #1406
Hey @hugogacia360, Thanks for your question. I checked your account, and your cards seem to work when I use the following syntax:

[![Anurag's GitHub stats](https://github-readme-stats.vercel.app/api?username=hugogacia360&count_private=trueinclude_all_commits=true)](https://github.com/anuraghazra/github-readme-stats)

[code]

[![Anurag's GitHub stats](https://github-readme-stats.vercel.app/api?use

[2022-07-26 13:07] rickstaa opened #1886 "Add top issues labeling action"
**Is your feature request related to a problem? Please describe.**
Although I know it is possible to filter top issues using GitHub's reaction filter, I think displaying them in a simple dashboard would give us a better overview of the GRS community's most upvotes features and bugs.

**Describe the solution you'd like**

I created the [top-issues-action](https://github.com/rickstaa/top-issues-acti

[2022-07-26 18:44] aScHEABL opened #1887 "Add another option to make stats card static"
I'm trying to convert the animated SVG to static image formats (.png, .jpeg etc.)
And cannot find a proper way to convert it at the last frame.

Ideal solution:
Adding another option to disable the animation.

[2022-07-26 18:54] #1887 closed

[2022-07-26 18:54] aScHEABL commented on #1887
I found the option, nevermind.

[2022-07-27 04:47] tinnamchoi opened #1888 "Incorrect cache documentation"
**Describe the bug**
The README first states on line 170 that the minimum is 1800 seconds (30 minutes), then on line 182 states that it is 2 hours.

**Expected behaviour**
Looking at the code, I'm pretty sure the latter is the correct one, and the former should be updated.

**Screenshots / Live demo link (paste the github-readme-stats link as markdown image)**
![image](https://user-images.githubus

[2022-07-27 04:50] tinnamchoi commented on #1888
I also noticed that the minimum currently actually seems to be 4 hours, but only temporarily so I would suggest adding a line mentioning that.

[2022-07-27 05:46] rickstaa commented on #1888
Hey @tinnamchoi, thanks for your issue and the PRs. Improving the cache documentation is already on our roadmap (see #1760). @coderboy-exe is currently working on this issue. Since #1760 is more about the location of the cache documentation and #1889 and #1890 about errors in the cache documentation, I will merge your Prs. Thanks a lot for your contributions! 🎉

[2022-07-27 05:51] rickstaa commented on #1888
Closing since these improvements have been released in the main branch. @tinnamchoi, thanks again for your contributions!

[2022-07-27 05:51] #1888 closed

[2022-07-27 05:55] rickstaa commented on #1768
@anuraghazra Can you maybe version this repository so we can state which version includes a feature or bug fix. We can borrow the [release](https://github.com/reviewdog/action-black/blob/master/.github/workflows/release.yml) action from @reviewdog to automatically increase the version on a pull request.

[2022-07-27 07:15] ENTPRESTIGIOUS opened #1891 "Why is my most used languages not showing up?"
**Describe the bug**
A clear and concise description of what the bug is.

**My most used languages aren't showing up with this link:
https://github-readme-stats.vercel.app/api/top-langs/?username=entprestigious**

**Expected behaviour**
A clear and concise description of what you expected to happen.

**It should display something.**

[2022-07-27 07:30] ZhiyuanChen opened #1893 "Steam card"
**Is your feature request related to a problem? Feature

Is it possible to have a Steam stats like https://github.com/Ananto30/steam-stat ?

[2022-07-27 07:34] rickstaa commented on #1893
@ZhiyuanChen Adding a steam card is currently not under the scope of this repository (see https://github.com/anuraghazra/github-readme-stats/issues/1563#issuecomment-1137509321). We might be able to add in the future if this repository is converted into an organization (see https://github.com/anuraghazra/github-readme-stats/issues/1867).

[2022-07-27 07:34] #1893 closed

[2022-07-28 06:57] huanlirui opened #1894 "why stats card 's total Commits is wrong ??"
![image](https://user-images.githubusercontent.com/40491203/181440681-32a02051-8c0a-4b10-a775-37c426dc53e8.png)
![image](https://user-images.githubusercontent.com/40491203/181440840-caef4ffd-9eb2-4603-bdd8-af6c960c9af8.png)

[2022-07-28 15:55] rickstaa opened #1899 "Theme preview action is not working anymore."
**Describe the bug**
It looks like the theme preview action is not working anymore (see https://github.com/anuraghazra/github-readme-stats/runs/7561423249?check_suite_focus=true). It gives the following warning message:

[code]

Probably a simple parsing error caused by how `git diff displays the new changes. Not a high priority, but putting it here so that we don't forget.

[2022-07-29 03:43] navilg opened #1900 "Error: Node.js version 12.x has reached End-of-Life"
**Describe the bug**
A clear and concise description of what the bug is.

Vercel is throwing the error during build.

[code]

**Expected behaviour**
A clear and concise description of what you expected to happen.

**Screenshots / Live demo link (paste the github-readme-stats link as markdown image)**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other

[2022-07-29 08:42] rickstaa opened #1902 "Theme preview action should only run on theme changes"
**Describe the bug**

It looks like the theme-preview GitHub action always runs (see https://github.com/anuraghazra/github-readme-stats/runs/7575467564?check_suite_focus=true).

**Expected behaviour**

As the executing time of this action is quite long, I think we should add a [path filter](https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#onpushpull_requestpull

[2022-07-29 08:43] rickstaa commented on #1900
@navilg Thanks a lot for letting us know! I fixed this in #1901. Please check out the updated master branch.

[2022-07-29 08:43] #1900 closed

[2022-07-29 08:53] rickstaa commented on #1902
Fixed by #1903.

[2022-07-29 12:23] #1829 closed

[2022-07-30 07:35] LidiaGarrigo opened #1904 "Github-Readme-Stats does not show my issues"
**Github-Readme-Stats does not show my issues.**

When I add the GitHub stats card to my personal repository, I see that it doesn't show me the actual total of issues I have.
In my day to day, I work with issues that I link to projects and the card does not show them.

![Captura de Pantalla 2022-07-30 a las 9 23 00](https://user-images.githubusercontent.com/72071118/181879775-1e22cee8-5efb-42ab-96

[2022-07-30 12:02] dlvdls18 opened #1905 "Add all repositories card"
Just like pin, add a card for all repositories

[2022-07-30 13:57] Luminous-Coder commented on #1852
Why it is less important? Although people with more than 100 repositories with stars are less.

[2022-07-30 18:59] rickstaa commented on #1852
@Luminous-Coder Thanks for your question. What I meant is that it is probably affecting fewer people. Since the GraphQL call we make returns the repositories listed from most starred to least starred, a user must have 100 repositories with many stars for to score to be significantly affected. I hope that clears things up. Nevertheless, we should solve both cases. 👍🏻

[2022-07-30 19:02] rickstaa commented on #1905
@dlvdls18 Thanks for your feature request. I am, however, not entirely sure if I understand your feature request. Can you give an example of what information such a card would hold? Would it list all the repositories of a user? I think this would quickly become a relatively big card since many users have more than 100 repositories.

[2022-07-30 19:25] melxincognito opened #1907 "Top Languages Card - Hide Languages C# not working"
Option to hide C# is not working for top languages card

Using <b> csharp</b> in hide
[code]
Result:
<img src='https://github-readme-stats.vercel.app/api/top-langs/?username=melxincognito&layout=compact&theme=radical&hide=swift,csharp'/>

Using <b> c-sharp</b> in hide
[code]
Result:

<img src='https://github-readme-stats.vercel.app/api/top-langs/?username=melxincognito&layout=compact&theme=radical

[2022-07-31 01:38] dlvdls18 commented on #1905
Thanks for your understanding. I think instead of all repositories, how about top 5 repositories?

[2022-07-31 06:51] fqrtg14 opened #1909 "Why is my top languages card empty?"
**Describe the bug**
I have created my Vercel instance and am using it but my languages card does not show anything.

**Expected behaviour**
The languages card displays something.

**Screenshots / Live demo link (paste the github-readme-stats link as markdown image)**
![image](https://user-images.githubusercontent.com/20853284/182013871-3ea4ee1b-46f8-4c9a-aad3-698101d72d2d.png)
https://github-read

[2022-07-31 11:08] rickstaa commented on #1905
@dlvdls18 Ah, I see. Unfortunately, I don't think your feature will add anything new since you can use HTML to create a grid of repositories (see https://github.com/anuraghazra/github-readme-stats#quick-tip-align-the-repo-cards). I will close this feature request for now since I think it will complicate our codebase too much.

I think adding the [card_width] can improve the process of creating a g

[2022-07-31 11:08] #1905 closed

[2022-08-01 01:43] zhou-hao opened #1913 "How to count the repository I created."
Most of the repository are in my organization. I want to count them together.

[2022-08-03 03:48] notauserx opened #1921 "Add links to languages on the top language card"
Hi,
In the top languages card, it would be nice to have href's for the languages. That way,
users can click on any one of the top languages and see a detailed view of that language.

For example, I have haskell in my top languages card. I want to link haskell with

https://github.com/search?l=Haskell&q=user%3Anotauserx&type=Repositories

[2022-08-03 07:48] rickstaa commented on #1921
@notauserx Great Idea! Feel free to create a pull request, and I will take a look. I think the behaviour should be the same as with the languages section that shows up in a repository.

[2022-08-03 08:58] notauserx commented on #1921
Alright, working on the PR

[2022-08-07 20:35] HanCai98 opened #1928 "PR count should not be 0"
**Describe the bug**
I've made many PRs to my company's private project, but my PR count on the stats graph is 0, so weird.

**Expected behaviour**
The PR num on the stats graphs should be 30 not 0, i.e. include the PR for my company's projects

**Screenshots / Live demo link (paste the github-readme-stats link as markdown image)**
https://github.com/HanCai98

**Additional context**
Add any other

[2022-08-07 22:58] HanCai98 opened #1929 "Follow the Youtube tutorial but the deploy is failed"
**Describe the bug**
I followed your tutorial on Youtube, but the deploy step on Vercel is failed

**Expected behaviour**
The deploy should work well

**Screenshots / Live demo link (paste the github-readme-stats link as markdown image)**
The error message is shown below
[code]

**Additional context**
Add any other context about the problem here.

[2022-08-09 11:26] lsalvadore commented on #1534
I support this suggestion, and I also add that pull requests is not the only way to contribute to others' repositories. There are also repositories owned from organizations and teams you are in and for which you have write access.

More generally, I think any commit associated with your account should contribute to your langauges statistics.

[2022-08-10 07:16] rickstaa opened #1935 "Top Issues Dashboard"
A simple dashboard that lists the top issues/bugs/features and pull requests.

## Top issues

1. #1
2. #1471
3. #455
4. #1406
5. #1001

[2022-08-10 11:14] rickstaa commented on #1886
@anuraghazra I added an example output in #1935.

[2022-08-10 11:27] 2huiju opened #1936 "Top languages card is empty"
Describe the bug I have created my Vercel instance and am using it but my languages card does not show anything.
Expected behaviour The languages card displays something.
Screenshots / Live demo link (paste the github-readme-stats link as markdown image) 

It used to work properly, but it hasn't worked since a few days ago

![Most Used Languages](https://user-images.githubusercontent.com/87798108/

[2022-08-10 11:38] RuiGuilherme commented on #1
@rickstaa I just tested your deployment on Vercel with support for organizations, I believe that the "Top Language" is not working correctly. The main languages of the repositories are in Java and that's more than 500 commits and I didn't have any changes in the "Top Language".

Are there any limitations at the moment to check the languages of private organizations?

[2022-08-10 11:50] rickstaa commented on #1
@RuiGuilherme If you followed [these steps](https://github.com/anuraghazra/github-readme-stats/issues/1?notification_referrer_id=MDE4Ok5vdGlmaWNhdGlvblRocmVhZDk4NDYzMDg5MToxNzU3MDQzMA%3D%3D#issuecomment-981419174) for deploying your own private instance and added a PAT that has access to the repositories of these private organizations, it should work. The permissions are the same as in the [GraphQ

[2022-08-10 12:17] RuiGuilherme commented on #1
It worked perfectly, thank you very much for the quick response.

[2022-08-10 12:32] rickstaa commented on #1534
@joeljosedev and @lsalvadore, thanks for your feature request. I am, however, afraid that what your asking for is not possible with the current GitHub GraphQL API. See https://github.com/anuraghazra/github-readme-stats/issues/1801#issuecomment-1176153879 for more information. I created a feature request to improve the GraphQL API so that we can improve the language results. Please give your suppor

[2022-08-10 12:32] #1534 closed

[2022-08-12 10:52] CybernetHacker14 opened #1939 "Parameters / option to alter the GitHub Stats card's size"
**Is your feature request related to a problem? Please describe.**
First of all, would like to mention that this project is amazing. This is more of a suggestion / addition.
I feel the GitHub Stats card's width can be made a bit compact, since there's a lot of empty space between the rank sign and the data.
This is so that besides the GitHub Stats card, some content can be placed.

**Additional co

[2022-08-12 13:45] rickstaa commented on #1939
@CybernetHacker14 Thanks for your feature request. This feature has been requested in #1170. It has already been implemented in #1334. I, however, did not yet find the time to review it and merge it into the main branch. You can, however, already use it on your fork.

[2022-08-12 15:38] sehoon787 opened #1941 "card_width option of top-langs API has problem"
I created my vercel. And I can surely search my private repo as well to use top-langs API with my url.
But I think top-langs API's card_width option for setting 445 has some problem showing only 5 less languages.
When I set "card_width" option as the number bigger than 445 even just 446, then top-langs api prints every languages successfully.

Do you think this line has any problem?

`https://gith

[2022-08-12 19:46] Victor-Palha opened #1943 "problem with "include_all_commits""
Using `include_all_commits=true` on url make no one commits appears, i have to change to `false`. Until yesterday was working normal

[2022-08-13 08:17] rickstaa commented on #1941
@sehoon787 Thanks for your bug report. I checked the cards and cannot reproduce your problem (see examples below). The only design flaw I see is that we allow the width below the title width without using ellipsis for the text overflow. Can you maybe provide me with an example of where this issue occurs?

**Card_width 100**

[![Top Langs](https://github-readme-stats.vercel.app/api/top-langs/?usern

[2022-08-13 08:21] rickstaa opened #1945 "Language card card width should not allow cards smaller than the title"
**Is your feature request related to a problem? Please describe.**

The language card layout breaks when the card_width is set to low

**Card_width 250**

[![Top Langs](https://github-readme-stats.vercel.app/api/top-langs/?username=anuraghazra&card_width=250&langs_count=10)](https://github.com/anuraghazra/github-readme-stats)

[code]

**Card_width 200**

[![Top Langs](https://github-readme-stats.v

[2022-08-13 19:13] sasankaweera123 commented on #1650
If you are able to create pie chart card it will be grate for GitHub organizations

[2022-08-13 19:14] sasankaweera123 commented on #1650
If you are able to create a pie chart card it will be great for GitHub organizations

[2022-08-15 09:39] sehoon787 commented on #1941
I also failed to reproduce this bug again. Because after about 4 hours my successful top-langs API failed to show other language(private repo with Dart) again suddenly. It's hard to explain the routine for this bug. I just leave my successful api and disappeared few hours later. I experienced this but before I use Vercel too. But other API works well and cool.

[2022-08-15 12:59] epsseniyer opened #1947 "Refresshing when updates?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2022-08-15 13:00] epsseniyer commented on #1947
please make

[2022-08-16 01:27] AspectOfJerry commented on #1947
_Please make_ a more precise description of the problem. You managed to get the bug report template but now you have to fill it! That would surely help others better understand the situation.

Thank you.

[2022-08-16 03:55] galexbh opened #1948 "Top Lang custom_title parameter is broken"
Setting the custom_title parameter causes an error in top lang

It used to work perfectly as shown in the following code

`<a href="https://github.com/anuraghazra/github-readme-stats">
<img align="center" src="https://github-readme-stats.vercel.app/api/top-langs/?username=galexbh&bg_color=0D1117&text_color=C9D1D9&hide_border=true&custom_title=💖 Most Used Languages 🐈&hide=VBA&hide_title=false&exclu

[2022-08-16 06:48] rickstaa commented on #1947
@epsseniyer, I agree with @AspectOfJerry. Without giving any information, It's very hard to guess what this issue is about. I suspect it is because you want the card to update in real-time. If that is the case, you can [deploy your own Vercel](https://github.com/anuraghazra/github-readme-stats#deploy-on-your-own-vercel-instance instance and remove the caching code:

https://github.com/anuraghazra/

[2022-08-16 07:45] rickstaa commented on #1941
@sehoon787 Ah, I see. If it's okay with you, I will close this issue now since it is tough for me to reproduce your problem. I think the best thing to do is that when it happens, you build the project locally (see https://github.com/anuraghazra/github-readme-stats/blob/master/CONTRIBUTING.md) and debug it using [vscode](https://code.visualstudio.com/). That way, you can put a breakpoint at the car

[2022-08-16 07:45] #1941 closed

[2022-08-16 07:46] rickstaa commented on #1650
@sasankaweera123 I currently do not have the time to implement this myself. However, since it is one of the [top requested](https://github.com/anuraghazra/github-readme-stats/issues/1935) features, feel free to create a pull request and I will look at it.

[2022-08-16 07:50] rickstaa opened #1950 "Create empty issues check github action"
**Is your feature request related to a problem? Please describe.**

Several people create a bug or feature request while only changing the title (see #1947). This makes it very hard to understand what these issues are about.

**Describe the solution you'd like**

I think we could add a simple GitHub action that closes and re-opens these issues based on whether the user did modify the issues templa

[2022-08-16 07:59] sehoon787 commented on #1941
Ok. I will try it soon. Thanks

[2022-08-17 07:52] panosru opened #1951 "Broken Top Languages Card"
**Describe the bug**
From what I see, only the top languages card is broken, while the URL works, the image card breaks when displayed through githubusercontent domain.

**Expected behaviour**
The card was working fine but now I see that it isn't, it should be displayed properly.

![image](https://user-images.githubusercontent.com/400362/185064492-3c1876cb-c304-44f3-a233-05dbbb9a9001.png)

**Scree

[2022-08-17 21:22] #1851 closed

[2022-08-17 21:54] #1947 closed

[2022-08-18 08:33] rickstaa commented on #673
Re-opened since I think this feature request still is very relevant and greatly improves the codebase.

[2022-08-18 08:35] rickstaa commented on #673
Closed in favor for new issue.

[2022-08-18 08:35] #673 closed

[2022-08-18 08:36] rickstaa opened #1955 "Change CommonJS imports to ES6 imports/exports"
**Is your feature request related to a problem? Please describe.**

Currently, we use the (old) CommonJS modules way of importing and exporting modules:

https://github.com/anuraghazra/github-readme-stats/blob/dd5a41d696c3f6a6ad84253317d1b70bd0e1a66f/src/cards/repo-card.js#L11-L14

https://github.com/anuraghazra/github-readme-stats/blob/dd5a41d696c3f6a6ad84253317d1b70bd0e1a66f/src/cards/repo-card.

[2022-08-18 09:09] qimolin commented on #1945
@rickstaa the commit that implements this issue is merged. Shouldn't this issue be closed?

[2022-08-18 09:13] rickstaa commented on #1945
Your right! Thanks a lot for your contribution. 🎉 It is contributors like you that make this project so great 🚀!

[2022-08-18 09:13] #1945 closed

[2022-08-18 09:34] rickstaa commented on #1886
@anuraghazra I added this in https://github.com/anuraghazra/github-readme-stats/commit/663fbae49acd7daccbf20ccbfd18d0d5a10b1005 and set it to update every week. It gives me an accessible overview of issues I can work on. Feel free to remove it if you don't like it.

[2022-08-18 09:34] #1886 closed

[2022-08-20 07:34] katyasamarskaya opened #1960 "Х"
**Describe the bug**
A clear and concise description of what the bug is.

**Expected behaviour**
A clear and concise description of what you expected to happen.

**Screenshots / Live demo link (paste the github-readme-stats link as markdown image)**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other context about the problem here.

[2022-08-20 07:42] katyasamarskaya opened #1961 "Q"
**Describe the bug**
A clear and concise description of what the bug is.

**Expected behaviour**
A clear and concise description of what you expected to happen.

**Screenshots / Live demo link (paste the github-readme-stats link as markdown image)**
If applicable, add screenshots to help explain your problem.

**Additional context**
Add any other context about the problem here.

[2022-08-20 07:42] #1961 closed

[2022-08-21 00:33] #1960 closed

[2022-08-21 10:06] rsk2 commented on #1955
Hi @rickstaa, I would like to contribute. So if I understand correctly, the above mentioned imports should change to use ES6 syntax as below:

`import I18n from "../common/I18n";`

Also the export would as below:

[code]

[2022-08-22 09:33] rickstaa commented on #1955
@rsk2 First of all, great that you want to become a contributor to the GRS repository. Welcome to the team🚀. You are correct. That is what I had in mind when writing this backlog item. Although we do not enforce it yet, I think it is best to use [airbnb's styleguide](https://github.com/airbnb/javascript#modules). What do you think?

Shall I assign you to this backlog item?

[2022-08-22 11:14] rsk2 commented on #1955
@rickstaa Yes, thanks

[2022-08-22 14:54] thegeek-sys commented on #1471
Got the error on all my cards.
![Screenshot 2022-08-22 at 16-53-55 Editing thegeek-sys_README md at main · thegeek-sys_thegeek-sys](https://user-images.githubusercontent.com/55345633/185952073-f90f4448-622a-4e6d-925a-94e88e6145be.png)
s

[2022-08-22 16:00] rickstaa commented on #1955
Great. 👍🏻  See [CONTRIBUTING.md](https://github.com/anuraghazra/github-readme-stats/blob/master/CONTRIBUTING.md) for tips on how to work on the GRS project. A guide on using the Vscode debugger with Vercel can be found [here](https://github.com/vercel/vercel/issues/2864#issuecomment-963533339).

[2022-08-22 19:04] APN-Pucky opened #1963 "Missing Total Commits depending on hide_border"
[code]
produces:

[![Anurag's GitHub stats](https://github-readme-stats.vercel.app/api?username=APN-Pucky&show_icons=true&include_all_commits=true&theme=buefy&hide_border=true)](https://github.com/anuraghazra/github-readme-stats)

while

[code]
produces

[![Anurag's GitHub stats](https://github-readme-stats.vercel.app/api?username=APN-Pucky&show_icons=true&include_all_commits=true&theme=buefy&hide

[2022-08-23 10:45] rsk2 commented on #1955
@rickstaa, do you want me to change the imports/exports in all files as part of this issue or are there any specific files I need to exclude?

[2022-08-24 05:11] fouad1233 opened #1966 "In language bar languages i used in my organizations don't appear"
**Describe the bug**
In language bar languages i used in my organizations don't appear, just language I used in my repos appear , and it's so important for me to see the languages I used in my organization because I have many teams.
So can you fix that? or do you have any other way to show languages I used in my organizations in my bar.
Thank you.

[2022-08-24 07:27] rickstaa commented on #1955
@rsk2 I planned to change all files since es6 imports/exports are now recommended. So unless the change breaks something, which I don't suspect, no files need to be excluded.

[2022-08-25 09:19] CandidDeer opened #1974 "Would like to help you by becoming maintainer for your project"
Hi there, I'd like to help you clear up the backlog of issues and PRs. If you let me be a maintainer for your project, I'd love to help you out, no strings attached. ✨

[2022-08-25 13:30] gilsonjuniorpro commented on #821
I am facing the same issue and I have at least 52 public repos with different languages

[2022-08-25 16:50] CloudyWhale opened #1977 "[REQUEST] Add catppuccin theme"
**Is your feature request related to a problem? Please describe.**
No, I just want a different colorscheme

**Describe the solution you'd like**
Add a catppuccin theme style based off the catppuccin mocha colorscheme. You can view it <a href="https://github.com/catppuccin/palette/blob/main/png/catppuccin-mocha.png">here</a>

**Describe alternatives you've considered**
A clear and concise descripti

[2022-08-25 17:35] rickstaa commented on #1977
@CloudyWhale Thanks for your feature request. There was a pull request open that implemented this theme (see #1568). It, however, was closed since https://github.com/catppuccin/github-readme-stats was created. Are you okay with using https://github.com/catppuccin/github-readme-stats, or would you like me to reopen that pull request? I can, however, not give a promise it will get merged soon.

[2022-08-25 17:50] rickstaa commented on #1977
#1568 Has been deleted, so it can not be reopened. Feel free to create a new pull request if you, instead of https://github.com/catppuccin/github-readme-stats want this theme in the RGS themes. I will close this issue for now.

[2022-08-25 17:50] #1977 closed

[2022-08-25 18:31] rickstaa commented on #821
@gilsonjuniorpro does https://github.com/anuraghazra/github-readme-stats/discussions/1910 solve your problem?

[2022-08-25 18:45] CloudyWhale commented on #1977
Yes, I am fine using the catppuccin version. I did not know that existed

[2022-08-25 19:00] gilsonjuniorpro commented on #821
unfortunately not @rickstaa my profile keeps should just Kotlin as language, which is weird to me because this code was there for a long time.

https://github-readme-stats.vercel.app/api/top-langs/?username=gilsonjuniorpro&layout=compact&langs_count=5&theme=dark

[2022-08-25 19:08] rickstaa commented on #821
@gilsonjuniorpro Can you let me know what you receive when you use the following query in the [graphql explorer](https://docs.github.com/en/graphql/overview/explorer):

[code]

with the following variables:

[code]

[2022-08-25 19:21] gilsonjuniorpro commented on #821
yeah, sure

`{
  "data": {
    "viewer": {
      "login": "gilsonjuniorpro"
    },
    "user": {
      "repositories": {
        "nodes": [
          {
            "name": "coursera",
            "languages": {
              "edges": [
                {
                  "size": 88624,
                  "node": {
                    "color": "#b07219",
                    "name": "Java"

[2022-08-25 19:26] rickstaa commented on #821
Did you deploy your own Vercel instance as was explained in https://github.com/anuraghazra/github-readme-stats#deploy-on-your-own-vercel-instance and https://github.com/anuraghazra/github-readme-stats/discussions/1770? :thinking: When I try to read your data, I get the following response:

[code]

[2022-08-25 19:40] rickstaa commented on #821
@gilsonjuniorpro I'm not sure what goes wrong. Maybe there are problems with the GraphQL API. I checked your profile, and you have the following non-forked (i.e. we currently don't count forks) public repositories (see https://github.com/gilsonjuniorpro?language=&page=1&q=&sort=&tab=repositories&type=source). The public Vercel instance and GraphQL explorer should at least show `dart`, `Kotlin` and

[2022-08-25 19:42] gilsonjuniorpro commented on #821
Thanks for your help @rickstaa I will keep trying and also contact GitHub support

[2022-08-26 04:00] rsk2 commented on #1955
@rickstaa  I am making changes to all the `*.test.js` files since they also contain CommonJS modules way of importing and exporting. Can you please confirm how to run the tests?

[2022-08-26 09:21] rickstaa commented on #1955
Amazing! The most basic way would be to execute `npm run tests`

https://github.com/anuraghazra/github-readme-stats/blob/579cb7d175d09c4d2c24742a331134e4ed8f027b/package.json#L7

I, however, always use VsCode's https://marketplace.visualstudio.com/items?itemName=hbenl.vscode-test-explorer, https://marketplace.visualstudio.com/items?itemName=kavod-io.vscode-jest-test-adapter and https://marketplace

[2022-08-27 00:12] HaiderSultanArc opened #1981 "Transparent background for the Cards"
**Problem**
Github has multiple themes and it looks really good when cards can blend in. We can set bg_color to match the dark theme but if someone is on a bright theme or some other theme then the card looks different.

**Solution**
Allow no_bg property where the card is transparent. No matter what the theme of Github is for someone, the cards will blend with it.

**Alternatives I tried**
I tried

[2022-08-27 11:49] rickstaa commented on #1981
Duplicate of #1807.

[2022-08-27 11:49] #1981 closed

[2022-08-27 13:16] PrashubhAtri commented on #1950
Hi @rickstaa I would like to take this issue

[2022-08-27 14:42] HaiderSultanArc commented on #1981
Thanks

[2022-08-27 15:05] HaiderSultanArc commented on #1981
We can also add the `bg_color=00000000` property to the card tag to make it transparent.

[2022-08-27 22:49] rickstaa commented on #1950
@PrashubhAtri Great to hear that you want to contribute! I assigned you to the issue.

[2022-08-27 22:54] rickstaa commented on #1807
We can also add the `bg_color=00000000` property to the card tag to make it transparent.

_Originally posted by @HaiderSultanArc in https://github.com/anuraghazra/github-readme-stats/issues/1981#issuecomment-1229209505_

[2022-08-29 08:37] rsk2 commented on #1955
@rickstaa I have made the changes to use ES6 import/export. And I have tested it by running on my local as per the instructions in [CONTRIBUTING.md](https://github.com/anuraghazra/github-readme-stats/blob/master/CONTRIBUTING.md) and it works. However, the tests are failing. I get errors for all the import statements: `Cannot use import statement outside a module`. Examples below:

![image](https:/

[2022-08-29 20:12] rickstaa commented on #1950
@PrashubhAtri, I just remembered that I worked on a similar action for another private repository some time ago. I changed it to be more in line with what we are trying to do here and added some tests and documentation. You can check it out [here](https://github.com/rickstaa/empty-issues-closer-action). Let me know what you think. I think we can directly use the recipe in this repository. Feel fre

[2022-08-29 21:00] APN-Pucky opened #1984 "I can't comment the locked created discussion"
### Discussed in https://github.com/anuraghazra/github-readme-stats/discussions/1968

@rickstaa
I edited my issue/discussion, but it is locked so I can't comment, but only edit my texts:
I realized that this issues might just be due to some caching from Github.

This issue can be deleted/closed, but I wanted to notify you about this for future issues->discussion.

[2022-08-30 06:39] #1984 closed

[2022-08-30 08:42] rickstaa commented on #1955
@rsk2 Ah, I think that is because jest does not yet natively support es modules, and we have the test folder outside of the main module (see https://jestjs.io/docs/ecmascript-modules).

However, I have not encountered this issue since I mostly work with typescript, where [ts-jest](https://www.npmjs.com/package/ts-jest) takes care of this problem. Maybe, let's keep the test on the CommonJs syntax u

[2022-08-30 17:04] rsk2 commented on #1955
@rickstaa even if we do keep the test files on the CommonJS syntax, the test fails when it executes the ES import statements in the file being tested. Here is a screenshot of the error I get when running `utils.test.js`:

![image](https://user-images.githubusercontent.com/45331524/187495932-f2f9a092-f8ff-460f-bd62-2b75057ace6a.png)

Please advise.

[2022-08-30 17:26] AntonyOnScript opened #1986 "missing env variable PAT_1"
**Describe the bug**
look at that below, it was happening on my profile README:
![image](https://user-images.githubusercontent.com/62514607/187503587-a379176d-9cc8-4d53-82bb-d5afe9f715bb.png)

[2022-08-30 17:28] gouravkhunger commented on #1986
Same issue, @anuraghazra I think it's [time to increase tokens](https://github.com/anuraghazra/github-readme-stats/issues/58#issuecomment-728797939) 😄

[2022-08-30 17:33] gouravkhunger commented on #1986
@AntonyOnScript Or you could [deploy the api yourself](https://github.com/anuraghazra/github-readme-stats#deploy-on-your-own-vercel-instance)

[2022-08-30 17:37] MichelZero commented on #1986
Same issue,

[2022-08-30 17:42] Jewgah commented on #1986
same issue over here

[2022-08-30 17:44] RWambui commented on #987
https://github-readme-stats.vercel.app/api/pin/?username=yourusername&amp;

[2022-08-30 17:44] Sam44323 commented on #1986
Yeps, just encountered this same thing 😅 @anuraghazra

[2022-08-30 17:46] augustoaraujoo commented on #1986
i have this error too

[2022-08-30 17:53] Barry-Flynn commented on #1986
`Please add an env variable called PAT_1 with github tocken in vercel.`

Same problem, what is the reason? How to solve it, does anyone know? thanks.

[2022-08-30 18:04] Barry-Flynn commented on #1986
The problem has been resolved, and it has now returned to normal display.

[2022-08-30 18:09] gouravkhunger commented on #1986
Ah yes @Barry-Flynn, I suppose the hourly rate limit from GitHub was reset as it's been time. Still, @anuraghazra I think the number of stored PATs should be increased because the project has grown so much and these rate limit errors would occur more often.

[2022-08-30 19:36] rickstaa commented on #1986
@AntonyOnScript, thanks for letting us know. Closed since this is a duplicate of #1471.

[2022-08-30 19:36] #1986 closed

[2022-08-30 19:41] rickstaa commented on #1471
As mentioned in #1986, the limits are being hit again. To resolve this, the number of PATs needs to be increased.

For people that are experiencing this issue, please consider deploying your own Vercel instance (see https://github.com/anuraghazra/github-readme-stats#deploy-on-your-own-vercel-instance). Doing so would decrease the load on the public server. Thanks in advance 🚀 !

[2022-08-30 19:54] rickstaa commented on #1955
@rsk2 Ah, sorry, I overlooked that problem. 😅 Like I said in typescript all the heavy lifting to make this possible is done by ts-jest. The only solution would be the one explained in https://stackoverflow.com/a/69059786/8135687 and the documentation https://jestjs.io/docs/ecmascript-modules. I'm fine with implementing that solution but maybe first, let's check how @anuraghazra thinks about suppor

[2022-08-30 21:08] noraj commented on #1471
The [@codeSTACKr](https://youtu.be/n6d4KHSKqGk?t=107) video is outdated, the vercel process changed. Same for the image guide from https://github.com/anuraghazra/github-readme-stats#deploy-on-your-own-vercel-instance.

And by the way just forking doesn't work anymore, during vercel deployment you will get this error:

[code]

So one has to edit `vercel.json` before if you plan to use the free tier

[2022-08-30 23:19] jcnmsg commented on #1471
Thanks, that fixed it! I originally got the same error but the project still got created in Vercel. Simply editing the `vercel.json` file in the cloned repository and redeploying wouldn't cut it and it just kept returning **Maximum retries exceeded**. For anyone struggling with this just start over, fork this repository, edit the `vercel.json` file as explained above and then import it into a **ne

[2022-08-31 00:50] Rudxain commented on #1955
@rsk2 can you please open a PR? I want to help, even if it's just a little bit of help (and other user may want to contribute to the PR too)

[2022-08-31 02:36] Rudxain commented on #79
![](https://camo.githubusercontent.com/a73b2eab7473a74368a0c4c5b0523edc43131a951b6260621f45b3c4a6eb0860/68747470733a2f2f66696c65732e636174626f782e6d6f652f7a686f7079652e706e67)

[code]

![example](https://user-images.githubusercontent.com/13077343/154822005-9f197ca4-4edb-4c17-92be-45ab5807d75a.svg)

@filiptronicek , @SukkaW , @RodrigoTomeES  All of these work in Firefox for GNU-Linux-x64 (Debian ba

[2022-08-31 03:21] vali-ceel commented on #378
Why website acereus not work

[2022-08-31 05:00] #378 closed

[2022-08-31 06:44] rickstaa commented on #1955
@Rudxain Thanks for wanting to contribute. I think @rsk2 is already done implementing this feature but runs into https://github.com/anuraghazra/github-readme-stats/issues/1955#issuecomment-1231933253. Do you know a solution other than https://github.com/anuraghazra/github-readme-stats/issues/1955#issuecomment-1232100954 that might work? 🤔 @rsk2, maybe you can update https://github.com/rsk2/github-

[2022-08-31 06:47] rickstaa commented on #1471
@noraj You are correct the video was done before we needed to increase the `maxDuration` parameter. Thanks for elloberating on that point! 👍🏻 However we updated the text guide some time ago to include the `maxDuration` step (see step 6). Do you think the documentation can still be improved?

[2022-08-31 06:53] rickstaa opened #1989 "Implement github action that adds the `rate-limited` label to 1471 automatically when the PATs are failing"
**Describe the solution you'd like**

I think a simple GitHub action that runs periodically to check if the PATs are failing and adds the `rate-limited` label to #1471 if the PATs fall more than a certain number of times in 24 hours would let people know that we are aware of the problem and working on it. We could then update https://github.com/anuraghazra/github-readme-stats/issues/1772 to explai

[2022-08-31 06:56] rickstaa commented on #1471
I will put this test card here to see if the PATs are failing.

[![Anurag's GitHub stats](https://github-readme-stats.vercel.app/api?username=anuraghazra)](https://github.com/anuraghazra/github-readme-stats)

[2022-08-31 06:59] rickstaa commented on #1471
@anuraghazra Maybe you can add the PAT I send you over twitter? Further maybe we can update the README a bit and add a note at the top explaining that the vercel instance sometimes runs into GitHubs query limits and point out that deploying a Vercel instance is the recommended option. Additionally I think @4l1fe is currently implementing a docker container for the GRS script. If that feature is im

[2022-08-31 07:47] Rudxain commented on #1955
Currently, no 😅, but that error message looks very familiar to me. It's the same error msg I would get if I tried to run (in a browser) a script that `import`s a module. I don't have enough experience with Jest, but I guess you're about Jest not supporting ESM (yet)

[2022-08-31 09:09] noraj commented on #1471
Yeah, for example there is no longer an import button on the dashboard but that instead 👍🏻

![image](https://user-images.githubusercontent.com/16578570/187642129-4a26d2a7-bd00-4817-bc37-492d66686c74.png)

old import button

![image](https://user-images.githubusercontent.com/16578570/187641860-44428c2c-5515-48f9-8201-172aee739a6f.png)

this is what you got on new project creation now (looking on yo

[2022-08-31 09:40] 4l1fe commented on #1471
I'm on the way...

[2022-08-31 10:04] rickstaa commented on #1471
Great! 🚀 No hurry the real solution would be to add an extra PAT.

[2022-08-31 10:08] rickstaa opened #1990 "Update Vercel Deploy documentation"
**Describe the bug**
As pointed out by @noraj in https://github.com/anuraghazra/github-readme-stats/issues/1471#issuecomment-1232677597 the guide on deploying your own Vercel instance is no longer up to date.

**Expected behaviour**
We should update the text guide (and video) to prevent confusion.

[2022-08-31 10:10] rickstaa commented on #1471
Thanks for letting us know. I created #1990, so we know the problem and somebody can take it on.

[2022-08-31 15:35] ItsAleph commented on #1471
I needed to edit `vercel.json` and only *replace* PAT with a newly-generated one, then re-deploy. No need to make a new project ;D

[2022-09-01 02:45] codehangen opened #1991 "GitHub Discussions statistics in github-readme-stats"
**Is your feature request related to a problem? Please describe.**
GitHub Discussions statistics in github-readme-stats

**Describe the solution you'd like**
I would like to have a statistical analysis of discussions in which I have participated. This can demonstrate how much I am involved in different types of communities, companies and public and private initiatives. Currently, there is a GitHub

[2022-09-01 07:33] rickstaa commented on #1991
@codehangen Thanks for the feature request. Can you please specify which information about the discussions you want to display and where you want to display them? Is it, for example, the number of answered discussions on the stats card?

[2022-09-01 07:56] rickstaa commented on #1991
@codehangen Sounds like a amazing idea. Unfortunatelly I think with the current GraphQL API implementing this feature is not ideal. It currently requires looping through all the users repositories and discussions which can be very resource intensive (see https://docs.github.com/en/graphql/guides/using-the-graphql-api-for-discussions). I think it is best to show your support on https://github.com/o

[2022-09-02 01:50] royrustdev opened #1994 "Top Languages Card doesn't include my open source contributions"
**Is your feature request related to a problem? Please describe.**

Top languages card doesn't include data from my pull-requests. It simply excludes my contributions in all fork repositories.

**Describe the solution you'd like**

As the name suggests **Top Languages**, it should also include all `forked` repositories and measure accordingly. Therefore inclusion of data from `Pull Requests` are v

[2022-09-02 09:08] rickstaa commented on #1991
@codehangen No problem. I will re-open might GitHub add this object in the future.

[2022-09-03 02:11] mohitsaxenaknoldus commented on #1989
Hey, can I work on this?

[2022-09-03 06:24] rsk2 commented on #1955
@rickstaa @Rudxain I have changed the CommonJS import/export to ES6 imports/exports and updated [https://github.com/rsk2/github-readme-stats/tree/feature/GRS-1955-change-commonjs-imports](https://github.com/rsk2/github-readme-stats/tree/feature/GRS-1955-change-commonjs-imports). The tests are still failing as discussed. Should I create a pull request?

[2022-09-03 08:13] rickstaa commented on #1989
Great I assigned you! Take your time.

[2022-09-03 08:18] Rudxain commented on #1955
From my subjective opinion, I think it's a good idea, but only as "draft". When tests go fine, then it should be switched to a "standard PR"

[2022-09-03 08:30] rsk2 commented on #1955
@Rudxain OK, I have created a draft PR.

[2022-09-03 08:54] Rudxain commented on #1955
@rsk2 Nice!

@rickstaa I remembered something. Is **NodeJS** configured correctly? The problem might not only be Jest, but also Node. It has a flag that must be activated for it to support ESM, it's not "ON/true" by default. I remember trying to run a script using ESM format and got the same error message I was talking about

[2022-09-03 08:57] anuraghazra commented on #1955
As long as tests doesn't fail or doesn't produce false positives I'm fine with it.

[2022-09-05 15:37] RohitSingh107 commented on #1651
Really It's very important to increase languages count as lot of people work with tons of languages way more than limit of 10. I hope language count will increase as soon as possible.

[2022-09-05 18:30] steven-steven commented on #1899
Hi, a new contributor here. I've made a PR that should fix this issue. Appreciate any reviews :)

[2022-09-05 19:13] Mosaab-Emam opened #2000 "Add theme: Vitesse"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
Add a new theme inspired by Vitesse theme by @antfu

![Screenshot from 2022-09-05 21-06-06](https://user-images.githubusercontent.com/26435307/188504115-f1a6da70-d84d-4b76-9d7a-7080613d7973.png)

**Additional context**
[antfu/vscode-theme-vitesse](https://github.com/antfu/vscode-theme-vitess

[2022-09-05 20:33] MrSarno opened #2002 "There’s an Unused Underscore in the Readme"

[2022-09-06 06:50] #2002 closed

[2022-09-06 06:53] rickstaa commented on #2000
@Mosaab-Emam Thanks for your contribution. I will close this for now since we simply track themes by their respective PR.

[2022-09-06 06:53] #2000 closed

[2022-09-06 07:03] RohitSingh107 commented on #1651
Please increase language count to 30 or 50!

[2022-09-06 07:09] mohitsaxenaknoldus commented on #1989
I have a few questions:

1) By 1471, you mean 14:71 (hh:mm) right?
2) Where do we post the comment?
3) Where can I find the PATs?

[2022-09-06 07:09] #1899 closed

[2022-09-06 07:10] rickstaa commented on #1899
@steven-steven First of all, welcome to the community 😄 and thanks for creating this valuable PR. 🚀

[2022-09-06 07:25] rickstaa commented on #1989
@mohitsaxenaknoldus Ah, sorry for being unclear. With 1471 I meant #1471. We use this issue to check if the card throws a `Maximum retries exceeded` error.

This GitHub action I had in mind would periodically check (e.g. every hour) whether the action throws this error and post a comment in #1471 if the error is thrown more than N times in 24 hours. However, thinking more about it 🤔, I now realise

[2022-09-06 07:29] rickstaa commented on #1994
@royrustdevThanks for your feature request!

A PR was recently created to include the results of the fork (see #1803). It was, however, closed due to the current GraphQL implementation. Currently, the GraphQL API does not allow us to fetch language results for individual users. It only returns language results for repositories. As a result, the language card is already not showing the correct stat

[2022-09-06 07:29] #1994 closed

[2022-09-06 08:00] rickstaa commented on #1950
@PrashubhAtri I implemented this in #2004 while adding you as a co-author.

[2022-09-06 08:00] #1950 closed

[2022-09-06 08:01] rickstaa opened #2005 "test"

[2022-09-06 08:01] #2005 closed

[2022-09-07 11:13] xiyan520 opened #2006 "Feel sorry"
Due to my personal mistake, I changed the project file by mistake

[2022-09-07 15:16] rickstaa commented on #2006
@xiyan520 I'm not sure what you mean. Have you changed the project title on your fork? No worries, this does not effect the main branch.

[2022-09-07 15:16] #2006 closed

[2022-09-08 08:00] cosmojg commented on #1977
@rickstaa I'm taking you up on that offer!

[2022-09-11 22:55] seharnaveed273 opened #2016 "Bug"

[2022-09-11 22:55] #2016 closed

[2022-09-12 04:57] jsolly commented on #1807
@rickstaa You are the MAN! This works beautifully!

[2022-09-13 01:46] KimeriTenko commented on #275
Mine stopped updating weeks ago and I've added new repos since

[2022-09-13 09:29] akielaries opened #2018 "Adding forks to lang stats"
I had gone down quite the rabbit hole from these here #505 and here #1108 trying to figure out how to add my forks to my language stats card on my profile. I ended up editing some existing javascript code specifically top-languages-fetcher.js and top-langs.js but wasn't able to get anything working that would show my forked repo's in the stats card. What is the proper way to implement a small feat

[2022-09-14 18:40] ethanaobrien opened #2025 "Feature Request ( / question). Organization stars."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

I recently transferred a big project I had into a new organization I just made, to keep my repositories more organized. When I did so the stats card on my profile dropped by hundreds of stars (because the repository was transferred to my o

[2022-09-15 10:52] rickstaa commented on #2025
@ethanaobrien Thanks for your question. I think https://github.com/anuraghazra/github-readme-stats/discussions/1808 will answer it. Feel free to re-open this issue if it does not.

[2022-09-15 10:52] #2025 closed

[2022-09-15 10:56] rickstaa commented on #2018
@akielaries Thanks for your feature request. This feature request has been requested multiple times in the past. Unfortunately, the current version of GraphQL API doesn't allow us to implement this feature stably. For an explanation on why this is the case, see my comment in https://github.com/anuraghazra/github-readme-stats/pull/1122#issuecomment-1152066225.

If you don't care about language accu

[2022-09-15 10:57] #2018 closed

[2022-09-15 11:00] rickstaa commented on #275
@KimeriTenko Thanks for your comment. Please be aware that we are using a 4-hour cache time before results show up (see https://github.com/anuraghazra/github-readme-stats#gradient-in-bg_color). I checked your cards but the results look up to date:

[2022-09-15 16:34] klieret opened #2026 "Hide border option influences commit count"
## Description

Hide border option influences total  commit count

## Live

![Anurag's GitHub stats](https://github-readme-stats.vercel.app/api?username=klieret&hide_border=true&show_icons=true&count_private=true&include_all_commits=true)

![Anurag's GitHub stats](https://github-readme-stats.vercel.app/api?username=klieret&hide_border=false&show_icons=true&count_private=true&include_all_commits=tr

[2022-09-15 20:36] HwangTaehyun opened #2027 "Open-source for GitHub contributor stats (https://github.com/HwangTaehyun/github-contributor-stats)"
**Is your feature request related to a problem? Please describe.**

* It would be nice to have a card showing GitHub contributor stats so that we can show at a glance which open-sources we are interested in.

![Taehyun's GitHub Contributor stats](https://github-contributor-stats.vercel.app/api?username=HwangTaehyun&hide=B)

**Describe the solution you'd like**

* I make the open-source for GitHub

[2022-09-16 00:07] akielaries commented on #2018
Thank you for the answer and pointing me to the right place!

[2022-09-16 09:07] rickstaa commented on #2027
@HwangTaehyun Thanks for bringing your project to our attention, and great to see that you did your project in TS. 🚀 Would be great to migrate `github-readme-stats` over to typescript in the future.

I like your idea and think it is within the scope of the `github-readme-stats` repository. I would love to add it to the `github-readme-stats` repository if you are interested. Nevertheless, I have to

[2022-09-16 09:13] rickstaa commented on #2026
@klieret Thanks for your bug report. I can not think of how the `hide_border` option can break the card:

https://github.com/anuraghazra/github-readme-stats/blob/3b0f1b11a01e32c4f254861f66a28c14df70c890/src/Card.js#L121

I have heard reports from others (i.e. #1963 and #1968), but those were related to caching or syntax errors. Can you maybe provide me with the syntax you're using for generating t

[2022-09-16 10:47] rsk2 commented on #1955
Hey @rickstaa, I tried to implement the solution that is provided in https://stackoverflow.com/a/69059786/8135687, however I am still getting some errors.

[2022-09-16 10:50] #1170 closed

[2022-09-16 10:57] rickstaa commented on #1768
@anuraghazra Sorry to bother you, but can you please add versioning to this repository? This will make maintaining it a lot easier. I sadly don't have the permissions to do so.

[2022-09-16 13:52] rickstaa commented on #1955
@rsk2 Thanks for letting me know. I just tried fixing these errors myself (see https://github.com/anuraghazra/github-readme-stats/tree/change_to_es_imports), but I keep getting the following errors:

[code]
![image](https://user-images.githubusercontent.com/17570430/190654993-cadc0330-e1e7-4055-9a94-a1621354c771.png)

This is strange since these queries are exported when I inspect the `@test-libra

[2022-09-16 14:20] rickstaa commented on #1955
I managed to do this in an example repository https://github.com/rickstaa/es6-jest-example. So now the only thing left is where https://github.com/anuraghazra/github-readme-stats/tree/change_to_es_imports differs from this example repo.

[2022-09-16 14:37] rickstaa commented on #1955
@rsk2 Okay, I fixed those errors and found the right combination of dependencies (see https://github.com/anuraghazra/github-readme-stats/tree/change_to_es_imports). Two small jest errors still have to be fixed and the code has to be cleaned up.

[2022-09-16 14:59] rsk2 commented on #1955
I was getting the same

[2022-09-16 15:02] rickstaa commented on #1955
@rsk2 I managed to fix all ES6-related errors. 🎉 I will fix 2 unrelated issues and clean up the code a bit. I will create a PR on your branch when I'm done 👍🏻.

[2022-09-16 15:48] HwangTaehyun commented on #2027
@rickstaa Oh, I'm delighted to hear that! Thanks for your attention to this work and I'm looking forward to hearing from you and @anuraghazra!

[2022-09-16 16:05] klieret commented on #2026
Thank you for your quick reply! I'm also quite puzzled. My only hypothesis that there might be some parsing error, perhaps due to wrong syntax on my side that causes some other options to be triggered...

The syntax should be included above (it's live markdown), but let me quickly copy it:

[code]

are the three cards.

[2022-09-17 08:19] rickstaa commented on #1955
@rsk2 I just created https://github.com/rsk2/github-readme-stats/pull/1 to fix the errors you're having. Feel free to merge it and make a PR to https://github.com/anuraghazra/github-readme-stats.

[2022-09-17 09:35] rickstaa commented on #2026
@klieret Ah, sorry, I thought all were screenshots. I checked your syntax and it is correct 👍🏻.

**Hide border**

[code]

![Anurag's GitHub stats](https://github-readme-stats.vercel.app/api?username=klieret&hide_border=true&show_icons=true&count_private=true&include_all_commits=true)

**Explicitly show border**

[code]

![Anurag's GitHub stats](https://github-readme-stats.vercel.app/api?username=k

[2022-09-17 09:35] #2026 closed

[2022-09-17 09:43] rickstaa opened #2030 "Add option defaults to README."
**Is your feature request related to a problem? Please describe.**

Currently, we do not list the option defaults in the readme.

**Describe the solution you'd like**

I think adding the option defaults will improve the documentation. Maybe something like:

[code]

[2022-09-17 09:53] rickstaa opened #2032 "Improve function docstrings"
**Is your feature request related to a problem? Please describe.**

Several docstrings in the codebase are either incomplete or non-existing. The following docstring for example, does not contain a description:

https://github.com/anuraghazra/github-readme-stats/blob/eacc3cd29cecde23d488023ff8dc2326bc69c25d/src/common/utils.js#L7-L28

and could therefore be improved to

[code]

while others like

[2022-09-17 11:33] rickstaa commented on #1169
I implemented the `use_bold` option to change the boldness. @AnishDe12020 is this what you had in mind, or did you want to change the font?

[2022-09-17 11:42] #1902 closed

[2022-09-18 08:57] rsk2 commented on #1955
Thank you @rickstaa, I have merged it. The original PR has been updated with your commit and I have also resolved merge conflicts.

[2022-09-18 10:24] rickstaa commented on #1955
@rsk2 Great! Feel free to request a review when your ready.

[2022-09-18 11:06] rsk2 commented on #1955
@rickstaa , yes I think I have already done that.

[2022-09-19 16:08] RafaelSolVargas commented on #1471
Hi, how was it requested in https://github.com/anuraghazra/github-readme-stats/issues/1772 I'm just here to say that the Vercel limit was reached here in the last hour, more precisely between 12:00-13:00 in Brazil (GMT-3)

[2022-09-20 06:53] rickstaa commented on #1471
@RafaelSolVargas Thanks for letting us know. 👍🏻 We will add another PAT if this happens more frequently. If you want, you can deploy your own Vercel instance (see https://github.com/anuraghazra/github-readme-stats#deploy-on-your-own-vercel-instance) to prevent this from happening.

[2022-09-20 06:55] rickstaa commented on #1955
No problem I just requested a review myself in #1995 so that I don't forget.

[2022-09-20 14:58] ctcpip commented on #1471
limit is being reached currently.  I am aware of the guide on deploying an instance, but just letting you know.

[2022-09-20 16:47] rickstaa commented on #1471
@ctcpip Thanks for the heads up! We are working on it 👍🏻.

[2022-09-21 17:39] Taiizor opened #2037 "'include_all_commits' doesn't work properly with 'count_private'."
**Describe the bug**
The commit count does not work correctly at all times.

**Expected behaviour**
Correct operation of total commit count at all times (including hidden commits).

**Screenshots / Live demo link (paste the github-readme-stats link as markdown image)**
[![image](https://user-images.githubusercontent.com/41683699/191572091-e29908c0-7bfc-4cca-bbd7-a63dfca1c3c4.png)](https://github-r

[2022-09-21 23:56] akielaries commented on #2037
Having the same issue with mine. Here is what my stats card looks like with include_all_commits=false vs include_all_commits=true

![include_all_commits-false](https://user-images.githubusercontent.com/56521583/191629964-c4d08e4c-fcd6-4632-a727-fd4dc4122803.png)
![include_all_commits-true](https://user-images.githubusercontent.com/56521583/191629965-c8040669-e921-4b94-9d9c-f22b21a9bf48.png)

[2022-09-22 07:37] rickstaa commented on #1650
If someone wants to tackle this, https://github.com/d3/d3-shape#pies is a good package that can be used for creating pie charts. An example can be found [here](https://github.com/vn7n24fzkq/github-profile-summary-cards/blob/b67d461cd1a7f5472c4beedfcd1a821a944c64e7/src/templates/donut-chart-card.ts#L6).

[2022-09-22 07:39] rickstaa commented on #1471
We added an extra PAT. The issue should be fixed for now.

[2022-09-22 08:21] Taiizor commented on #2037
It's working as it should now.

[2022-09-22 08:45] akielaries commented on #2037
am still getting some errors with mine unfortunately

[2022-09-24 08:35] rickstaa commented on #1955
Implemented by @rsk2 in 107f7ca52c3431bf989e7c3624ad130e98cb4f5a.

[2022-09-24 08:35] #1955 closed

[2022-09-24 10:15] 1998code opened #2047 "This Serverless Function has crashed."
<img width="486" alt="CleanShot 2022-09-24 at 18 15 34@2x" src="https://user-images.githubusercontent.com/54872601/192092623-654e3099-2755-4d98-ae0f-2208d8577e1e.png">

[2022-09-24 10:20] ImKunYoung opened #2048 "github-readme-stats.vercel.app does not works"
## **✔️ Describe the bug**
github-readme-stats.vercel.app does not works

---

**- 📸 ScreenShot - Code**
![image](https://user-images.githubusercontent.com/46955032/192092764-a67f0f82-06a6-4d49-b241-90253b64343e.png)

**- 📸 ScreenShot - result**
![image](https://user-images.githubusercontent.com/46955032/192092751-7d543b14-2963-4a6d-a3f0-afa2996b4c7f.png)

---

**- 📋 MarkDown Code**
[code]

**- 📋

[2022-09-24 10:34] schmittsfn commented on #2047
Here the error logs:
[code]

[2022-09-24 10:36] schmittsfn commented on #2048
Here the error logs:
[code]

[2022-09-24 10:44] Dominik48N opened #2049 "Server is crashed"
## The GitHub README server is down and therefore unavailable.

![image](https://user-images.githubusercontent.com/46966988/192093682-3dae7483-7a72-460d-8a33-6e65420e8c51.png)

[2022-09-24 10:46] ayeshag7 commented on #1406
Hi, I've also been experiencing this same issue. But for me, it is not just my GitHub Stats Card that is broken. I can't see anyone else's GitHub Stats Card, either.

Also, my Top Language Stats Card is not working. It seems like all the links from my profile to Vercel Api are broken.

I must add that this problem started after I opened a new issue on a repository,

I can't see anyone's stats card

[2022-09-24 10:47] asiryan commented on #2049
me too

[2022-09-24 10:52] schmittsfn commented on #2047
Caused by this commit: https://github.com/anuraghazra/github-readme-stats/commit/107f7ca52c3431bf989e7c3624ad130e98cb4f5a

[2022-09-24 10:55] Amaroke commented on #2049
Same problem here.

[2022-09-24 10:56] schmittsfn commented on #2048
Possibly caused by changes in this commit: https://github.com/anuraghazra/github-readme-stats/commit/107f7ca52c3431bf989e7c3624ad130e98cb4f5a

Maybe Vercel cannot interpret more modern js syntax?

<img width="1393" alt="Screenshot 2022-09-24 at 12 53 43" src="https://user-images.githubusercontent.com/1940017/192094023-55395027-7fc9-4062-b21a-d65a0e7debc5.png">

[2022-09-24 10:56] akielaries commented on #2049
Experiencing the same.

[2022-09-24 10:57] rickstaa commented on #2047
@schmittsfn Thanks for letting me know. I think it is indeed caused by https://github.com/anuraghazra/github-readme-stats/commit/107f7ca52c3431bf989e7c3624ad130e98cb4f5a. I will spend some minutes debugging it and otherwise revert #1995.

[2022-09-24 10:57] rickstaa commented on #2048
@schmittsfn Thanks for letting me know. I think https://github.com/anuraghazra/github-readme-stats/commit/107f7ca52c3431bf989e7c3624ad130e98cb4f5a indeed causes it. I will spend some minutes debugging it and otherwise revert #1995.

[2022-09-24 11:00] rickstaa commented on #2049
Thanks for letting me know it is caused by the last PR I will try to fix it or revert the PR.

[2022-09-24 11:01] rickstaa commented on #2049
Found the error. I will push a fix in a mintue.

[2022-09-24 11:03] XdpCS commented on #2049
me too

[2022-09-24 11:17] Amaroke commented on #2049
The fix works! Thanks!

[2022-09-24 11:22] schmittsfn commented on #2048
@rickstaa Thank you for looking into this 🙏
I saw that the default vercel instance seems to have stopped throwing `500`s. Was there a config that needed changing on Vercel? (I'm asking because there is no commit yet on this repo)

[2022-09-24 11:23] schmittsfn commented on #2048
Oh there is a commit now. Lag on my side

[2022-09-24 11:25] Dominik48N commented on #2049
It works. Thank you!

[2022-09-24 11:25] #2049 closed

[2022-09-24 11:31] schmittsfn commented on #2048
Never mind, saw your commit. Thank you for the fix

[2022-09-24 11:32] #2048 closed

[2022-09-24 11:36] #2047 closed

[2022-09-24 11:36] rickstaa commented on #1768
As pointed out by @anuraghazra in one of our conversations, it looks like APIs, unlike libraries can't have that kind of versioning which is unfortunate. The commits are the versions.

[2022-09-24 11:36] #1768 closed

[2022-09-24 11:38] rickstaa commented on #1406
@ayeshag7 Is your issue fixed? I made some mistakes in the last commit (see https://github.com/anuraghazra/github-readme-stats/issues/2048). Should be fixed now.

[2022-09-24 14:08] rickstaa commented on #2037
@Taiizor and @akielaries, I checked the codebase, and I think both `count_private` and `include_all_commits` parameters are correctly implemented.

https://github.com/anuraghazra/github-readme-stats/blob/9a909ff0a41a6abba34b008ce57744d7cb2cd220/src/fetchers/stats-fetcher.js#L155-L163

I, therefore, think the error is caused by incorrect data returned from GitHub's [REST API](https://docs.github.co

[2022-09-24 14:10] rickstaa commented on #1515
@nasw1j, I checked the codebase, and I think both `count_private` and `include_all_commits` parameters are correctly implemented.

https://github.com/anuraghazra/github-readme-stats/blob/9a909ff0a41a6abba34b008ce57744d7cb2cd220/src/fetchers/stats-fetcher.js#L155-L163

I, therefore, think the error is caused by incorrect data returned from GitHub's [REST API](https://docs.github.com/en/rest) and [G

[2022-09-24 14:11] rickstaa commented on #1234
Duplicate of #1515.

[2022-09-24 14:11] #1234 closed

[2022-09-24 14:11] rickstaa commented on #2037
Duplicate of #1515.

[2022-09-24 14:11] #2037 closed

[2022-09-24 14:13] rickstaa commented on #518
Duplicate of #1515. Lets track this issue there.

[2022-09-24 14:13] #518 closed

[2022-09-24 14:14] rickstaa commented on #1061
Duplicate of #1515. Let's track this issue there.

[2022-09-24 14:14] #1061 closed

[2022-09-24 14:29] rickstaa commented on #1515
I quickly checked #1691 created by [Rongronggg9](https://github.com/Rongronggg9) and think merging to his pull request will significantly improve the commit accuracy. I, however, did not have time to do a thorough review 😅.

Nevertheless, still, one problem persists with #1691 merged. It will show a commit count of `0` when the [GitHub Rest API](https://docs.github.com/en/rest) fails. Maybe, in th

[2022-09-24 18:37] Rongronggg9 commented on #1515
I see. I will find some time to take a look at it.

[2022-09-24 19:04] rickstaa commented on #1515
@Rongronggg9 No pressure your PR looks very promising, take your time! 🚀

[2022-09-24 19:14] vpadman1 commented on #1393
I changed on my fork to 10 as vercel doesn't allow values greater than 10.

[2022-09-25 09:20] rickstaa commented on #1447
Duplicate of #1515.

[2022-09-25 09:20] #1447 closed

[2022-09-25 09:21] rickstaa commented on #1550
It should be fixed. Please comment if the error re-appears.

[2022-09-25 09:21] #1550 closed

[2022-09-25 09:22] rickstaa commented on #1454
Duplicate of #1515.

[2022-09-25 09:22] #1454 closed

[2022-09-25 09:48] rickstaa commented on #1180
@Lucadecastro Thanks for creating this issue. I think the problems you are experiencing are because:
- You are comparing the number of **commits** with the **contributions** (see https://github.com/anuraghazra/github-readme-stats/discussions/1679).
- The fact that we use a 4-hour cache and thus results are not immediately updated (see https://github.com/anuraghazra/github-readme-stats#gradient-in-

[2022-09-25 09:48] #1180 closed

[2022-09-25 09:52] rickstaa commented on #905
@EthanHannen Thanks for your feature request. This feature request has been requested multiple times in the past. Unfortunately, the current version of GraphQL API doesn't allow us to implement this feature in a stable way. For an explanation on why this is the case, see my comment in https://github.com/anuraghazra/github-readme-stats/pull/1122#issuecomment-1152066225.

If you don't care about lan

[2022-09-25 09:52] #905 closed

[2022-09-25 10:02] rickstaa opened #2052 "Migrate codebase to Typescript"
**Is your feature request related to a problem? Please describe.**

We currently use javascript + [type definitions](https://github.com/anuraghazra/github-readme-stats/blob/master/src/fetchers/types.d.ts).

**Describe the solution you'd like**

I think migrating the project to typescript will greatly improve the development experience since it allows us to catch errors earlier.

[2022-09-25 10:07] rickstaa opened #2053 "Migrate to automatic README translation"
**Is your feature request related to a problem? Please describe.**

Keeping the documentation up to date and managing the PRs would be more manageable if we switched from manual to automatic README translations (see https://github.com/dephraiim/translate-readme). The downside is that there might be some errors, but this shouldn't matter for understanding how to use GRS. Google has become quite goo

[2022-09-25 14:55] Jagrutiti commented on #2032
Hey @rickstaa

I would like to work on this one.

[2022-09-25 15:00] Jagrutiti commented on #2032
Could you tell me all the files that would need this update?

[2022-09-25 15:58] rickstaa commented on #2032
@Jagrutiti, first of all, welcome to the GRS community 🚀. Great that you want to help improve the codebase. This improvement request regarded all files in the `src` folder. I, however, understand that that might be a bit too much. Feel free to create a PR for as many as you want to take on 😄:+1:.

[2022-09-25 16:47] Sxvxgee opened #2055 "Changing color of the "ring"/circle around the rank"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to change the color of the circle surrounding the ranking, I couldn't find a way to do it without themes

**Describe the solution you'd like**
I guess make it possible just like when changing the background color and such

**Describe alternatives you've considered**
Themes, but meh

**Additional context**
[![Rea

[2022-09-25 17:31] vaishnav-mandlik commented on #275
GitHub Stats as it is since added in README

[2022-09-25 17:34] rickstaa commented on #2055
@Sxvxgee, thanks for your feature request. We currently do not support changing the rank circle. You can create a PR to add this feature. The relevant code can be found here;

https://github.com/anuraghazra/github-readme-stats/blob/fe1ca87e33cfbfd75b058fe52bfe7c3e15e2c8c4/src/getStyles.js#L96

If there is enough interest, we might merge it in the future.

[2022-09-26 01:39] ayeshag7 commented on #1406
Yes, my problem is fixed now. Thanks.

[2022-09-26 15:10] FelipeFama commented on #1093
Eu também estou com o mesmo erro que foi publicado acima.

[2022-09-28 07:22] DecryptAG commented on #1990
Hey, I would like to work on this issue. Pls assign me this.

[2022-09-28 07:23] rickstaa commented on #1990
@DecryptAG Great 🚀! Thanks a lot. I assigned you to this issue. Let me know if you need any help. Take your time! 👍🏻

[2022-09-28 16:05] rainofsilence opened #2071 "Theme can sync with system"
**Is your feature request related to a problem? Please describe.**
I wanted to change the light and dark theme based on the system settings, but I can't do it now

**Describe the solution you'd like**
I think the theme can change automatically like the system configuration, or depending on the time of day

**Describe alternatives you've considered**
I think can also come up with a theme without a

[2022-09-30 11:19] vj-codes commented on #2032
@rickstaa hey this issue seems to be inactive by the assigned person, can I create a PR for the ones I found? Thanks in advance!

[2022-10-01 07:33] Pranav2612000 commented on #2055
@Sxvxgee do you plan to work on this? Or can I pick it up?

[2022-10-01 07:35] Pranav2612000 commented on #2053
Hey @rickstaa
I would like to work on this one. Is it fine?

[2022-10-01 07:37] Sxvxgee commented on #2055
Been busy lately so I guess you can work on it instead

[2022-10-01 09:23] rickstaa commented on #2053
@Pranav2612000 First of all, welcome to the commuExcellent! Amazing that you want to help us improve the maintainability of the repository. I am unsure how hard it is to implement this feature and whether https://github.com/dephraiim/translate-readme serves our needs. The implementation found in translate-readme is quite basic (see https://github.com/dephraiim/translate-readme/blob/main/index.js).

[2022-10-01 09:25] rickstaa commented on #2053
If you want, you can run some initial tests to see how good the https://github.com/dephraiim/translate-readme is and whether it is sufficient. Feel free to tag me if you need any help or have questions about the implementation 👍🏻.

[2022-10-01 09:38] Guri-X commented on #2052
Hi @rickstaa,

I would like to work on this issue if that's okay with you as part of hacktoberfest.

[2022-10-01 09:48] rickstaa commented on #2052
@Guri-X First of all, welcome to the community! 🚀 Amazing that you decided to choose to improve GRS as part of [https://hacktoberfest.com](https://hacktoberfest.com/). Both me and, to my knowledge also, @anuraghazra are big fans of typescript, so having this repository in typescript would be amazing! I assigned you to the issue.Feel free to tag me if you have any questions.

[2022-10-01 09:56] rickstaa commented on #2052
Let me know if the hacktoberfest proposal is accepted. Other candidates would be https://github.com/anuraghazra/github-readme-stats/issues/1761 or https://github.com/anuraghazra/github-readme-stats/issues/2053. For the last one, you could ask to team up with @Pranav2612000.

[2022-10-01 10:02] rickstaa commented on #2053
@Pranav2612000 Looks like the https://github.com/dephraiim/translate-readme does not yet support `HTML` it could therefore be that it does not suit our need (see https://github.com/dephraiim/translate-readme/issues/1). In that case, we might need to improve this action or build our own action. This would likely require us to add some regex to filter out the HTML and code blocks and put them back i

[2022-10-01 10:16] Guri-X commented on #2052
Thanks @rickstaa for the references. I'll update here as soon as I made some progress.

[2022-10-01 10:22] rickstaa commented on #2071
Duplicate of https://github.com/anuraghazra/github-readme-stats/issues/1001.

[2022-10-01 10:22] #2071 closed

[2022-10-01 10:22] HwangTaehyun commented on #2052
@Guri-X @rickstaa Can I participate too? I also really like typescript and I am very interested in it!

[2022-10-01 10:27] rickstaa commented on #1001
Related to:
- #1645
- #1182
- #897
- #777
- #739
- #1036
- #689
- #414
- #79
- #693
- #1415
- #690
- #1880
- #1684
- #1920

People are now advised to use [this trick](https://github.com/anuraghazra/github-readme-stats/discussions/1415#discussioncomment-2152317).

[2022-10-01 10:32] Guri-X commented on #2052
Of course @HwangTaehyun, everyone is welcomed to join. I'm currently a beginnery when it comes to typescript so I think i'll get to learn a lot from you.

[2022-10-01 10:34] rickstaa commented on #1001
Things that need to be done to close this issue:
- [ ] Merge one of the following transparent themes:
    - #1824, #1785, #1088, #1010.
- [ ] Document this theme in the README.
- [ ] Document auto theme change code in README (see https://github.com/anuraghazra/github-readme-stats/discussions/1684).

[2022-10-01 11:48] anuraghazra commented on #2052
Let's TypeScript this bad boy.

[2022-10-01 11:58] rickstaa opened #2074 "Document auto theme change in README"
**Is your feature request related to a problem? Please describe.**

As explained in #690, it is not yet possible to switch the theme automatically on the Vercel instance. Nevertheless, there are multiple ways to get the card to switch themes on the client side. The methods for doing this (i.e. `transparent background`, `#gh-dark-mode-only` and `source media`) need to be explained in the README so

[2022-10-01 12:57] rickstaa commented on #2052
The typescript master has spoken! Let's do this 🚀.

@Guri-X, @HwangTaehyun please check https://github.com/anuraghazra/github-readme-stats/discussions/2076 for GRS-related information about this year's Hacktoberfest. I just signed up as a maintainer and read the guidelines. For your contributions to count as a valid Hacktoberfest PR, you need to both create separate PRs. Therefore, I think it is b

[2022-10-01 13:00] rickstaa commented on #2052
@HwangTaehyun, I know you migrated part of the code to typescript in https://github.com/HwangTaehyun/github-contributor-stats. Maybe you can set up the initial typescript template and add the types you already have after which you can divide the remaining files?

[2022-10-01 13:01] rickstaa commented on #2052
Happy hacking! 🚀

[2022-10-01 13:07] rainofsilence commented on #2071
Thank you

[2022-10-01 13:08] HwangTaehyun commented on #2052
@rickstaa That's a good idea! I will set up initial typescript settings for this project and divide the remaining files with @Guri-X.

[2022-10-01 13:14] rickstaa commented on #2052
Great. If you want, you can join the [GRS-hacktoberfest discord](https://discord.gg/rvGq5b3B7J) if you want an easier way to discuss.

[2022-10-01 13:36] asifurrahaman754 commented on #2030
hi, is this sovled, i would like to work on this

[2022-10-01 13:37] rickstaa opened #2077 ":hammer_and_wrench: Hacktoberfest 2022 - Guidelines"
Please check [this discussion post](https://github.com/anuraghazra/github-readme-stats/discussions/2076) for this year's Hacktoberfest guidelines.

[2022-10-01 13:37] Pranav2612000 commented on #2053
Yeah. Took a look at https://github.com/dephraiim/translate-readme and I agree we'll need to modify this a bit. I'll see if I can come up with something so that we don't translate the query params and only translate the non-code text.

[2022-10-01 13:40] asifurrahaman754 commented on #1053
Hi is this sovled?

[2022-10-01 13:41] asifurrahaman754 commented on #764
Hi, can i work on this? @rickstaa

[2022-10-01 13:53] Guri-X commented on #2052
That's a good idea @rickstaa. Thanks for suggesting this.

[2022-10-01 13:58] asifurrahaman754 commented on #2074
Hi, i would like work on this

[2022-10-01 17:36] thevinitgupta commented on #1866
I would like to work on this

[2022-10-01 19:36] adi-uchiha commented on #1649
I want to work on this. Can i go ahead ?

[2022-10-01 19:45] adi-uchiha commented on #1053
hey there, I want to work on this.
@rickstaa  Can you please assist me

[2022-10-01 19:48] adi-uchiha commented on #2030
I want to fix this. any changes to #2051 ?

[2022-10-01 20:00] rickstaa commented on #1649
@adi-uchiha, that would be great. 🚀 I assigned you to this issue. If you want this issue to count for your Hacktoberfest submission, please state it in your PR so I can tag it correctly. 👍🏻

[2022-10-02 09:56] rickstaa commented on #1001
I just included a default transparent theme which has a contrast ratio of more than 4.5 in both black and white. We will only include this transparent theme for now. If you want to make your own transparent theme, you can set the `bg_color` to `ffffff00`.

https://github-readme-stats.vercel.app/api?username=anuraghazra&title_color=006AFF&icon_color=0579C3&text_color=417E87&bg_color=ffffff00&show_i

[2022-10-02 09:57] rickstaa commented on #2074
@asifurrahaman754 Great that you want to take this on! I think it will help many people if this feature is clearly documented. I assigned you to this issue. 🚀

[2022-10-02 09:58] rickstaa commented on #2074
I just added one default `transparent` theme you can mention.

https://github-readme-stats.vercel.app/api?username=anuraghazra&title_color=006AFF&icon_color=0579C3&text_color=417E87&bg_color=ffffff00&show_icons=true

[code]

[![Anurag's GitHub stats](https://github-readme-stats.vercel.app/api?username=anuraghazra&theme=transparent&show_icons=true)](https://github.com/anuraghazra/github-readme-stat

[2022-10-02 10:34] arndom commented on #1650
Hey, I would like to work on this, please assign it to me

[2022-10-02 10:54] Ayushi96 commented on #2030
Hey @rickstaa, could you please assign this issue to me ?

[2022-10-02 11:06] rickstaa commented on #2053
@Pranav2612000 I did some research, and the paid google translate API does handle HTML code (see https://cloud.google.com/translate/docs/advanced/translating-text-v3). However, it does not filter markdown code blocks and will likely translate code in those blocks. These blocks, therefore, have to be filtered and injected using regex. Further, google will charge $10 per million characters after the

[2022-10-02 11:09] rickstaa commented on #1866
Great! I assigned you to this issue 🚀.

[2022-10-02 11:10] rickstaa commented on #1807
This feature was implemented in 406dbc5656ea8e12ff224967cd7ebacc5f0d8729.

[2022-10-02 11:10] #1807 closed

[2022-10-02 11:11] rickstaa commented on #1650
Great! I assigned you to the issue! 🚀

[2022-10-02 11:23] rickstaa commented on #2053
Still, feel free to try to tackle this if you think it can be done in the time you had set for implementing this feature. 🤔 I think both versions (paid and free) would require some parsing to ensure that markdown code blocks and HTML code are still valid. I did not search yet, but there might be some packages that can already provide this ability.

[2022-10-02 11:24] rickstaa commented on #764
@asifurrahaman754 Be my guest 🚀.

[2022-10-02 11:25] rickstaa commented on #1053
@adi-uchiha This is still an issue. It would be great if this behaviour is improved. 💪🏻 I assigned you to this issue since I already assigned @asifurrahaman754 to several issues. Feel free to contact me if you have any questions.

[2022-10-02 12:07] rickstaa commented on #2030
@Ayushi96, @adi-uchiha and @asifurrahaman754, @Jagrutiti already fixed several sections from the readme in https://github.com/anuraghazra/github-readme-stats/pull/2051. The only sections that still need to be done are:
- https://github.com/anuraghazra/github-readme-stats#repo-card-exclusive-options
- https://github.com/anuraghazra/github-readme-stats#language-card-exclusive-options
- https://githu

[2022-10-02 12:17] rickstaa commented on #1659
Implemented in #2065 and #2067.

[2022-10-02 12:17] #1659 closed

[2022-10-02 12:54] anuraghazra commented on #2052
Pro tip:

Rely on tests while migrating. But also make sure vercel deployment is working. via [vercel CLI](https://vercel.com/docs/cli)

[2022-10-02 13:11] anuraghazra commented on #2027
The name kind of is misleading tho.

is it actually "top" or "latest"?
It looks the most latest organizations I've contributed to.

[2022-10-02 13:13] thevinitgupta commented on #1866
Thanks @rickstaa

[2022-10-02 15:30] asifurrahaman754 commented on #764
@rickstaa sorry to say but I won't be available for quite some time for some personal reason. I think u should assign this to some other folk.

[2022-10-02 15:36] rickstaa commented on #764
No problem good luck!

[2022-10-02 16:10] sasankaweera123 commented on #1650
This Solution is great:  [Summary Cards](https://github.com/vn7n24fzkq/github-profile-summary-cards)

[2022-10-02 16:14] rickstaa commented on #1650
@sasankaweera123 Good one! [Summary Cards](https://github.com/vn7n24fzkq/github-profile-summary-cards) is a good code example of how this feature can be added to GRS.

[2022-10-02 16:18] Ayushi96 commented on #2030
Thanks for assigning me the issue @rickstaa

[2022-10-02 19:32] prathikshetty2002 commented on #2077
I can work on this , can prepare markdown file with details on contributing to hacktoberfest and guidelines. just let me know where to append

[2022-10-02 20:37] codingmickey commented on #2032
Is this issue worked upon or does it need any help?

[2022-10-02 21:01] arndom commented on #1650
@rickstaa is the goal to have it appear exactly as the image in the issue description?

[2022-10-02 21:21] arsondog opened #2095 "Request For New Feature"
**Feature Request!**

I think you should add a description box as part of the read me! It would be a great way to contribute back to the people using it and plus it would also make the readme much cooler!

[2022-10-02 21:23] arsondog commented on #2095
P.S. By description box I mean like a custom user description, **NOT the repository description.**

[2022-10-02 21:26] rickstaa commented on #2077
@prathikshetty2002 Sorry for the confusion. This is not an issue that needs to be worked on. I opened this issue to point to the GRS Hacktoberfest guidelines (see https://github.com/anuraghazra/github-readme-stats/discussions/2076).

[2022-10-02 21:34] rickstaa commented on #1650
@arndom O no, that was a simple example draft @HPaulson made in https://github.com/anuraghazra/github-readme-stats/discussions/945. I just copied it here to explain the idea. I think the pie chart should be an option on the current language card (i.e. `pie_chart=true`). It should therefore be as close as possible to the current card.

![image](https://user-images.githubusercontent.com/17570430/193

[2022-10-02 21:44] arndom commented on #1650
oh ok, almost done, remains the position of langs...ended up using the same pkg as summary cards
<img width="226" alt="image" src="https://user-images.githubusercontent.com/40564798/193477593-d14aede4-ce47-4717-9bb4-cef8ebd64068.png">

[2022-10-02 21:47] rickstaa commented on #1650
Great. It could also be implemented like the `hide_rank` option in the stats card where the card is the same, but the pie chart is added.

[code]

[![Anurag's GitHub stats](https://github-readme-stats.vercel.app/api?username=anuraghazra&show_icons=true)](https://github.com/anuraghazra/github-readme-stats)

[code]

[![Anurag's GitHub stats](https://github-readme-stats.vercel.app/api?username=anurag

[2022-10-03 05:00] MatteoPierro commented on #1852
Hi @rickstaa, is it ok if I work on this for the stats card?

[2022-10-03 05:44] prathikshetty2002 commented on #2077
ok no problem👍

[2022-10-03 06:16] rickstaa commented on #2095
@arsondog, I'm not sure what you mean. Can you elaborate? A description of which user?

[2022-10-03 06:36] rickstaa commented on #2027
I agree with @anuraghazra. [Based on your code](https://github.com/HwangTaehyun/github-contributor-stats/blob/3b72a77c85c12ca4ddadef46662fe2965baf13c6/src/fetchContributorStats.ts#L34-L51) you are currently showing the latest contributions. A card I could see within the GRS family would one that would show your top contributions to other repositories. Meaning the repositories to which you made the

[2022-10-03 06:38] vzsky commented on #764
If no one is currently assign, I can work on this one.

[2022-10-03 06:40] rickstaa commented on #764
Of course! 🚀

[2022-10-03 07:03] sangeethkc opened #2097 "Can we do auto card_width?"
It's frustrating when the card width is not auto adjusting for profile page. I have 3 cards the needs to auto align to center but i am having to give the card_width = 200 each to get the cards to align manually on profile page.

It would be great to have a feature to align cards to center by giving align = "center" and card_width=auto.

[2022-10-03 07:33] HwangTaehyun commented on #2027
I intended to show all contributor stats with ranking order and some customized hide settings. I refer to your link and test it. However, maybe there are some problems when showing all contributions because GitHub told me that they offer only within 3-5 years contributions for graphql API when I asked.

[2022-10-03 07:38] rickstaa commented on #2030
@Ayushi96, I merged your contribution to the master. Thanks!

@adi-uchiha Something went wrong while also trying to merge your PR to the master (see https://github.com/anuraghazra/github-readme-stats/pull/2092#issuecomment-1265049367). Please create a new PR with the default values that were not yet done by @Ayushi96, and I will include it as a Hacktoberfest contribution.

[2022-10-03 08:05] rickstaa commented on #2032
@Jagrutiti and @vj-codes can you please specify if you are still working on this issue and which files you are planning to tackle? Thanks in advance! 😄

[2022-10-03 08:07] HwangTaehyun commented on #2027
I want to know what the meaning of top contribution. Repo that i contributed by many PRs or Top stars repo though i contributed only once.
Currently, I intended to show latter repos!

[2022-10-03 08:07] rickstaa commented on #1760
@coderboy-exe Are you still working on this issue, or can others take it on for their Hacktoberfest?

[2022-10-03 08:26] rickstaa commented on #2027
@HwangTaehyun Ah, good point! I now understand your intentions with the card and why there is a score behind the repo. 😄 The card I had in mind would check all the repositories a user has contributed to, filter them according to the number of PR and list them from the most PR to the least. This way, a user can show in which repositories he is a frequent contributor.

[2022-10-03 08:48] rickstaa commented on #1852
@MatteoPierro of course! That would be amazing. An example of how this can be done using [pagination](https://graphql.org/learn/pagination/) can be found [here](https://github.com/anuraghazra/github-readme-stats/pull/1178#discussion_r973574655). I think for the stats card, to be resource efficient, I think we can stop the pagination when the GraphQL API does not return repositories that have any s

[2022-10-03 08:59] rickstaa commented on #2097
@sangeethkc Great idea. Not sure if it can be done on the server side, though, as GitHub will re-upload the cards and serve them from their CDNs. I, therefore, suspect the only way to do this is on the client side through HTML and CSS. You can, however, give me a try if you want.

[2022-10-03 09:24] MatteoPierro commented on #1852
@rickstaa here it's my PR https://github.com/anuraghazra/github-readme-stats/pull/2100

[2022-10-03 09:48] rickstaa commented on #1651
@RohitSingh107, @Santanu29 not sure how we can increase the `langs_count` above 10 without making the card look very bulky. I would therefore prefer to keep it on 10 since I think it will suit most people's needs. People that still want to show more languages can easily achieve this by forking the repository, changing the following code

https://github.com/anuraghazra/github-readme-stats/blob/112e

[2022-10-03 09:54] rickstaa commented on #1651
With the compact layout, it still looks reasonable:

![image](https://user-images.githubusercontent.com/17570430/193549693-d021c679-0be5-487f-b21b-5a8eb26a1d38.png)

The non-compact layout is problematic

[2022-10-03 10:08] RohitSingh107 commented on #1651
How you got this? Please tell

[2022-10-03 10:19] rickstaa commented on #1651
Like I stated above:

I hope that helps!

[2022-10-03 10:30] arnu515 commented on #1761
Hello @rickstaa I would like to work on this as part of hacktoberfest.

I know React and Svelte and TailwindCSS. I can use typescript with this too.

Please assign me this issue

[2022-10-03 10:32] Jagrutiti commented on #2032
Hey @rickstaa

I have added a PR of the files I have worked on.

[2022-10-03 10:53] lostgirljourney commented on #2052
@rickstaa @HwangTaehyun @Guri-X... I'm a beginner in typescript and would love to contribute, any leads for this?

[2022-10-03 11:07] rickstaa commented on #2032
Pro-tip for people taking this issue on, [GitHub's co-pilot](https://docs.github.com/en/copilot/getting-started-with-github-copilot/getting-started-with-github-copilot-in-visual-studio-code) will make adding function docstrings very easy:

https://user-images.githubusercontent.com/17570430/193562723-003a2f7a-f0dd-4c51-a47a-2da23111a7b1.mp4

[2022-10-03 11:11] rickstaa commented on #1761
@arnu515, thank you very much for offering to take on this issue! 🚀 I think your contribution will be very significant. I assigned you to the issue. I know that @anuraghazra already did some work on this, so maybe he can share what he did so you can use it as a starting point. My preference would go to a website implemented in typescript using React.

[2022-10-03 11:18] rickstaa commented on #2052
@lostgirljourney Thank you for considering helping with this issue! 🔥🚀 Since this conversion is quite a big task, I allowed both @HwangTaehyun and @Guri-X to work on it. I assigned @HwangTaehyun as the team leader for this issue. If @HwangTaehyun thinks an extra pair of hands is useful, he can assign you some files to convert. 👍🏻 The important thing is that I receive three separate PRs, one from e

[2022-10-03 11:22] Jagrutiti commented on #2032
This is a great tip @rickstaa. I did it manually in Visual Studio. This looks easier

[2022-10-03 11:23] rickstaa commented on #2032
It's an amazing tool it will most of the time auto-complete the code I need to write. Looks like we are getting replaced soon 😆.

[2022-10-03 11:32] arnu515 commented on #1761
Should I implement it from scratch or wait for @anuraghazra to reply.

Ill use React+Vite with typescript and TailwindCSS. Let me know if you want me to use NextJS instead.

-------- Original Message --------
On 3 Oct 2022, 16:41, Rick Staa wrote:

[2022-10-03 11:40] rickstaa commented on #1761
I'm familiar with all those frameworks, so looks good to me. Since I know that @anuraghazra has been working on this in the past I however think it is best to wait for his reply. It could be that he already finished this issue but had no time to push the changes to the master.

[2022-10-03 12:02] HwangTaehyun commented on #2052
@lostgirljourney Welcome to join us! join the discode channel! I applied typescript and webpack settings and dividing some files to migrate. I think three passionate people would be great!

[2022-10-03 15:56] rickstaa commented on #1651
Maybe we can allow up to `20` when the layout is `compact` and up to `10` when the layout is `default`?

![image](https://user-images.githubusercontent.com/17570430/193622663-55445108-83a3-410f-b307-4f185f9503e0.png)

![image](https://user-images.githubusercontent.com/17570430/193622717-0b07bd3f-a635-44c5-aeb8-75beaa65e901.png)

[2022-10-03 16:02] cjdomacena commented on #2052
@rickstaa @lostgirljourney @HwangTaehyun @Guri-X I'm quite new to typescript if you have available spots I would like to contribute

[2022-10-03 16:04] RohitSingh107 commented on #1651
I haven't said it should be enabled by default, I just said there should a option if anyone want it despite that bulky look.

[2022-10-03 16:12] rickstaa commented on #2074
Given your comment in https://github.com/anuraghazra/github-readme-stats/issues/764#issuecomment-1264670133 I was wondering if you still want to be assigned to this issue?

[2022-10-03 16:18] rickstaa commented on #2052
@cjdomacena Great that you want to contribute to GRS! I will leave the decision to @HwangTaehyun, but unfortunately, I think three people are enough to complete this task.

We seem to be a popular repository to contribute to during Hacktoberfest, so, unfortunately, most Hacktoberfest issues are already in progress (see https://github.com/anuraghazra/github-readme-stats/issues?q=is%3Aopen+is%3Aissu

[2022-10-03 16:32] DecryptAG commented on #1990
@rickstaa I have made the PR regarding this issue. Pls merge it using under the hacktoberfest tag.

[2022-10-03 16:40] rickstaa commented on #1651
I was aware of that. I meant that we can increase the max to `20` for the compact layout and keep it at `10` for the default layout. This way, our cards look clean by default (see https://github.com/anuraghazra/github-readme-stats#language-card-exclusive-options for more information about these layouts). Users that really want bigger cards still have the option to fork the repository and change th

[2022-10-03 17:57] asifurrahaman754 commented on #2074
Oh, yes i forgot to tell u, u can assigned this to someone

[2022-10-03 19:45] rickstaa commented on #2074
No problem. Thanks for letting me know. 👍🏻

[2022-10-03 20:00] cjdomacena commented on #2052
@rickstaa Sure no worries. I would like to take #1774 if its okay

[2022-10-03 22:23] arsondog commented on #2095
For example, it's like a textbox but it's for the description and it has the themes that the statistics have. I think it would make the user profiles much more unique. However, I understand as its not statistics, it probably wouldn't be added but it would be a cool feature if it is implemented.

[2022-10-04 06:04] RedHeadphone commented on #1548
Hey I would like to implement this

I will have to modify this function right ?
 https://github.com/anuraghazra/github-readme-stats/blob/master/src/cards/top-languages-card.js#L205

[2022-10-04 06:58] #2030 closed

[2022-10-04 07:17] CallMeEchoCodes commented on #2052
hey @rickstaa! just wanted to ask if i could help with this issue as a part of hacktoberfest.

[2022-10-04 07:19] rickstaa commented on #2052
@CallMeEchoCodes Great that you want to contribute to GRS. I will leave that decision to @HwangTaehyun (see [my previous comment](https://github.com/anuraghazra/github-readme-stats/issues/2052#issuecomment-1265706637)).

[2022-10-04 07:33] rickstaa commented on #2030
@Ayushi96 and @adi-uchiha, thanks again for your contribution! 🔥 🚀

[2022-10-04 07:34] rickstaa commented on #1990
@DecryptAG Amazing. Thanks again for your conribution. I merged it as a hacktoberfest submission under the master!

[2022-10-04 07:34] rickstaa commented on #1990
Solved by 388ba06a8fb3880cae8734498c8564bb70a99e7c.

[2022-10-04 07:34] #1990 closed

[2022-10-04 07:37] rickstaa commented on #2095
@arsondog thanks for elloberating. If I understand you correctly, you want a card that displays something like this.

![image](https://user-images.githubusercontent.com/17570430/193761775-44a08367-34d9-4f8c-a503-601d8020748e.png)

A photo and a text?

[2022-10-04 07:38] rickstaa commented on #2095
Does https://github.com/rocktimsaikia/github-card suit your need? A handful of projects do just that (see https://github.com/topics/profile-card).

[2022-10-04 08:00] #1774 closed

[2022-10-04 08:05] rickstaa commented on #1548
@RedHeadphone Great that you found an issue you can work on for this year's Hacktoberfest! 🎉 You are correct. If we want to sum up the remaining languages, we should change the filter function and return an "other" object.

[2022-10-04 08:08] rickstaa commented on #2074
For people taking this on, I think you can add a `Responsive Theme` section under the https://github.com/anuraghazra/github-readme-stats#themes section.

[2022-10-04 08:09] rickstaa commented on #2052
@CallMeEchoCodes and @cjdomacena #2074 just became available again as a Hacktoberfest submission.

[2022-10-04 09:18] lostgirljourney commented on #2052
@HwangTaehyun hi, sorry for the late reply, had some work. Can I get a brief on what just happened?

[2022-10-04 09:49] rickstaa commented on #2052
@lostgirljourney No problem, we are nearly finished with the first migration (see https://github.com/anuraghazra/github-readme-stats/pull/2108). After that @HwangTaehyun will divide the files between the three of you. We are discussing this in [GRS-hacktoberfest discord](https://discord.gg/rvGq5b3B7J).

[2022-10-04 11:08] MatteoPierro commented on #1852
@rickstaa Can I work on fixing the `fetch all repos for top languages` part as well? I see there is already a PR but it looks stale.

[2022-10-04 11:13] rickstaa commented on #1852
@MatteoPierro, yea no problem. The pull request was created a long time ago, and I just reviewed it last week. The best thing to do is to work on this pull request so that @tc-imba gets co-authored. I think that pull requests should also be good if the syntax and tests are improved (see https://github.com/anuraghazra/github-readme-stats/pull/1178#discussion_r973574655).

[2022-10-04 11:20] MatteoPierro commented on #1852
ok. how can I work on @tc-imba PR in co-authored mode?

[2022-10-04 11:37] shivam1646 commented on #2032
Hey @rickstaa can I work on this for the remaining files?

[2022-10-04 11:43] rickstaa commented on #2032
Yea, of course. Great! I assigned you. Just create a pull request for the files you want to do.

[2022-10-04 11:47] rickstaa commented on #1852
The easiest way is to let git handle the co-authoring. This can be done as follows:
1. Add @tc-imba's branch as a remote `git remote add tcimba git@github.com:tc-imba/github-readme-stats.git`.
2. Fetch all new branches from the remotes `git fetch -all`.
3. Checkout @tc-imba's master branch `git checkout tcimba/master`.
4. Create a new branch based on @tc-imba's master branch `git checkout -b name_

[2022-10-04 12:01] MatteoPierro commented on #1852
Alright, probably I made it. https://github.com/anuraghazra/github-readme-stats/pull/2111

[2022-10-04 12:04] rickstaa commented on #2052
@cjdomacena great! Can you maybe comment on #1774 so that I can assign you?

[2022-10-04 12:12] rickstaa commented on #2097
Closing this for now. Feel free to re-open if you think it is possible.

[2022-10-04 12:12] #2097 closed

[2022-10-04 12:27] rickstaa commented on #2074
For this issue, I was looking for the following:
- [ ] Add Responsive Card Theme section under themes.
- [ ] Explain why we can not change the theme on the server side (see https://github.com/anuraghazra/github-readme-stats/issues/79#issuecomment-663706819).
- [ ] Quickly give the four methods people can use to create dynamics themes on the client side.
    - [ ] Simplest one: Use the `transparent

[2022-10-04 12:27] wb-ts opened #2113 "There is an issue"
[https://prnt.sc/NRmsgWA6CDPK](url)

[2022-10-04 12:31] kachkaev commented on #2113
Same here: https://github.com/kachkaev

<img width="1306" alt="Screenshot 2022-10-04 at 13 30 42" src="https://user-images.githubusercontent.com/608862/193819853-82b36e5a-2917-4336-b86a-f8edbd4fa0d0.png">

Code:

[code]

[2022-10-04 12:32] rickstaa commented on #2113
Thanks for letting us know. It is related to https://github.com/anuraghazra/github-readme-stats/issues/1471. I will send @anuraghazra a new PAT token.

[2022-10-04 12:32] #2113 closed

[2022-10-04 12:42] sriramgroot opened #2114 "Maximum retries exceeded"
**Describe the bug**
Iam trying to create a github readme statistics, but its throwing a error as **"Something went wrong!"**

**Expected behaviour**
It should be properly showing my github statistics without any issues

**Screenshots / Live demo link (paste the github-readme-stats link as markdown image)**
<img width="860" alt="Screenshot 2022-10-04 at 6 09 08 PM" src="https://user-images.githubu

[2022-10-04 12:47] rickstaa commented on #2114
Thanks for letting us know. It is related to https://github.com/anuraghazra/github-readme-stats/issues/1471. We are aware of the issue.

[2022-10-04 12:51] sriramgroot commented on #2114
Thanks for the reply @rickstaa. once it is fixed please let us know.

[2022-10-04 12:51] lostgirljourney commented on #2074
I want to get assigned to this.

[2022-10-04 12:59] kachkaev commented on #2113
Thanks @rickstaa! It works again 🎉

[2022-10-04 13:03] Aatmaj-Zephyr commented on #2114
Also commits are showing lesser than the prev values...

[2022-10-04 13:37] rickstaa commented on #1989
@mohitsaxenakno I added an E2E test GitHub action last week (see https://github.com/anuraghazra/github-readme-stats/blob/master/.github/workflows/e2e-test.yml) and now think that implementing the action in #1989 is possible. The E2E test will call the server and fail if the card that is returned is not equal to the local card. We can, however, use this same mechanism to test whether the card that

[2022-10-04 13:47] jdevers1 opened #2115 "include private repo stats"
include most used languages in private repos, if possible.

[2022-10-04 14:07] rickstaa commented on #2115
@jdevers1 Please checkout https://github.com/anuraghazra/github-readme-stats/discussions/814.

[2022-10-04 14:07] #2115 closed

[2022-10-04 14:07] rickstaa commented on #2114
This should be fixed.

[2022-10-04 15:27] rym-oualha commented on #2032
Is there still any help wanted ?

[2022-10-04 16:26] docimin commented on #2114
Same!

[2022-10-04 16:55] emjose commented on #2114
Same, as of 12:55 PM EDT.

[2022-10-04 16:59] veD-tnayrB commented on #2114
Same here!

[2022-10-04 17:01] JT122406 commented on #2114
yup

[2022-10-04 17:03] rickstaa commented on #2114
Your right. I think @anuraghazra still needs to update the PATs. I will let him close this issue when the issue is fixed.

[2022-10-04 17:04] JacobMGEvans commented on #1471
Its back lol

[2022-10-04 17:06] kaviranga commented on #2114
I have get the same issue !

Maximum retries exceeded !

[2022-10-04 17:09] rickstaa commented on #2032
@rym-oualha Thanks for wanting to contribute to this repository. I already assigned @shivam1646, so it is best to wait till he creates a new pull request or states which files he is tackling.

[2022-10-04 17:30] HarshalCODE commented on #2114
Same Issue !

[2022-10-04 17:33] breftejk commented on #1471
It's not really.

[2022-10-04 17:34] rickstaa commented on #1471
@anuraghazra, I think we should also increase the retry number in the retry function.

https://github.com/anuraghazra/github-readme-stats/blob/94d0978d2bf7c5324513ac924cb42afe1e7774cc/src/common/retryer.js#L13

see https://github.com/anuraghazra/github-readme-stats/pull/2121.

[2022-10-04 17:36] rickstaa commented on #2114
We are working on it progress can be followed in #1471.

[2022-10-04 18:32] JacobMGEvans commented on #1471
The BUG is back... I should be more clear lol

[2022-10-04 19:55] rickstaa commented on #1989
@mohitsaxenaknoldus I just thought of a better way. I plan to add a `status/up` Vercel cloud function that will return `true` if the PATs are still functioning and `false` if they are not. I think we can call this function a simple bash action and create an issue if the PATs are failing. I am done with this function already but still have to complete the tests (see https://github.com/anuraghazra/g

[2022-10-04 20:00] wilfredgicharu opened #2123 "Maximum retries r"
**just seen the "maximimum retrieves reached" error on my readme github profile**

[2022-10-04 20:01] rickstaa commented on #2123
Related to #2114.

[2022-10-04 20:01] #2123 closed

[2022-10-04 20:49] palomarizzon commented on #1093
@FelipeFama vc pode recordar o código, salvar e depois colar novamente.

[2022-10-04 21:17] anic4cio commented on #1093
Basta apagar o conteúdo do README, faz um commit e depois reverte o commit com o comando git revert <commit hash>.
Vc pegar o hash do commit com o comando git log

[2022-10-04 22:36] cjdomacena commented on #2052
@rickstaa The issue seemed to be locked. It won't let me comment

[2022-10-04 22:39] rickstaa commented on #2052
@cjdomacena O, sorry I meant https://github.com/anuraghazra/github-readme-stats/issues/2074.

[2022-10-04 22:53] cjdomacena commented on #2074
I would like to contribute to this issue

[2022-10-04 23:00] rickstaa commented on #2114
Should be fixed for now.

[2022-10-04 23:00] #2114 closed

[2022-10-05 06:57] thevinitgupta commented on #1866
I am not able to install vercel to test.
Is there any other way than mentioned in the Contributing.md file?

[2022-10-05 07:31] dangolbeeker commented on #1772
Same issue here.

[2022-10-05 08:07] rickstaa commented on #1866
@thevinitgupta What error are you getting? The `npm i -g vercel` command should work. Please note that I broke the test yesterday to prevent our PATs from emptying. You can commit using the `--no-verify` flag.

[2022-10-05 08:13] rickstaa commented on #1772
The following syntax seems to work. The `&tsdsfs=sdfdsf` is there to break the cache.
[code]

![Anurag's GitHub stats](https://github-readme-stats.vercel.app/api?username=dangolbeeker&tsdsfs=sdfdsf&hide=contribs,prs)

[2022-10-05 08:43] rickstaa commented on #2074
@cjdomacena Unfortunately, I already assigned @lostgirljourney to this issue some hours ago. 😅

[2022-10-05 09:07] dangolbeeker commented on #1772
It came back to life on it's own.

[2022-10-05 09:14] abhi1693 commented on #1772
@rickstaa I checked with GitHub team and it's not working for me because I have too much data to fetch in a single go. My amount of commits alone is beyond what normal user has. So, it's safe to assume that this app won't work for me until some sort of smart mechanism is applied for such edge cases.

[2022-10-05 11:00] CaedenPH opened #2128 "Ability to change `Total commits` human formatting"
**Is your feature request related to a problem? Please describe.**
The ability to change the `total commits` rounding system. For example, if you have `1978` commits, it is automatically humanly formatted to `1.9k`

**Describe the solution you'd like**
This feature should be in the form of an argument, for example, it could be a boolean; `format_commits=false` results in `1978`, or it could be in

[2022-10-05 11:07] shivam1646 commented on #2032
Hey @rickstaa , I've created a PR of the files that I worked on.

[2022-10-05 11:34] brundabharadwaj opened #2130 "Card throws maximum retries exceeded error"
**Describe the bug**
Unable to add top languages used to my profile

**Expected behaviour**
Display most used languages on my profile

**Screenshots / Live demo link (paste the github-readme-stats link as markdown image)**
![image](https://user-images.githubusercontent.com/49773125/194050569-619c3be7-fbac-4a09-b046-44f02ecc2bbd.png)

**Additional context**
Tried accessing the provided URL to my pr

[2022-10-05 12:26] LuizFernandoDeveloper opened #2131 "error"
my readme : https://github.com/LuizFernandoDeveloper/LuizFernandoDeveloper
![LuizFernandoDeveloper_README md at main · LuizFernandoDeveloper_LuizFernandoDeveloper - Google Chrome 05_10_2022 09_24_10](https://user-images.githubusercontent.com/104641055/194059894-9b3881e7-e511-40c6-8f4e-1ef9e888cd6c.png)

[2022-10-05 13:04] thevinitgupta commented on #1866
Actually after running the above command, I am still getting
[code]

[2022-10-05 13:06] GorlikItsMe commented on #2131
Duplicate: https://github.com/anuraghazra/github-readme-stats/issues/2130

[2022-10-05 13:13] Rajdave69 commented on #2130
same here.

[2022-10-05 14:03] SSSDNSY commented on #2130
+1

[2022-10-05 14:30] devpla commented on #2130
Same here

[2022-10-05 16:24] anic4cio commented on #2130
[How to deploy your own Vercel GitHub Status instance, step-by-step.](https://github.com/anuraghazra/github-readme-stats#deploy-on-your-own-vercel-instance)

[2022-10-05 16:29] willster277 commented on #2130
I get that we're all developers, but I don't think deploying our own clone of this app is really a solution.
If the app has a critical bug, it has a critical bug, that will only be fixed by code/deployment changes.

If [your favorite API service] went down, all hell would break loose if they said to their users "deploy it yourself".

[2022-10-05 16:31] CaedenPH opened #2132 "Pre-commit when contributing"
**Describe the bug**
When committing minor changes, the `pre-commit` completely fails and blows up. How am I supposed to get around this?

**Expected behavior**
The ability to commit

**Screenshots / Live demo link (paste the github-readme-stats link as markdown image)**
[code]

**Additional context**

[2022-10-05 16:39] Jacobkyalo opened #2133 "[error] github stats error"
please am getting an error in my GitHub stats card,  need some help
![error](https://user-images.githubusercontent.com/94710630/194114686-803f4392-729f-4c71-81d6-70c00aca213b.png)

[2022-10-05 16:59] rickstaa commented on #2132
@CaedenPH thanks for your question. This is because I had to quickly apply aae83cb22e64e48b3b0546b719bb25c328c31aa3 because the PATs were failing (see #1471). I will fix this later since I'm away from my computer. For now you can run the commit with the `--no-verify` flag.

[2022-10-05 17:02] #2131 closed

[2022-10-05 17:10] rickstaa commented on #2095
Closing this for now. Feel free to elaborate and I will reopen this issue. 👍🏻

[2022-10-05 17:10] #2095 closed

[2022-10-05 17:10] duberlyguarnizofuentesrivera commented on #2133
This is noted in issue #1772 (first comment). The only thing you can do is wait.

[2022-10-05 17:17] rickstaa commented on #2133
Duplicate of #2130.

[2022-10-05 17:17] #2133 closed

[2022-10-05 17:18] CaedenPH commented on #2132
I see, thanks

[2022-10-05 17:18] #2132 closed

[2022-10-05 17:21] duberlyguarnizofuentesrivera commented on #2130
It's not really a bug. Vercel instances cost money. Donating to maintainers so they can afford more instances is the real solution here. This has been discussed a lot before. This is a service provided for free to the users, but sadly it's not free to maintain. Meanwhile, we can only wait. If your stats are critical for your repo, it's a good idea to deploy it yourself. Never depend critical funct

[2022-10-05 17:22] CaedenPH opened #2135 "Not showing correct number of commits"
**Describe the bug**
The github stats is not showing the correct number of commits.

**Expected behaviour**
A clear and concise description of what you expected to happen.

**Screenshots / Live demo link (paste the github-readme-stats link as markdown image)**
![image](https://user-images.githubusercontent.com/23421705/194122237-8f611b54-0d0d-4095-997b-222b2962a0b8.png)

Here is the url; https://g

[2022-10-05 17:56] rickstaa commented on #2130
@willster277 I fully understand your frustration. This issue, however, is mostly outside our control as it is caused by the popularity of this project. 😅  We use the GraphQL API for fetching the data, but this API is rate limited at 5000 points per hour (see https://www.google.com/url?sa=t&source=web&rct=j&url=https://docs.github.com/en/graphql/overview/resource-limitations%23:~:text%3DThe%2520Gra

[2022-10-05 18:14] Gchism94 commented on #2114
Same problem with `theme=dark` parameter.

[2022-10-05 18:23] rickstaa commented on #2114
I think that problem is mainly caused by the fact that we cache the cards to reduce server load. You can break this behavior by adding a random query parameter `&random=&randomss524272`. In the future, I will probably create a PR to change this behavior for the case that the cards fails to fetch data.

[2022-10-05 18:33] seilorjunior commented on #1471
the bug is back to me

[2022-10-05 18:38] Gchism94 commented on #2114
That worked, but I notably had to add `&random=&randomss524272` before `&theme=dark`. Thanks!

[2022-10-05 21:07] CaedenPH commented on #2135
Some reason its fixed now 🙃

[2022-10-05 21:07] #2135 closed

[2022-10-05 21:45] FelipeFama commented on #1093
@palomarizzon conseguir resolver.

[2022-10-05 22:15] FelipeFama commented on #2130
Check out this link, it helped me:
https://www.youtube.com/watch?v=n6d4KHSKqGk&t=107s

[2022-10-06 01:43] jameslee214 opened #2139 "Why diffrence Contributions total commits"
**Describe the bug**
The Total Contribution count value is different from the Total commit count value.

**Expected behaviour**
It also included the private_count and include_all_commit properties. However, the Total Commit is reduced. Why is that?

**Screenshots / Live demo link (paste the github-readme-stats link as markdown image)**

<p align="center">
  <img src="http://github-readme-streak-st

[2022-10-06 04:03] brundabharadwaj commented on #2130
Hi Thanks for sharing the details, during deployment in Vercel facing an issue which gives an error popup stating the value of max duration is between 1 and 10 seconds and in order to increase please upgrade the plan. Can't it be done with the free version? or am I missing out something? . @anuraghazra @FelipeFama

[2022-10-06 04:36] brundabharadwaj opened #2141 "Each Repository Statistics that could be added in the ReadMe.ms of the repository"
**Is your feature request related to a problem? Please describe.**
it's not related to any of the problem.

**Describe the solution you'd like**
Statistics should be addable in each repo. On Adding Repo viewers could see the repo stats that includes details like numbers commits for that particular repo, total number of contributors, languages used, PR accepted till date and other relevant details

[2022-10-06 06:25] rickstaa commented on #2135
@CaedenPH Thanks for your questions. This is a know issue (see #1515). It will be fixed by merging #1691.

[2022-10-06 07:33] Brich40 opened #2143 "API https://tiny.one/readme-stats Error"
Hello,

An error is displayed after calling the api to get stats.

Error : Something went wrong! file an issue at https://tiny.one/readme-stats
Maximum retries exceeded Please add an env variable called PAT_1 with your github token in vercel.

Thanks for your work.

[2022-10-06 07:44] rickstaa commented on #2143
Related to #2130.

[2022-10-06 07:44] #2143 closed

[2022-10-06 09:14] shivam1646 commented on #2032
#2129

[2022-10-06 12:35] LucasLuisBorges commented on #1093
Arrumei só tirando as letras maiúsculas do username: de LucasLuisBorges => lucasluisborges

[2022-10-06 13:53] VianaSamuel opened #2144 "Lost my top languages stats after moving repositories to a organization"
Hey there.
Recently I've created a organization and moved some repositories of mine there.
I noticed that my top languages stats was changed by that, some languages were gone.
There's something I can do to undo this?
If I move the repositories from the organization to my profile again, will the stats come back again?

[2022-10-06 14:12] krish4uu commented on #1471
I'm also getting maximum retries exceeded!
![Screen Shot 2022-10-06 at 10 11 59 AM](https://user-images.githubusercontent.com/66221402/194335709-64f4d649-6068-43d8-83d1-2bf349fdb7b1.png)

[2022-10-06 14:14] jesusalberto18 opened #2145 "Readme-stats asks for an env variable."
Hello @anuraghazra,
I've been having this problem the entire week, it seemed like it already worked out but today it launched this error again.

![IMG_20221006_100325.jpg](https://user-images.githubusercontent.com/105027465/194335582-84d19790-97c1-470e-9f0a-a73044734aba.jpg)

It asks for an env variable that I don't know anything about. Any idea of how I can solve it?
Thanks!

[2022-10-06 14:17] RaheemAmer commented on #2145
Same here

[2022-10-06 14:25] jesusalberto18 commented on #2145
Yes, @RaheemAmer. I checked my profile now and it's working out again.

![IMG_20221006_102425.jpg](https://user-images.githubusercontent.com/105027465/194338876-6c6d07bb-f3a3-479a-b124-fb686ebf4b0f.jpg)

I will update if that problem occurs again.

[2022-10-06 14:53] #2145 closed

[2022-10-06 14:54] rickstaa commented on #2145
Duplicate of #2130.

[2022-10-06 18:27] yash251 opened #2149 "[BUG] - add an env variable called PAT_1 with your github token in vercel"
**Describe the bug**
Getting
[code]

**Expected behaviour**
Need to show my stats

[2022-10-06 18:28] NevilleMthw commented on #2149
Can confirm, just saw this error on my profile as well.

[2022-10-06 18:47] yash251 commented on #2149
Thanks for that @NevilleMthw

[2022-10-06 19:43] anuraghazra commented on #1761
@arnu515 I would say hold onto this one.

Here's what I've been building, but didn't got time to progress further.
https://twitter.com/anuraghazru/status/1432065428746956803

The reason I'm saying to hold because

- As you can see the card preview updates are happening very dynamically with every keypress
- And to make it this much interactive you cannot just refetch it every time, you need to act

[2022-10-06 19:53] rickstaa commented on #2149
Duplicate of #2130.

[2022-10-06 19:53] #2149 closed

[2022-10-06 20:11] anuraghazra commented on #2130
Hey everyone, sorry for the recent downtimes.

For the sake of transparency, we get a huge amount of requests per month (it's kind of mind boggling for a side project which I built just for fun). Here's the vercel dashboard statistics:

![image](https://user-images.githubusercontent.com/35374649/194407743-9af65825-483a-49af-9e16-cac3a5ea5a50.png)

As you can see even with 73% of the responses bein

[2022-10-06 20:15] anuraghazra commented on #2130
@brundabharadwaj sorry for that inconvinence

Yes you can fix this for free.

I'm assuming you already forked github-readme-stats on your github, so all you have to do is edit the `vercel.json` and set `"maxDuration": 10`
https://github.com/anuraghazra/github-readme-stats/blob/master/vercel.json#L5

[2022-10-06 20:58] andrii-bodnar commented on #2053
Hey everyone,

How about using a localization platform? I like [Crowdin](https://crowdin.com/) - a cloud-based solution that streamlines localization management for your team. It's free for open-source. Crowdin allows the community to collaborate on content translation and there is a possibility to set up an automatic translations synchronization using Crowdin's native GitHub integration or GitHub

[2022-10-07 00:53] #2139 closed

[2022-10-07 02:57] arnu515 commented on #1761
I see. Alright then. Thanks

[2022-10-07 08:41] rickstaa commented on #2139
No problem. A 3.3k difference is possible if you did a lot of non-commit actions on GitHub. You can check the data we receive from github using the GraphQL explorer:

[code]

[code]

There, however, is a small bug with the `include_all_commits` parameter that sometimes leads to wrong commit numbers. #1691 should fix this but requires some changes before merging it.

[2022-10-07 09:17] rickstaa commented on #2128
@CaedenPH thanks for your feature request. I, however, think the `k`, which stands for kilo, is a well-accepted abbreviation. We use it to keep the card from going bulky. Currently, we will therefore keep this behaviour and use it over human-readable text.

[2022-10-07 10:27] brundabharadwaj commented on #2130
Thanks for the help @anuraghazra . will try it it out!

[2022-10-07 10:43] rickstaa commented on #2128
I see your point. 🤔 I think it is mainly a matter of preference. Let's keep this issue open. If enough people upvote this issue, we might reconsider. 👍🏻

[2022-10-07 10:45] #2144 closed, assigned to nobody

[2022-10-07 11:27] jameslee214 commented on #2139
@rickstaa  Thank you again for your reply.

I look forward to solving the problem.!!

[2022-10-07 11:56] rickstaa opened #2152 "Export common modules as npm package"
**Is your feature request related to a problem? Please describe.**

As I pointed out in #1867, I think exporting the functions and modules from GRS's common module will be very useful for people wanting to create their own readme cards.

**Describe the solution you'd like**

It would be great if the functions and modules in the `common` folder could be exported using an npm package. See #2151.

[2022-10-07 11:58] rickstaa commented on #1867
I created #2151 to make the functions and modules under the `common` folder available to be used via an npm package.

[2022-10-07 12:05] rickstaa commented on #1563
@hamishmb I just created a PR to export the modules and functions from the `common` folder of GRS as an npm package. If #2151 is merged, you can easily create your own GitLab-based readme stats card using the `github-readme-stats` package.

[2022-10-07 12:51] rickstaa commented on #1471
Posting this here as a reference:

-------

Hey everyone, sorry for the recent downtimes.

For the sake of transparency, we get a huge amount of requests per month (it's kind of mind boggling for a side project which I built just for fun). Here's the vercel dashboard statistics:

![image](https://user-images.githubusercontent.com/35374649/194407743-9af65825-483a-49af-9e16-cac3a5ea5a50.png)

As you

[2022-10-07 12:54] rickstaa commented on #1760
Implemented in d7451d8288d700d9695689a8d2a3076994e29d22.

[2022-10-07 12:54] #1760 closed

[2022-10-07 13:08] shivam1646 commented on #2032
Hey @rickstaa, just checking in if there are any updates for PR #2129

[2022-10-07 14:22] #2032 closed

[2022-10-07 14:22] rickstaa commented on #2032
@shivam1646 I added the last docstrings and merged #2129 into the master. Thanks for your contribution!

[2022-10-07 14:23] hamishmb commented on #1563
Excellent, thanks for telling me.

I've done a little web development, so would need to learn more, but this might make a fun project someday :+1:

[2022-10-07 14:28] shivam1646 commented on #2032
Thank you @rickstaa

[2022-10-07 15:55] rickstaa commented on #1772
The strange thing is that this timeout only occurs for me when using the GraphQL API through `https://api.github.com/graphql` as we do in GRS. When doing so I will get the following error:

[code]

[code]

I will correctly receive your data:

[code]

Maybe you can give the support `A0B6:EC6F:57AF040:58F6D1E:63404A63` so they can investigate this issue further.

[2022-10-07 16:31] brundabharadwaj commented on #2130
Hi @anuraghazra , following with the previous discussion, deployment was successful after modification of json file. But the issue persist even after adding my own domain generated. Please let me know if any other details are required from my end .

[2022-10-07 16:55] rickstaa commented on #2130
@brundabharadwaj Did you create a PAT like is explained in the documentation?

10. Create a personal access token (PAT) [here](https://github.com/settings/tokens/new) and enable the repo permissions (this allows access to see private repo stats).
11. Add the PAT as an environment variable named PAT_1 (as shown).

![image](https://user-images.githubusercontent.com/17570430/194609874-d9a8df70-623d-4

[2022-10-07 17:01] brundabharadwaj commented on #2130
@rickstaa  yes I did.

[2022-10-07 17:05] rickstaa commented on #2130
@brundabharadwaj Strange. Can you maybe share your deployment URL?

[2022-10-07 17:07] brundabharadwaj commented on #2130
sure, here are the urls
[github-readme-stats-brundabharadwaj.vercel.app](http://github-readme-stats-brundabharadwaj.vercel.app/)

·
Automatic URL

[Learn More](https://vercel.com/docs/concepts/deployments/generated-urls)
[github-readme-stats-git-master-brundabharadwaj.vercel.app](http://github-readme-stats-git-master-brundabharadwaj.vercel.app/)
·
Automatic URL

[Learn More](https://vercel.com/doc

[2022-10-07 19:31] rickstaa commented on #2130
@brundabharadwaj I checked your deployment, and it looks like the `PAT_1` variable is not added to the Vercel instance or that it does not have the right permissions. Please check if you completed all the steps under the `hammer_and_wrench Step-by-step guide on setting up your own Vercel instance` subsection of the https://github.com/anuraghazra/github-readme-stats#deploy-on-your-own-vercel-instan

[2022-10-07 20:00] rickstaa commented on #2141
@brundabharadwaj If I understand you correctly, you want to have a new card that displays information about a given repository. Similar to the pin card but then containing the following:
- Repo name.
- Total Stars.
- Total Forks.
- Contributors.
- Open PR.
- Open Issues.
- Main language.

[2022-10-07 20:01] rickstaa commented on #1866
@thevinitgupta I think https://github.com/vercel/vercel/discussions/5019 will solve your issue. On second thought, however, I think adding these values to the (repo) pin card might not be desired. 😅 @anuraghazra created this card to allow users to add extra pins to their readme since GitHub only will enable users to pin six repositories. I, therefore, think it is best to keep the pin card as close

[2022-10-07 20:01] #1866 closed

[2022-10-07 22:20] LundPiyush opened #2156 "Create a way to count of the PR merged to private repo's"
### Is your feature request related to a problem? Please describe.

Current params are good but need to add one more param that should add the number of PR's merged to private repository to the total PR

### Describe the solution you'd like

count_pr_private_repo=true
Default value will be set as false . But one can change as true.

### Describe alternatives you've considered

_No response_

### A

[2022-10-08 02:42] brundabharadwaj commented on #2141
perfect ! :)

[2022-10-08 02:45] brundabharadwaj commented on #2130
@rickstaa Yes, tried deploying again and things are as expected now!
Thank you

[2022-10-08 03:03] brundabharadwaj opened #2157 "Grade description in the report card."
### Is your feature request related to a problem? Please describe.

Feature request is not related any of the existing problem.

Instead of just displaying the Grade as A+, A++, S and more, alongside we can also provide  description on when these grades are achieved.

### Describe the solution you'd like

From the code's perspective I can see these details available:
![image](https://user-images.g

[2022-10-08 10:39] rickstaa commented on #2156
@LundPiyush, thanks for your question. We don't have access to your private data. As a result, you need to [deploy your own Vercel instance](https://github.com/anuraghazra/github-readme-stats#deploy-on-your-own-vercel-instance) for the private stats (other than the commits) to show up (see https://github.com/anuraghazra/github-readme-stats/discussions/1449 for more information).

[2022-10-08 10:39] #2156 closed

[2022-10-08 10:43] rickstaa commented on #2157
@brundabharadwaj I'm not sure if I understand your request correctly. Do you want us to display more information about the ranks? Do you mean the explanation in the [readme](https://github.com/anuraghazra/github-readme-stats#github-stats-card) but then displayed when hovering the rank circle (see https://stackoverflow.com/questions/41768657/display-text-over-svg-element-on-hover).

[2022-10-08 10:45] rickstaa commented on #2130
Great to hear! I checked your instance and for me, it is working correctly:

[![Anurag's GitHub stats](https://github-readme-stats-brundabharadwaj.vercel.app/api?username=rickstaa
)](https://github.com/anuraghazra/github-readme-stats)

[code]

Maybe your theme settings cause the card to be fully black.

[2022-10-08 10:46] rickstaa commented on #2130
Let's track this on #1471 again.

[2022-10-08 10:46] #2130 closed

[2022-10-08 10:53] rickstaa commented on #455
Just placing this here so we don't forget. As pointed out by #2116, there also is a bug in the current rank implementation that skews the scores.

[2022-10-08 12:37] brundabharadwaj commented on #2157
--> Exactly! as you have explained over here! @rickstaa

[2022-10-08 13:03] parinzee commented on #2053
Hey there! @rickstaa I think I can tackle this. If you could assign this to me that would be great. Also you would be willing to use paid solutions right?

[2022-10-08 14:54] rickstaa commented on #2053
@andrii-bodnar Thanks for your message. I appreciate you trying to provide me with a solution. 👍🏻

I checked your profile and see you are a software engineer at Crowdin. I don't care since you offer a valid solution, but some people might fall over that. Maybe next time, add a disclaimer to your comment.

Having that said, I checked your documentation, videos and platform, and I have to say that I

[2022-10-08 14:58] rickstaa commented on #2053
@parinzee Thanks for offering to help implement this feature. Since https://github.com/anuraghazra/github-readme-stats is a free, open-source project, we can, unfortunately, not rely on paid solutions. The reason I mention the [google translation API](https://cloud.google.com/translate) API is that it offers 500000 free translation characters per month, which should be enough to translate the read

[2022-10-08 17:19] hhpr98 opened #2166 "Can I add a Vietnamese readme documentation?"
### Is your feature request related to a problem? Please describe.

I would like to add a new documentation that supporting Vietnamese

### Describe the solution you'd like

add new readme_vi.md

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-10-08 20:18] rickstaa commented on #2166
@hhpr98 Of course, feel free to create a PR. 👍🏻 However, please be aware that we do not accept [translation-related PRs](https://github.com/anuraghazra/github-readme-stats/pulls?q=is%3Aopen+is%3Apr+label%3Athemes+label%3Adoc-translation) for the current Hacktoberfest (see #2076). In addition, we are trying to automate the translations, but we haven't yet found a practical way to do this (see #2053

[2022-10-09 08:12] YChienHung opened #2169 "Could you make most used languages' width modifiable ?"
### Is your feature request related to a problem? Please describe.

look, it is unbeautiful.
If the width can be modified, it can make the picture more beautiful.
![image](https://user-images.githubusercontent.com/41673864/194745463-d160e7dd-4dcf-4491-a7ed-107b0786f5e4.png)

### Describe the solution you'd like

_No response_

### Describe alternatives you've considered

_No response_

### Additio

[2022-10-09 13:32] ZawadiSumba66 commented on #1663
Hi @rickstaa I would like to take on this task. Could please expound more on it?

[2022-10-09 14:15] IceTiki opened #2171 "Can I load the card without animation?"
### Is your feature request related to a problem? Please describe.

When I convert markdown file to pdf, the card always not animated ready.

### Describe the solution you'd like

_No response_

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-10-09 15:56] rickstaa commented on #1663
@ZawadiSumba66 Thanks for offering to work on this. This feature, however, is already possible with the current version of GRS. The following syntax should work.

[code]

![Anurag's GitHub stats](https://github-readme-stats.vercel.app/api?username=anuraghazra&count_private=true&bg_color=30,e96443,904e95,f0f,555)

Please check [the documentation](https://github.com/anuraghazra/github-readme-stats#g

[2022-10-09 15:56] #1663 closed

[2022-10-09 16:02] rickstaa commented on #2053
@parinzee, @Pranav2612000 I just removed the `hacktoberfest` label since this issue is not self-contained (it requires the building of a new translation action) and does, therefore, not adhere to the Hacktoberfest maintainer guidelines. That does not mean that I do not accept pull requests for this issue as Hacktoberfest submissions, but simply that this issue is quite involved, and I want to prev

[2022-10-09 16:11] hhpr98 commented on #2166
ok, got it. Ty.

[2022-10-09 17:23] rickstaa opened #2173 "tsdfdsfsdf"

[2022-10-09 17:24] #2173 closed

[2022-10-10 07:00] kitswas opened #2175 "Contradicting donation requests"
### Describe the bug

Quoting the ReadMe.

### Expected behaviour

_No response_

### Screenshots / Live demo link

![image](https://user-images.githubusercontent.com/90329875/194811955-004f84ab-9732-4ba1-97b5-898787e07b30.png)

https://github.com/anuraghazra/github-readme-stats/blob/master/readme.md

### Additional context

_No response_

[2022-10-10 11:08] rickstaa commented on #1515
@Rongronggg9 See #2177 and 4df8094e5266f28f7367552980f4e00b0c9421a9 for a example on how to purge the cache when the GraphQL and Rest api fail.

Further, please read https://github.com/anuraghazra/github-readme-stats/pull/211 because we are currently not fetching commits by year. In short, this is because we are trying to prevent the GraphQL and Vercel timeout limits from reaching. I think we coul

[2022-10-10 11:24] rickstaa commented on #1515
I created https://github.com/community/community/discussions/35675 to ask GitHub to make the `totalCommitContributions` and `restrictedContributionsCount` objects available under the `user` object. This feature would allow us to solve #1515 for the Public Vercel instance. Please show your support at https://github.com/community/community/discussions/35675.

[2022-10-10 11:37] rickstaa commented on #1852
Just a heads-up, I filled a feature request to make the total stars a specific user has received on his/her repositories available under the user object of the GraphQL API. Adding this feature would also enable #2111 on the public instance.https://github.com/community/community/discussions/35677. Please add your support there.

[2022-10-11 03:53] DIvkov575 commented on #1863
could I be assigned to this?

[2022-10-11 03:57] DIvkov575 commented on #1380
could I be assigned to this?

[2022-10-11 03:58] DIvkov575 commented on #1247
could I be assigned to this?

[2022-10-11 12:00] rickstaa opened #2179 "Create GRS action"
### Is your feature request related to a problem? Please describe.

Currently, the only way to create GRS cards is through the Public/Private Vercel instance. This method is user-friendly since people can just request their cards from the endpoint. Unfortunately, it, however, comes with several limitations:
- It uses the GraphQL API, which is rate limited (see https://docs.github.com/en/graphql/ov

[2022-10-11 12:06] rickstaa commented on #2179
@4l1fe Quick question. Did you already start working on this, or can I assign other people during the hacktoberfest?

[2022-10-11 12:25] rickstaa commented on #1380
@DIvkov575 I am happy to assign you to this issue, but I'm not sure it can be implemented without slowing the cards down too much. As explained by @anuraghazra in https://github.com/anuraghazra/github-readme-stats/pull/2099#discussion_r990822112, PRs should be mostly self-contained to prevent the Vercel function or GitHub from timing out. The [devicon npm package](https://www.npmjs.com/package/dev

[2022-10-11 12:50] rickstaa commented on #1247
@DIvkov575 Turns out this was already done in #289 but closed by the stale bot. Let's first check with @anuraghazra whether he wants to add support for the forks stat.

[2022-10-11 17:10] Ingenious-c0der opened #2181 "Wrong Commit Count , correct count on github api."
### Describe the bug

When I use the link with options: include private and include all the total commit count returned is 176, but in reality it is around 655. It was working fine till yesterday, with no changes made today, it's bugged.

when I do not use the include all option it shows 554 for 2022
when I do not use the include private option it shows 483
when I use both it shows 176 instead of

[2022-10-11 17:40] DIvkov575 commented on #1380
@anuraghazra @rickstaa Do you think it would be possible to add images by adding them to the person's readme repo and passing image paths into the card?

[2022-10-11 19:57] Nikhil562 commented on #2181
please assign this to me , I can fix this issue

[2022-10-12 06:19] milkshakegum commented on #1852
Hi! I'm experiencing the same issue too!

This is my stats card:
[![Github Stats of Milk](https://github-readme-stats.vercel.app/api?username=milkshakegum&show_icons=true&title_color=fff&icon_color=f9f9f9&text_color=9f9f9f&bg_color=141617&count_private=true&include_all_commits=true&hide_border=true&hide_title=true)](https://github-readme-stats.vercel.app/api?username=milkshakegum&show_icons=true&t

[2022-10-12 07:12] rickstaa commented on #1852
@milkshakegum Thanks for your report. Merging:
-https://github.com/anuraghazra/github-readme-stats/pull/2111
- #2159
- #2177

Will fix the issues you experience. They are not yet merged into the master because we have to make sure the GraphQL and Vercel limits are not hit. We will likely implement this as an opt-in for Vercel instance and Github Action users (see https://github.com/anuraghazra/git

[2022-10-12 07:15] rickstaa commented on #2181
@Ingenious-c0der this is likely a duplicate of https://github.com/anuraghazra/github-readme-stats/issues/1515. Merging https://github.com/anuraghazra/github-readme-stats/pull/2177 will fix this issue. You can already use these on your own fork. They are not yet merged into the master because we have to ensure the GraphQL and Vercel limits are not hit. We will likely implement this as an opt-in for

[2022-10-12 07:15] #2181 closed

[2022-10-12 08:13] rickstaa commented on #1380
@DIvkov575 To give you a bit more context. The timeout I'm talking about is the Vercel `maxDuration` timeout we must adhere to (see https://vercel.com/docs/concepts/limits/overview). That said, we might be able to include this as an opt-in feature that can be enabled using an environment variable. This would allow us to enable language icons for the GitHub action where these timeouts do not exist

[2022-10-12 10:46] LundPiyush commented on #2156
@rickstaa thanks . So total PR merged I need to deploy my own vercel instance as count_private won't count my PR merged on private repository ?

[2022-10-12 11:39] rickstaa commented on #2156
@LundPiyush That's correct. Please let us know if we could update the documentation to clarify unclarities (see https://github.com/anuraghazra/github-readme-stats#adding-private-contributions-count-to-total-commits-count).

[2022-10-12 13:22] RedHeadphone commented on #1708
Can I work on it?

[2022-10-13 02:10] b0o commented on #1633
Perhaps [satori](https://github.com/vercel/satori) might be another solution?

[2022-10-13 09:37] mehulbaid commented on #2052
@rickstaa I want in on this too

[2022-10-13 10:16] rickstaa commented on #2179
I'm waiting for #2052 to be completed, as this will speed up my development.

[2022-10-13 10:46] rickstaa commented on #2052
@mehulbaid Great that you want to contribute to GRS. 💪🏻  I think enough people are already working on this issue (see https://github.com/anuraghazra/github-readme-stats/issues/2052#issuecomment-1265706637).

[2022-10-13 10:48] rickstaa commented on #1633
@b0o Thanks for your suggestion https://github.com/vercel/satori is indeed a good solution. @anuraghazra started experimenting with it already 🚀.

<blockquote class="twitter-tweet"><p lang="en" dir="ltr">This is amazing. <br><br>It&#39;ll potentially be a game changer for github-readme-stats. Can&#39;t wait to make a prototype with it.<a href="https://t.co/RppwBrKlBC">https://t.co/RppwBrKlBC</a></

[2022-10-13 11:06] rickstaa commented on #1708
@RedHeadphone I am not 100% sure if I understand the feature request of @altherlex, but I guess it is about removing the percentages on the card. Feel free to create a PR for this option, and I will review it! I can not promise that it will be merged into the master shortly since #1708 doesn't have many upvotes.

https://github.com/anuraghazra/github-readme-stats/blob/master/src/cards/top-language

[2022-10-13 12:42] rickstaa commented on #1471
This bug is improved when the following PRs are merged:

- #2121: Adds support for more PATs.
- #2124: Speeds up initial card loading.
- #2159: Removes one GraphQl function call, reducing the PAT deterioration rate.
- #2177: Makes sure that errors are not cached.
- #2178: Should be checked since it looks like some PATs are expired.

[2022-10-13 14:39] RedHeadphone commented on #1708
how is that correcting width? instead it is increasing size from it's original value

[2022-10-13 15:21] rickstaa commented on #1708
@RedHeadphone I haven't worked on the language card in a while, and that code was written by @anuraghazra, but here is my explanation. The code in the compact card function ensures that language results can be stacked next to each other. The maximum percentage we can get is 100% which is three characters. In this case, in the compact card, you will only have one item, so you don't need to worry ab

[2022-10-13 15:41] RedHeadphone commented on #1708
but that progress variable isn't used for character offset, it is used for progress bar rect. To me that logic seems to be wrong.

with that logic
![image](https://user-images.githubusercontent.com/55500003/195641282-738a4605-7b4e-435b-a1b2-b69c5da48a55.png)
![image](https://user-images.githubusercontent.com/55500003/195642134-a8b5e739-6343-40e9-8bdc-b164e7d489de.png)

without that logic
![image](

[2022-10-13 16:46] RedHeadphone commented on #1046
[screen-capture.webm](https://user-images.githubusercontent.com/55500003/195656261-62ab7e56-d711-4071-8953-008264a45ebd.webm)
@Andre601 @rickstaa
Is this animation good? right now it only works on compact

[2022-10-13 18:35] rickstaa commented on #1046
I think it looks great. Looking forward to your PR! 🔥

[2022-10-13 18:42] rickstaa commented on #1708
I just checked the code on my laptop, and I think your conclusion is correct. The `createLanguageTextNode` function is responsible for the card item generation, while the code you showed creates the progress bar. @anuraghazra do you clamp the progress of languages at 10% to keep them from disappearing on the card? Maybe let's add a short comment explaining the behaviour.

[2022-10-14 07:47] CharlesNepote opened #2193 "Voting system allowing people to prioritize"
### Is your feature request related to a problem? Please describe.

Issue: Github "voting" system is binary: +1 or not.

We would like to let people express their own preferences. If I think this issue is more important to me than other ones, I would like to claim it.

We have tested the following system to sort the issues: each participant has 100 credits quarterly and he can put them on the issu

[2022-10-14 08:45] rickstaa commented on #2193
@CharlesNepote Thanks for your feature request. I gave an answer on [the action repository](https://github.com/rickstaa/top-issues-action) (see https://github.com/rickstaa/top-issues-action/issues/94#issuecomment-1278682972. Closing this here for now.

[2022-10-14 08:45] #2193 closed

[2022-10-14 20:50] VianaSamuel commented on #1
So, I'm kinda a newbie on git and I was trying to follow your tutorial.
Everything went fine until the 8th step (```git push```).

That's what I got when I tried to do that in the terminal:
[code]

So I tried the ```git push --set-upstream origin org-stats``` and everything (apparently) went fine, the Vercel deployed again, but my stats cards was still the same.

If possible, could you give me som

[2022-10-15 03:31] RedHeadphone commented on #1708
even I don't feel that this option will be used much, If anyone else wants to do this, go ahead!

[2022-10-15 06:31] RedHeadphone commented on #1046
non compact layout animation
[screen-capture.webm](https://user-images.githubusercontent.com/55500003/195972887-c4a6ec0b-1425-4e90-8d51-59eb5a10ef7f.webm)

[2022-10-15 07:51] rickstaa commented on #1046
@RedHeadphone I like this! Your animation skills are on fire 🔥.

[2022-10-15 10:14] rickstaa commented on #1
For now, you should add the `&role=OWNER,COLLABORATOR` parameter to your card for the organization results to show up. This is not yet documented since this feature has not yet been merged into the master branch. I will probably change it to `&include_orgs` when we release it.

[2022-10-16 09:10] rickstaa commented on #1053
@adi-uchiha, while checking #2107, I noticed that #1053 and #764 are related and that #1053 should best be solved in #2107 since this PR adds a lot of new code. Merging #1053 will therefore solve this issue. Sorry for the confusion.

[2022-10-16 09:11] rickstaa commented on #1053
This issue is solved when #2107 is merged.

[2022-10-16 10:35] rickstaa commented on #909
Closing this since I can not reproduce the issue anymore.

[code]

[![Top Langs](https://github-readme-stats.vercel.app/api/top-langs/?username=anuraghazra&hide=javascript,html)](https://github.com/anuraghazra/github-readme-stats)

[code]

[![Top Langs](https://github-readme-stats.vercel.app/api/top-langs/?username=anuraghazra)](https://github.com/anuraghazra/github-readme-stats)

[code]

[![Top L

[2022-10-16 10:35] #909 closed

[2022-10-17 10:14] CharlesNepote commented on #2193
Thanks!

[2022-10-18 14:36] cloudybyte commented on #1471
Hey there, I just encountered the same error as probably most here over the last month.
Just curious: What would prevent us/you/someone from hosting this on a VPS or sth? The request load doesn't seem that bad (10 requests/s) after all. Or is there no issue with vercel at all and its just the GitHub API quota being used up?

[2022-10-18 14:49] rickstaa commented on #1471
@cloudybyte Thanks for letting us know and for your question. There exist [Vercel Limits](https://vercel.com/docs/concepts/limits/overview), but we are not close to hitting these because we using caching. The GraphQL limits cause the PAT error (see https://docs.github.com/en/graphql/overview/resource-limitations). Hosting on another provider will, therefore, not help.

The PRs explained in https:/

[2022-10-18 14:57] rickstaa commented on #1471
@cloudybyte When did you encounter the error? Our downtime monitor (queries every 15 min) does not show any downtime in the last seven days.

![image](https://user-images.githubusercontent.com/17570430/196466392-67e13962-b4c8-48cf-831d-fdf7535a40af.png)

[2022-10-18 15:04] rickstaa commented on #1471
Very strange. I don't have this error when I request your card at https://github-readme-stats.vercel.app/api?username=cloudybyte&show_icons=true&locale=en&theme=cobalt.

[![Anurag's GitHub stats](https://github-readme-stats.vercel.app/api?username=cloudybyte&show_icons=true&locale=en&theme=cobalt)](https://github.com/anuraghazra/github-readme-stats)

[code]

[2022-10-18 15:06] cloudybyte commented on #1471
Thats really strange... Its working in your comment, but broken on my profile...
Thats probably sth to look into

[2022-10-18 15:08] rickstaa commented on #1471
That's very nice of you help is always welcome! 🚀

[2022-10-18 15:14] rickstaa commented on #1471
It could be a caching problem but I thought I fixed this in https://github.com/anuraghazra/github-readme-stats/commit/4df8094e5266f28f7367552980f4e00b0c9421a9. Maybe the header is still incorrect. Could you maybe do the following troubleshooting for me?

#### Steps

1. Open https://github-readme-stats.vercel.app/api?username=cloudybyte&show_icons=true&locale=en&theme=cobalt in a separate browser t

[2022-10-18 15:15] cloudybyte commented on #1471
https://user-images.githubusercontent.com/49766357/196471465-dc215627-e6dc-4df0-ac6e-33cdf0e1ba08.mp4

[2022-10-18 15:17] cloudybyte commented on #1471
1) works
2) works (tested in chromium, ff is my default)
3) there is apparently no local cache for `*.vercel.app` saved

[2022-10-18 15:21] rickstaa commented on #1471
Thanks for the information. I will check the caching headers later this week. What is a FF bug 🤓?

[2022-10-18 15:31] rickstaa commented on #1471
@cloudybyte Can you maybe check the caching headers in FF for me (see video)?

https://user-images.githubusercontent.com/17570430/196475753-feb94563-c547-4a72-9850-dd935bb32082.mp4

[2022-10-18 15:34] rickstaa commented on #1471
@cloudybyte One last thing that would help after you gave me the cache header information is to check if the problem goes away when you click the Disable Cache button. 🙏🏻 For me, that solves the problem, so the no-storage header is not working on Firefox.

![image](https://user-images.githubusercontent.com/17570430/196476666-44ee1e20-1beb-4b78-a62e-7f81d363172e.png)

[2022-10-18 15:39] cloudybyte commented on #1471
Mhm, maybe not. I tried requesting my profile with Chromium and FF in private mode and both are working.
The only issue is with my non-private-mode FF

[2022-10-18 15:40] rickstaa commented on #1471
Great detective work! Could be the issue. I will check if the GitHub CDN respects the `no-store` header.

[2022-10-18 15:41] cloudybyte commented on #1471
It doesn't look like GitHub being the issue, based on [my other findings](https://github.com/anuraghazra/github-readme-stats/issues/1471#issuecomment-1282597331).

[2022-10-18 15:44] rickstaa commented on #1471
So it just works if you use the GitHub CDN URL in any other browser?

[2022-10-18 15:44] cloudybyte commented on #1471
Yeah

[2022-10-18 15:44] cloudybyte commented on #1471
Yea

[2022-10-18 15:53] rickstaa commented on #1471
It looks like a particular Vercel + Firefox error. The card shown in https://github.com/anuraghazra/github-readme-stats/issues/1471#issuecomment-1282585613 is coming from the Vercel cache (time 15:30).

![image](https://user-images.githubusercontent.com/17570430/196480847-f39f80ab-c77a-4636-a9de-d360a325bfdf.png)

[2022-10-18 16:20] Kentakoong commented on #1471
<img width="838" alt="Screen Shot 2022-10-18 at 23 20 18" src="https://user-images.githubusercontent.com/35761701/196487055-b1fdeb3a-a6ad-41db-895a-4a4dcf842256.png">

mine's not showing the GH Stats and the Top Langs

[2022-10-18 16:33] cloudybyte commented on #1471
Can you try fetching the stats directly using this url: `https://github-readme-stats.vercel.app/api?hide_rank=true&show_icons=true&include_all_commits=false&count_private=true&disable_animations=false&theme=dark&locale=en&hide_border=true&custom_title=Github&nbsp;Stats&username=Kentakoong` and tell us which browser u're using? (Your profile is broken on my side, but fetching directly works fine...

[2022-10-18 16:34] rickstaa commented on #1471
@Kentakoong, now it doesn't seem to be a caching issue anymore. The PATs quota for this hour has simply been used up. To decrease this occurrence, #2121 has to be merged, and some PATs have to be replaced (see #2121). I will check back in an hour.

[2022-10-18 16:42] rickstaa commented on #1471
You are right! Fetching directly still works, so maybe the PATs still have quota left, and this is a cached response on the server side that is still being shown from the GitHub CDN. Very strange problem.

**Your syntax markdown**

[![Anurag's GitHub stats](https://github-readme-stats.vercel.app/api?hide_rank=true&show_icons=true&include_all_commits=false&count_private=true&disable_animations=fals

[2022-10-18 16:53] rickstaa commented on #1471
@cloudybyte and @
Kentakoong  It Looks like the problem at the current time only is present when the `<IMG>` tag is used (see https://github.com/anuraghazra/github-readme-stats/issues/1471#issuecomment-1282690404). This, however, is, I think, a coincidence and could as well have been the other way around.

I think the GitHub CDN could still cause this caching problem. This behaviour can be seen in

[2022-10-18 16:59] rickstaa commented on #1471
@cloudybyte I think I found the problem. The GitHub CDN needs the `no-cache` (see https://docs.github.com/en/authentication/keeping-your-account-and-data-secure/about-anonymized-urls#an-image-that-changed-recently-is-not-updating). I updated the cache using the `curl -X PURGE https://camo.githubusercontent.com/bdc4b7001ae4db64d42b0567e58c40584162aff3cd12f250869298dafec66d78/68747470733a2f2f6769746

[2022-10-18 17:01] cloudybyte commented on #1471
Mhm, that sounds weird. Thanks for fixing it tho.
hmu if u need help or anything

[2022-10-18 17:03] rickstaa commented on #1471
Yea strange behaviour indeed the GitHub CDN should also respect `no-store` header. I think 98f9045f987112bb3d4f1a0160f3e0d93ef5bd52 will fix the issues. Please feel free to comment below if it occurs again.

[2022-10-19 20:34] asrivastav-aag commented on #519
My stats are not updating. I've done more than 10 commits and contributing to 2 repos, but its showing total 6 commits and 0 contributions.
Thanks to look into this.

<img width="507" alt="image" src="https://user-images.githubusercontent.com/110137595/196798197-c9a2efdc-b777-4fd5-8600-f04ce015fd1b.png">

[2022-10-20 07:17] rickstaa commented on #519
@asrivastav-aag Thanks for your question. We use caching to reduce our server load. Stats are updated every 4 hours (see https://github.com/anuraghazra/github-readme-stats#common-options).

[2022-10-20 16:53] asrivastav-aag commented on #519
Thank you for the details!

[2022-10-21 22:57] rickstaa commented on #1649
@adi-uchiha How is your Hacktoberfest PR going? Feel free to let me know if you need any help or if something is unclear.

[2022-10-21 22:59] rickstaa commented on #2074
@lostgirljourney How is your Hacktoberfest PR going 😃? Feel free to tag me if anything is unclear. No hurries 👍🏻.

[2022-10-22 05:19] adi-uchiha commented on #1649
Hey @rickstaa  I am bit busy due to my college exams. If somebody comes up for this issue you can unassign me

[2022-10-22 07:56] Hafiz-Sakib opened #2215 "new card request"
### Is your feature request related to a problem? Please describe.

please add a new card like their Contribution(1st one Which one is with graph) && Commit Card;

https://github.com/vn7n24fzkq/github-profile-summary-cards

### Describe the solution you'd like

_No response_

### Describe alternatives you've considered

_No response_

### Additional context

_No response_

[2022-10-22 08:01] AgentDS opened #2216 "wrong Total Stars Earned"
### Describe the bug

<img width="576" alt="Screen Shot 2022-10-22 at 3 57 41 PM" src="https://user-images.githubusercontent.com/19991349/197327869-2ff19fc0-86af-47ab-afbd-07bd9a7c2fc4.png">
the stars shown here before include stars from repo I am owner and COLLABORATOR.
I used the API link as "https://github-readme-stats-one-bice.vercel.app/api?username=AGENTDS&show_icons=true&theme=algolia&role=

[2022-10-23 06:08] lostgirljourney commented on #2074
hey @rickstaa, sorry for delay, caught in office work. but i am on it.

[2022-10-23 09:00] rickstaa commented on #2074
@lostgirljourney No worries! Take your time 👍🏻.

[2022-10-23 12:02] CaedenPH opened #2219 "Card showing percent of merged, open and closed pr/issues"
### Is your feature request related to a problem? Please describe.

It would be cool to have a card that shows the % of merged, open and closed pull requests and the % of open and closed issues.

### Describe the solution you'd like

[code]
this would be the graphql query most likely

### Describe alternatives you've considered

_No response_

### Additional context

It could be a new type of card

[2022-10-23 22:13] Jaya-sys commented on #1989
Hey can you assign this issue to me?

[2022-10-24 05:09] MusaAqeel opened #2220 "Github Stats Bug - Only showing half of my commits"
### Describe the bug

Its showing me only half of my actual commits. https://github.com/MusaAqeel/MusaAqeel

### Expected behaviour

It should show all 345 commits, but its only showing around half.

### Screenshots / Live demo link

_No response_

### Additional context

_No response_

[2022-10-24 07:30] rickstaa commented on #1989
@Jaya-sys Thanks a lot for wanting to implement this feature. I already implemented a cloud function that can be used to check whether the public instance is up (See https://github.com/anuraghazra/github-readme-stats/pull/2178).

https://github-readme-stats-git-monitoring-github-readme-stats-team.vercel.app/api/status/up

<img alt="Custom badge" src="https://img.shields.io/endpoint?url=https%3A%2F

[2022-10-24 07:53] rickstaa commented on #1989
@Jaya-sys Thanks a lot for wanting to implement this feature. I already implemented a cloud function that can be used to check whether the public instance is up (See https://github.com/anuraghazra/github-readme-stats/pull/2178).

https://github-readme-stats-git-monitoring-github-readme-stats-team.vercel.app/api/status/up

<img alt="Custom badge" src="https://img.shields.io/endpoint?url=https%3A%2F

[2022-10-24 07:57] rickstaa commented on #1989
Other issues that are still available to be worked on for Hacktoberfest are:
- https://github.com/anuraghazra/github-readme-stats/issues/1649
- https://github.com/anuraghazra/github-readme-stats/issues/1708

[2022-10-24 07:59] rickstaa commented on #1649
@adi-uchiha No problem. Good luck with the exams 🚀. You still have seven days before Hacktoberfest ends. Feel free to ask to be reassigned if you find some time to create this PR.

[2022-10-24 08:03] rickstaa commented on #2219
@CaedenPH, thanks for your feature request. We might implement this in the future if there is enough interest (i.e. upvotes).

[2022-10-24 08:09] rickstaa commented on #2216
@AgentDS Thanks for your bug report. We currently do not include organization stars on the public Vercel instance. Please check https://github.com/anuraghazra/github-readme-stats/discussions/2186 for more information.

[2022-10-24 08:09] #2216 closed

[2022-10-24 08:16] rickstaa commented on #2215
@Hafiz-Sakib Thanks for your new card request. We might implement it in the future if it receives enough interest from the community (i.e. upvotes). 👍🏻 I, however, think it is faster to ask the [github-profile-summary-cards](https://github.com/vn7n24fzkq/github-profile-summary-cards) repo to implement a customization of themes.

[2022-10-24 08:22] Hafiz-Sakib commented on #2215
Thanks for Your reply &  suggestion.I will Definitely do that

[2022-10-24 11:39] raychanks opened #2223 "Wakatime staggered animation is not working"
### Describe the bug

Wakatime staggered animation is not working, the content is shown at once instead of showing up one by one.

I discovered this when I am looking at the issue #1723 and found that the style `animation-delay` has a value of `NaNms`. I used `KrishnanS2006`'s profile for this.

### Expected behaviour

The content should show up one by one.

### Screenshots / Live demo link

https

[2022-10-24 11:55] raychanks commented on #1723
I think adjusting the progress bar's position is more appealing when compared to truncating the word.

As KrishnanS2006 said, a straight forward way is to increase the horizontal offset of the progress bar, but we might need to adjust again down the road.

Another way I can think of is to count the number of characters of the language, and then multiply by a certain factor to get the offset. If we

[2022-10-24 12:11] rickstaa commented on #1723
Thanks for your comment. I think decreasing the progress bar makes sense to me. 👍🏻 Feel free to create a PR. You can check if this format looks nice with the longest language name (see https://github.com/github/linguist/blob/master/lib/linguist/languages.yml), If not, we should also increase the card length a bit.

[2022-10-25 14:42] HADMARINE commented on #1471
Just informing that the server seems to be down for a while
![image](https://user-images.githubusercontent.com/46421618/197804876-22b25c3a-3c57-4f7c-81ad-4d02d97fd36d.png)

[2022-10-25 14:55] ZahidMKhan opened #2231 "Card doesn't load, says maximum retries exceeded"
### Describe the bug

the read-me stats card i have on my profile just not loading any information up anymore. It says that it retired fetching the information but failed every time and reached maximum retries limit. (check screenshot)

![image](https://user-images.githubusercontent.com/35687516/197807933-b41e9e81-7b37-4f14-8fea-5b5bcb191f72.png)

### Expected behaviour

_No response_

### Screens

[2022-10-25 14:57] Jaya-sys commented on #1989
@rickstaa  Yes i'd would like to work upon this

[2022-10-25 14:58] Jaya-sys commented on #1649
Hey I want to work on this issue? Can you assign this issue to me?

[2022-10-25 15:31] lazy-geek commented on #2231
i am facing same issue

[2022-10-25 19:34] rickstaa commented on #1471
@HADMARINE, thanks for letting us know the instance was indeed down for about 10 minutes. @anuraghazra, can you look at the issues above if you find the time? Especially #2178. It seems that only one of our PATs is still working. 🤔

[2022-10-25 19:37] rickstaa commented on #2231
@ZahidMKhan, thanks for your bug report. This issue is caused by the Public Vercel server being overloaded. The easiest way to prevent this error from happening is to deploy your own Vercel instance (see https://github.com/anuraghazra/github-readme-stats#deploy-on-your-own-vercel-instance). You can find more information in #1471.

[2022-10-25 19:37] #2231 closed

[2022-10-25 19:37] rickstaa commented on #2231
Closing this for now since this issue is tracked in #1471.

[2022-10-25 19:40] rickstaa commented on #1989
@Jaya-sys, great I assigned you to this issue. Do you need access to the grafana.com instance?

[2022-10-25 19:40] rickstaa commented on #1649
@Jaya-sys, thanks for considering contributing to GRS! 🚀 I assigned you to this issue.

[2022-10-26 00:15] Jaya-sys commented on #1989
Yes

[2022-10-26 15:15] Jaya-sys commented on #1649
@rickstaa  Hey can you explain the details like I have understood the issue if you could elaborate on the issue? Thank you

[2022-10-27 07:25] rickstaa commented on #1649
@Jaya-sys Yea, of course. Sorry for being unclear. This issue was flagged by @zgosalvez in https://github.com/anuraghazra/github-readme-stats/discussions/719, but I think the following was meant.

![image](https://user-images.githubusercontent.com/17570430/198217835-75f7964a-b74e-4df6-99cd-adb9f4b014e5.png)

To create this card, the card size should be adjusted to `width="290", height="180"` when

[2022-10-28 07:43] #2074 closed

[2022-10-28 07:44] rickstaa commented on #2074
Done in #2229.

[2022-10-28 07:44] rickstaa commented on #1001
Closing this since we have included all the currently available methods for creating a dynamic theme in documentation #2229 (see https://github.com/anuraghazra/github-readme-stats#responsive-card-theme).

[2022-10-28 07:44] #1001 closed

[2022-10-28 18:47] #1499 closed

[2022-10-29 07:17] mezzode opened #2236 "Fixing options documentation organization in readme"
### Is your feature request related to a problem? Please describe.

The readme has the options documentation for all the cards under the Stats Card section which is a little confusing

### Describe the solution you'd like

The options docs should be moved to be under the headers for each appropriate card section. Additionally since there's some duplication between the docs and the usage examples,

[2022-10-29 07:49] rickstaa commented on #2236
@mezzode first of all great that you want to contribute! 🚀 I agree that the documentation is a bit cluttered. I like your suggestions. Feel free to create a pull request to improve the documentation, and I will review it as a Hacktoberfest item. 👍🏻

[2022-10-30 13:59] CaedenPH opened #2244 "Display number of co-authors and discussions answered"
### Is your feature request related to a problem? Please describe.

I'm always frustrated when I don't know how many commits I have co-authored or how many discussions I have answered...

### Describe the solution you'd like

Perhaps more fields in the `github-stats-card` containing information about the number of discussions answered and total co-authors

### Describe alternatives you've consider

[2022-10-30 15:15] rickstaa commented on #2244
@CaedenPH Thanks for your feature request. I am also curious to know how much PR I have co-authored. 🤔 Let's see how much interest there is in this feature from the rest of the community (see https://github.com/anuraghazra/github-readme-stats/issues/1935). 👍🏻

[2022-10-30 15:22] rickstaa commented on #2244
@CaedenPH Thanks for your feature request. I am also curious to know how much PR I have co-authored. However, I'm unsure how interested others are in seeing a user's co-authored count 🤔. It would make more sense to add a feature request to https://github.com/community/community asking whether GitHub can show the co-authored count on the badge overview. I think similar stats should be shown on the

[2022-10-30 15:35] rickstaa commented on #1991
@codehangen I looked at your feature request this weekend, and I think it is double as I just found the following syntax to find the number of answered and created discussions for a user:

[code]

Feel free to create a PR to show this information on the Repo card. 👍🏻

[2022-10-30 15:45] rickstaa commented on #2244
@CaedenPH I just saw that https://github.com/anuraghazra/github-readme-stats/issues/1991 already requests the discussion information to be added to the stats card. You can add your support for that feature there.

Regarding the co-authored information, I'm happy to merge a  PR into the main branch if enough interest is expressed for his feature from the community (see https://github.com/anuraghazr